@namespace Blazorise
@inherits BaseComponent
<a @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" aria-current="@AriaCurrent" aria-disabled="@AriaDisabled" tabindex="@GetTabIndex()" @onclick="@ClickHandler" @attributes="@Attributes">@ChildContent</a>