@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@State">
    <li id="@ElementId" class="@ClassNames" style="@StyleNames" aria-disabled="@DisabledString" @attributes="@Attributes">
        @ChildContent
    </li>
</CascadingValue>