@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@store">
    <li id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </li>
</CascadingValue>