@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <nav aria-label="@AriaLabelAttribute">
        <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </ul>
    </nav>
</CascadingValue>