@namespace Blazorise
@inherits BaseComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="@ContentClassNames">
        @ChildContent
    </div>
</div>