@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed="true">
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <div class="@ContentClassNames">
            @ChildContent
        </div>
    </div>
</CascadingValue>