@inherits BaseComponent
<Div Class="@ClassNames"
     Style="@StyleNames"
     Background="@Background"
     TextColor="@TextColor"
     Border="BorderRounded"
     Padding="PaddingIs1OnX"
     TextOverflow="TextOverflow.Truncate"
     @onclick="@Clicked">
    @ChildContent
</Div>