@inherits BaseComponent
@typeparam TItem
@using Blazorise.Gantt.Extensions
@using Blazorise.Gantt.Utilities
<Div Class="@ClassNames" Style="@StyleNames" Padding="PaddingIs3" Flex="FlexJustifyContentBetweenAlignItemsCenterWrap" Gap="GapIs2">
    <Div Flex="FlexAlignItemsCenterWrap" Gap="GapIs1">
        <Buttons Margin="MarginIs2FromEnd">
            <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnTodayClick">@Localizer.Localize( Gantt.Localizers?.TodayLocalizer, LocalizationConstants.Today )</Button>
            <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnPreviousClick" aria-label="@Localizer.Localize( Gantt.Localizers?.PreviousLocalizer, LocalizationConstants.Previous )">
                <Icon Name="IconName.ChevronLeft" />
            </Button>
            <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnNextClick" aria-label="@Localizer.Localize( Gantt.Localizers?.NextLocalizer, LocalizationConstants.Next )">
                <Icon Name="IconName.ChevronRight" />
            </Button>
        </Buttons>

        @if ( ShowViewButtons )
        {
            <Buttons Margin="MarginIs2FromEnd">
                @if ( ShowDayViewButton )
                {
                    <Button Color="@(SelectedView == GanttView.Day ? Color.Primary : Color.Secondary)" Size="Size.Small" Outline Active="@(SelectedView == GanttView.Day)" Clicked="@OnDayViewClick">@Localizer.Localize( Gantt.Localizers?.DayLocalizer, LocalizationConstants.Day )</Button>
                }
                @if ( ShowWeekViewButton )
                {
                    <Button Color="@(SelectedView == GanttView.Week ? Color.Primary : Color.Secondary)" Size="Size.Small" Outline Active="@(SelectedView == GanttView.Week)" Clicked="@OnWeekViewClick">@Localizer.Localize( Gantt.Localizers?.WeekLocalizer, LocalizationConstants.Week )</Button>
                }
                @if ( ShowMonthViewButton )
                {
                    <Button Color="@(SelectedView == GanttView.Month ? Color.Primary : Color.Secondary)" Size="Size.Small" Outline Active="@(SelectedView == GanttView.Month)" Clicked="@OnMonthViewClick">@Localizer.Localize( Gantt.Localizers?.MonthLocalizer, LocalizationConstants.Month )</Button>
                }
                @if ( ShowYearViewButton )
                {
                    <Button Color="@(SelectedView == GanttView.Year ? Color.Primary : Color.Secondary)" Size="Size.Small" Outline Active="@(SelectedView == GanttView.Year)" Clicked="@OnYearViewClick">@Localizer.Localize( Gantt.Localizers?.YearLocalizer, LocalizationConstants.Year )</Button>
                }
            </Buttons>
        }

        <Buttons Margin="MarginIs2FromEnd">
            <Button Color="Color.Success" Size="Size.Small" Outline Clicked="@OnAddTaskClick">
                <Icon Name="IconName.Add" />@Localizer.Localize( Gantt.Localizers?.AddTaskLocalizer, LocalizationConstants.AddTask )
            </Button>
            @if ( ShowExpandCollapseButtons )
            {
                <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnExpandAllClick">
                    @Localizer.Localize( Gantt.Localizers?.ExpandAllLocalizer, LocalizationConstants.ExpandAll )
                </Button>
                <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnCollapseAllClick">
                    @Localizer.Localize( Gantt.Localizers?.CollapseAllLocalizer, LocalizationConstants.CollapseAll )
                </Button>
            }
        </Buttons>
    </Div>

    <Div TextWeight="TextWeight.Bold" Margin="MarginIs2OnX" TextOverflow="TextOverflow.NoWrap">@RangeText</Div>

    <Div Flex="FlexAlignItemsCenterNoWrap" Margin="MarginIs1OnXIsAutoFromStart">
        <TextInput Value="@SearchText" ValueChanged="@OnSearchTextValueChanged" Placeholder="@Localizer.Localize( Gantt.Localizers?.SearchLocalizer, LocalizationConstants.Search )" Margin="MarginIs1FromEnd" Width="Blazorise.Width.Px( SearchInputWidth )" />
        <Dropdown @bind-Visible="@dropdownColumnChooserVisible" EndAligned>
            <DropdownToggle @onclick:stopPropagation>
                <Icon Name="@IconName.Table" Margin="MarginIs1FromEnd" Clicked="() => { }" />@Localizer.Localize( Gantt.Localizers?.ColumnsLocalizer, LocalizationConstants.Columns )
            </DropdownToggle>
            <DropdownMenu MaxMenuHeight="200px">
                <DropdownItem ShowCheckbox Checked="@ShowTitleColumn" CheckedChanged="@OnShowTitleColumnChanged">
                    @Localizer.Localize( Gantt.Localizers?.TaskLocalizer, LocalizationConstants.Task )
                </DropdownItem>
                <DropdownItem ShowCheckbox Checked="@ShowStartColumn" CheckedChanged="@OnShowStartColumnChanged">
                    @Localizer.Localize( Gantt.Localizers?.StartLocalizer, LocalizationConstants.Start )
                </DropdownItem>
                <DropdownItem ShowCheckbox Checked="@ShowEndColumn" CheckedChanged="@OnShowEndColumnChanged">
                    @Localizer.Localize( Gantt.Localizers?.EndLocalizer, LocalizationConstants.End )
                </DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </Div>
</Div>