@using System.Text
@typeparam TItem
<Div Class="b-scheduler-slot" Position="Position.Relative" Margin="Margin.IsAuto" Width="Blazorise.Width.Is100" Height="Height.Is100" Border="@BottomBorder" Background="@BackgroundColor" @onmouseenter="@OnMouseEnter" @onmouseleave="@OnMouseLeave" @onclick="@OnSlotClicked">
    @foreach ( var appointment in Appointments ?? Enumerable.Empty<TItem>() )
    {
        <Span Position="Position.Absolute" Background="Background.Warning" Flex="Flex.JustifyContent.Start.AlignItems.Center" TextOverflow="TextOverflow.Truncate" Style="@GetAppointmentStyle( appointment )">
            @Scheduler?.GetItemTitle( appointment )
        </Span>
    }
</Div>
@code {
    protected Task OnMouseEnter( MouseEventArgs eventArgs )
    {
        MouseHovering = true;

        return Task.CompletedTask;
    }

    protected Task OnMouseLeave( MouseEventArgs eventArgs )
    {
        MouseHovering = false;

        return Task.CompletedTask;
    }

    protected Task OnSlotClicked()
    {
        if ( Clicked is null )
            return Task.CompletedTask;

        return Clicked.Invoke( SlotStart, SlotEnd );
    }

    private string GetAppointmentStyle( TItem appointment )
    {
        var sb = new StringBuilder( "cursor: pointer; left: 0;" );

        var appointmentStart = Scheduler.GetItemStartTime( appointment );
        var appointmentEnd = Scheduler.GetItemEndTime( appointment );
        var appointmentDuration = appointmentEnd - appointmentStart;

        var top = ( appointmentStart - SlotStart ).TotalMinutes / 60 * ItemCellHeight;
        sb.AppendLine( $" top: {top}px;" );

        var height = appointmentDuration.TotalMinutes / 60 * ItemCellHeight;
        sb.Append( $" height: {height}px;" );

        sb.Append( " right: 0; z-index: 1;" );

        return sb.ToString();
    }

    private bool MouseHovering { get; set; }

    IFluentBorder BottomBorder => LastSlot ? null : Blazorise.Border.Is1.OnBottom;

    private Blazorise.Background BackgroundColor => MouseHovering
       ? Blazorise.Background.Light
       : Blazorise.Background.Default;

    IEnumerable<TItem> Appointments => Scheduler?.ItemsInRange( SlotStart, SlotEnd );

    [CascadingParameter] public Scheduler<TItem> Scheduler { get; set; }

    [Parameter] public Func<DateTime, DateTime, Task> Clicked { get; set; }

    /// <summary>
    /// Defines the start date of the slot.
    /// </summary>
    [Parameter] public DateTime SlotStart { get; set; }

    /// <summary>
    /// Defines the end date of the slot.
    /// </summary>
    [Parameter] public DateTime SlotEnd { get; set; }

    [Parameter] public bool LastSlot { get; set; }

    [Parameter] public double ItemCellHeight { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}