<Div Flex="Blazorise.Flex.Grow.Is1" Style="flex-basis: 0;">
    <Div Flex="Blazorise.Flex.Column.JustifyContent.Center.AlignItems.Center" Width="Blazorise.Width.Is100" Height="Height.Px( 60 )" Border="Border.Is1.OnBottom.Is1.OnStart">
        <Span TextWeight="TextWeight.Bold">
            @FirstDateOfWeek.ToString( "dddd" )
        </Span>
    </Div>

    @for ( var date2 = FirstDateOfWeek; date2 <= MaxDate; date2 = date2.AddDays( 7 ) )
    {
        var isCurrentMonth = date2.Month == SelectedDate.Month;
        var isWeekend = date2.DayOfWeek == DayOfWeek.Saturday || date2.DayOfWeek == DayOfWeek.Sunday;
        var textColor = isWeekend ? TextColor.Danger : TextColor.Default;
        var textWeight = isCurrentMonth ? TextWeight.SemiBold : TextWeight.Light;

        var dayNumberString = date2.Day;
        var dayNumberStyle = isCurrentMonth ? isWeekend ? "opacity: 0.5" : null : "opacity: 0.3";

        <Div Flex="Blazorise.Flex.Column.AlignItems.Center.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( 100 )" Border="Border.Is1.OnBottom.Is1.OnStart">
            <Span TextColor="@textColor" TextWeight="@textWeight" Style="@dayNumberStyle">@dayNumberString</Span>
            <Div Flex="Flex.Default" Width="Width.Is100" Height="Height.Is100">
            </Div>
        </Div>
    }
</Div>

@code {
    [Parameter] public DateOnly FirstDateOfWeek { get; set; }

    [Parameter] public DateOnly MinDate { get; set; }

    [Parameter] public DateOnly MaxDate { get; set; }

    [Parameter] public DateOnly SelectedDate { get; set; }
}
