@typeparam TItem
<Div Class="b-scheduler-day-view" Flex="Blazorise.Flex.Default.Grow.Is1">
    @{
        var maxAllDayItems = Scheduler.GetMaxOverlappingAllDayItems( SelectedDate, SelectedDate );

        <_SchedulerHourColumn TItem="TItem" StartTime="@StartTime" EndTime="@EndTime" HeaderCellHeight="@HeaderCellHeight" ItemCellHeight="@ItemCellHeight" MaxAllDayItems="@maxAllDayItems" />

        <_SchedulerDayColumn TItem="TItem" FirstViewDate="@SelectedDate" LastViewDate="@SelectedDate" StartTime="@StartTime" EndTime="@EndTime" WorkDayStart="@WorkDayStart" WorkDayEnd="@WorkDayEnd" Date="@SelectedDate" SlotsPerCell="@SlotsPerCell" HeaderCellHeight="@HeaderCellHeight" ItemCellHeight="@ItemCellHeight" MaxAllDayItems="@maxAllDayItems" />
    }
</Div>