@typeparam TItem
<Div Flex="Blazorise.Flex.Default.Grow.Is1">
    <_SchedulerHourColumn StartTime="@StartTime" EndTime="@EndTime" />

    <_SchedulerDayColumn TItem="TItem" StartTime="@StartTime" EndTime="@EndTime" Date="@SelectedDate" SlotsPerCell="@SlotsPerCell" />
</Div>