@inherits BaseComponent
@typeparam TItem
@using Blazorise.Scheduler.Extensions
@using Blazorise.Scheduler.Utilities
<Modal @ref="@modalRef" Centered Size="ModalSize.Large">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>
                @ModalTitle
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@validationsRef" Mode="ValidationMode.Manual">
                @if ( TitleAvailable )
                {
                    var titleColumn = Scheduler.GetEditableColumn( Scheduler.TitleField );

                    <Validation Validator="@OnValidateTitle">
                        <Field>
                            <FieldLabel>@(titleColumn?.Caption ?? Localizer.Localize( Scheduler.Localizers?.TitleLocalizer, LocalizationConstants.Title ))</FieldLabel>
                            <FieldBody>
                                @if ( titleColumn is null )
                                {
                                    <TextInput @bind-Value="@Title" Autofocus>
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextInput>
                                }
                                else
                                {
                                    @titleColumn.RenderEdit( EditItem, Title, value => Title = value as string, EditState )
                                }
                            </FieldBody>
                        </Field>
                    </Validation>
                }
                @if ( StartAvailable )
                {
                    var startColumn = Scheduler.GetEditableColumn( Scheduler.StartField );

                    if ( startColumn is null )
                    {
                        <Fields>
                            <Validation Validator="@OnValidateStartDate">
                                <Field ColumnSize="ColumnSizeIs12OnMobileIs6OnTablet">
                                    <FieldLabel>@Localizer.Localize( Scheduler.Localizers?.StartLocalizer, LocalizationConstants.Start )</FieldLabel>
                                    <FieldBody>
                                        <DatePicker TValue="DateOnly" Value="@StartDate" ValueChanged="@OnStartDateChanged" StaticPicker="false" InputMode="DateInputMode.Date" FirstDayOfWeek="@FirstDayOfWeek">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DatePicker>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            @if ( !AllDayAvailable || !AllDay )
                            {
                                <Validation Validator="@OnValidateStartTime">
                                    <Field ColumnSize="ColumnSizeIs12OnMobileIs6OnTablet">
                                        <FieldLabel>&nbsp;</FieldLabel>
                                        <FieldBody>
                                            <TimePicker TValue="TimeOnly" Value="@StartTime" ValueChanged="@OnStartTimeChanged" StaticPicker="false" TimeAs24hr />
                                        </FieldBody>
                                    </Field>
                                </Validation>
                            }
                        </Fields>
                    }
                    else
                    {
                        <Field>
                            <FieldLabel>@(startColumn.Caption ?? Localizer.Localize( Scheduler.Localizers?.StartLocalizer, LocalizationConstants.Start ))</FieldLabel>
                            <FieldBody>
                                @startColumn.RenderEdit( EditItem, Start, value => SetStart( (DateTime)value ), EditState )
                            </FieldBody>
                        </Field>
                    }
                }
                @if ( EndAvailable )
                {
                    var endColumn = Scheduler.GetEditableColumn( Scheduler.EndField );

                    if ( endColumn is null )
                    {
                        <Fields>
                            <Validation Validator="@OnValidateEndDate">
                                <Field ColumnSize="ColumnSizeIs12OnMobileIs6OnTablet">
                                    <FieldLabel>@Localizer.Localize( Scheduler.Localizers?.EndLocalizer, LocalizationConstants.End )</FieldLabel>
                                    <FieldBody>
                                        <DatePicker @bind-Value="@EndDate" StaticPicker="false" InputMode="DateInputMode.Date" FirstDayOfWeek="@FirstDayOfWeek">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DatePicker>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            @if ( !AllDayAvailable || !AllDay )
                            {
                                <Validation Validator="@OnValidateEndTime">
                                    <Field ColumnSize="ColumnSizeIs12OnMobileIs6OnTablet">
                                        <FieldLabel>&nbsp;</FieldLabel>
                                        <FieldBody>
                                            <TimePicker @bind-Value="@EndTime" StaticPicker="false" TimeAs24hr />
                                        </FieldBody>
                                    </Field>
                                </Validation>
                            }
                        </Fields>
                    }
                    else
                    {
                        <Field>
                            <FieldLabel>@(endColumn.Caption ?? Localizer.Localize( Scheduler.Localizers?.EndLocalizer, LocalizationConstants.End ))</FieldLabel>
                            <FieldBody>
                                @endColumn.RenderEdit( EditItem, End, value => SetEnd( (DateTime)value ), EditState )
                            </FieldBody>
                        </Field>
                    }
                }
                @if ( AllDayAvailable )
                {
                    var allDayColumn = Scheduler.GetEditableColumn( Scheduler.AllDayField );

                    <Field>
                        <FieldBody>
                            @if ( allDayColumn is null )
                            {
                                <Check TValue="bool" @bind-Value="@AllDay">
                                    @Localizer.Localize( Scheduler.Localizers?.AllDayLocalizer, LocalizationConstants.AllDay )
                                </Check>
                            }
                            else
                            {
                                @allDayColumn.RenderEdit( EditItem, AllDay, value => AllDay = (bool)value, EditState )
                            }
                        </FieldBody>
                    </Field>
                }

                @if ( RecurrenceRuleAvailable )
                {
                    var recurrenceRuleColumn = Scheduler.GetEditableColumn( Scheduler.RecurrenceRuleField );

                    <Divider />

                    @if ( recurrenceRuleColumn is null )
                    {
                        <_SchedulerRecurrenceEditor TItem="TItem" @bind-RecurrenceRule="@RecurrenceRule" FirstDayOfWeek="@FirstDayOfWeek" MinEndDate="@MinRecurringEndDate" />
                    }
                    else
                    {
                        <Field>
                            <FieldLabel>@(recurrenceRuleColumn.Caption ?? Localizer.Localize( Scheduler.Localizers?.RepeatEveryLocalizer, LocalizationConstants.RepeatEvery ))</FieldLabel>
                            <FieldBody>
                                @recurrenceRuleColumn.RenderEdit( EditItem, RecurrenceRule, value => RecurrenceRule = value as string, EditState )
                            </FieldBody>
                        </Field>
                    }

                    <Divider />
                }

                @if ( DescriptionAvailable )
                {
                    var descriptionColumn = Scheduler.GetEditableColumn( Scheduler.DescriptionField );

                    <Field>
                        <FieldLabel>@(descriptionColumn?.Caption ?? Localizer.Localize( Scheduler.Localizers?.DescriptionLocalizer, LocalizationConstants.Description ))</FieldLabel>
                        <FieldBody>
                            @if ( descriptionColumn is null )
                            {
                                <MemoInput @bind-Value="@Description" Rows="4" />
                            }
                            else
                            {
                                @descriptionColumn.RenderEdit( EditItem, Description, value => Description = value as string, EditState )
                            }
                        </FieldBody>
                    </Field>
                }
                @if ( Scheduler.AdditionalEditableColumns.Any() )
                {
                    <Fields>
                        @foreach ( var column in Scheduler.AdditionalEditableColumns )
                        {
                            var editTemplate = column.RenderEdit( EditItem, EditState );

                            if ( editTemplate is not null )
                            {
                                <Field ColumnSize="@(column.ColumnSize ?? ColumnSizeIsFull)">
                                    <FieldLabel>@(column.Caption ?? column.Field)</FieldLabel>
                                    <FieldBody>
                                        @editTemplate
                                    </FieldBody>
                                </Field>
                            }
                        }
                    </Fields>
                }
            </Validations>
            @if ( customValidationErrors.Any() )
            {
                <Paragraph TextColor="TextColor.Danger" Margin="MarginIs0FromBottom">
                    <UnorderedList Margin="MarginIs0FromBottom">
                        @foreach ( var error in customValidationErrors )
                        {
                            <UnorderedListItem>@error</UnorderedListItem>
                        }
                    </UnorderedList>
                </Paragraph>
            }
        </ModalBody>
        <ModalFooter Flex="FlexJustifyContentBetweenAlignItemsCenter">
            <Div>
                @if ( EditState == SchedulerEditState.Edit )
                {
                    <Button Color="Color.Danger" Outline Clicked="@Delete">
                        <Icon Name="IconName.Delete" Margin="MarginIs2FromEnd" />
                        @Localizer.Localize( Scheduler.Localizers?.DeleteLocalizer, LocalizationConstants.Delete )
                    </Button>
                }
            </Div>
            <Div>
                <Button Color="Color.Secondary" Clicked="@Cancel">
                    @Localizer.Localize( Scheduler.Localizers?.CancelLocalizer, LocalizationConstants.Cancel )
                </Button>
                <Button Color="Color.Primary" Clicked="@Submit">
                    @Localizer.Localize( Scheduler.Localizers?.SaveLocalizer, LocalizationConstants.Save )
                </Button>
            </Div>
        </ModalFooter>
    </ModalContent>
</Modal>