@typeparam TItem
<Div Flex="Blazorise.Flex.Default.Grow.Is1">
    <_SchedulerHourColumn StartTime="@StartTime" EndTime="@EndTime" CellHeight="@CellHeight" />

    <_SchedulerDayColumn TItem="TItem" StartTime="@StartTime" EndTime="@EndTime" WorkDayStart="@WorkDayStart" WorkDayEnd="@WorkDayEnd" Date="@SelectedDate" SlotsPerCell="@SlotsPerCell" CellHeight="@CellHeight" />
</Div>