@inherits BaseComponent
@typeparam TItem
@using Blazorise.Scheduler.Extensions
<Div Class="@ClassNames" Style="@StyleNames" Padding="Blazorise.Padding.Is3" Flex="Blazorise.Flex.JustifyContent.Between.AlignItems.Center">
    <Buttons>
        <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnTodayClick">
            @Localizer.Localize( Scheduler.Localizers?.TodayLocalizer, "Today" )
        </Button>
        <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnPreviousClick">
            <Icon Name="IconName.ChevronLeft" />
        </Button>
        <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnNextClick">
            <Icon Name="IconName.ChevronRight" />
        </Button>
    </Buttons>

    <Span TextWeight="TextWeight.Bold">
        @if ( WeekViewSelected )
        {
            var startOfWeek = SelectedDate.StartOfWeek( FirstDayOfWeek );

            <Span>@startOfWeek.ToLongDateString()</Span>
            <Span>-</Span>
            <Span>@startOfWeek.AddDays( 6 ).ToLongDateString()</Span>
        }
        else if ( WorkWeekViewSelected )
        {
            var startOfWeek = SelectedDate.StartOfWeek( FirstDayOfWorkWeek );

            <Span>@startOfWeek.ToLongDateString()</Span>
            <Span>-</Span>
            <Span>@startOfWeek.AddDays( 4 ).ToLongDateString()</Span>
        }
        else if ( MonthViewSelected )
        {
            <Span>@SelectedDate.ToString( "MMMM yyyy" )</Span>
        }
        else
        {
            @SelectedDate.ToLongDateString()
        }
    </Span>

    <Buttons>
        @if ( ShowDayViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@DayViewSelected" Clicked="@OnDayViewClick">
                @Localizer.Localize( Scheduler.Localizers?.DayLocalizer, "Day" )
            </Button>
        }
        @if ( ShowWeekViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@WeekViewSelected" Clicked="@OnWeekViewClick">
                @Localizer.Localize( Scheduler.Localizers?.WeekLocalizer, "Week" )
            </Button>
        }
        @if ( ShowWorkWeekViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@WorkWeekViewSelected" Clicked="@OnWorkWeekViewClick">
                @Localizer.Localize( Scheduler.Localizers?.WorkWeekLocalizer, "Work Week" )
            </Button>
        }
        @if ( ShowMonthViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@MonthViewSelected" Clicked="@OnMonthViewClick">
                @Localizer.Localize( Scheduler.Localizers?.MonthLocalizer, "Month" )
            </Button>
        }
    </Buttons>

    @ChildContent
</Div>