@typeparam TItem
<Div Class="b-scheduler-slot" Style="@GetSlotStyle()" Position="PositionRelative" Margin="MarginIsAuto" Width="WidthIs100" Height="HeightIs100" Border="@SlotBorderColor" Background="@SlotBackgroundColor" @onmouseenter="@OnMouseEnter" @onmouseleave="@OnMouseLeave" data-slot-start="@DataSlotStart" data-slot-end="@DataSlotEnd" @onclick="@OnSlotClicked" ondragover="event.preventDefault();" @ondragenter="@OnSlotDragEnter" @ondragleave="@OnSlotDragLeave" @ondrop="@OnSlotDrop">
    @foreach ( var viewItem in ViewItems ?? Enumerable.Empty<SchedulerItemViewInfo<TItem>>() )
    {
        var index = ViewItems.IndexOf( viewItem );
        var itemStyling = GetItemStyling( viewItem.Item );

        <Span Class="@GetItemClass( itemStyling.Class )" Style="@GetItemStyle( viewItem, index, ViewItems.Count, itemStyling.Style )" Position="PositionAbsolute" Border="BorderRounded" Background="@itemStyling.Background" TextColor="@itemStyling.TextColor" TextSize="@itemStyling.TextSize" Flex="FlexJustifyContentBetweenAlignItemsStart" Padding="PaddingIs1" TextOverflow="TextOverflow.Truncate" @onclick:stopPropagation draggable="@DraggableAttribute" @ondragstart="@(( e ) => OnItemDragStart( e, viewItem ))">
            @if ( viewItem.IsRecurring )
            {
                <Span>
                    <Icon Name="IconName.Sync" />
                </Span>
            }
            <Span @onclick="@(() => OnEditItemClicked( viewItem ))" TextOverflow="TextOverflow.Truncate" Width="WidthIs100" Height="HeightIs100">
                @Scheduler?.GetItemTitle( viewItem.Item )
            </Span>
            <Span @onclick="@(() => OnDeleteItemClicked( viewItem ))" Padding="PaddingIs1">
                <Icon Name="IconName.Delete" />
            </Span>
        </Span>
    }
</Div>