@typeparam TItem
<Div Class="b-scheduler-day-cell" Flex="FlexDefaultGrowIs1ShrinkIs1" Width="WidthIs100" Height="Height.Px( HeaderCellHeight )" Border="BorderIs1OnBottomIs1OnStart" Background="@BackgroundColor">
    <Div Class="b-scheduler-day-cell-inner" Width="WidthIs100" Flex="FlexColumn">
        @for ( int slotIndex = 1; slotIndex <= SlotsPerCell; ++slotIndex )
        {
            var slotStart = GetSlotStart( slotIndex );
            var slotEnd = GetSlotEnd( slotIndex );
            var lastSlot = slotIndex == SlotsPerCell;

            var viewItems = GetSlotItemViewsInfo( slotStart, slotEnd ).ToList();

            <_SchedulerSlot @key="@slotIndex" TItem="TItem" ViewItems="@viewItems" SlotStart="@slotStart" SlotEnd="@slotEnd" SlotClicked="@OnSlotClicked" EditItemClicked="@OnEditItemClicked" DeleteItemClicked="@OnDeleteItemClicked" LastSlot="@lastSlot" ItemCellHeight="@ItemCellHeight" Section="@Section" />
        }
    </Div>
</Div>