@inherits BaseComponent
@typeparam TItem
@using Blazorise.Scheduler.Extensions
<Div Class="@ClassNames" Style="@StyleNames" Background="Blazorise.Background.Light" Padding="Blazorise.Padding.Is3" Flex="Blazorise.Flex.JustifyContent.Between">
    <Buttons>
        <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnTodayClick">
            Today
        </Button>
        <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnPreviousClick">
            <Icon Name="IconName.ChevronLeft" />
        </Button>
        <Button Color="Color.Secondary" Size="Size.Small" Outline Clicked="@OnNextClick">
            <Icon Name="IconName.ChevronRight" />
        </Button>
    </Buttons>

    <Span TextWeight="TextWeight.Bold">
        @if ( WeekViewSelected )
        {
            var startOfWeek = SelectedDate.StartOfWeek( FirstDayOfWeek );

            <Span>@startOfWeek.ToLongDateString()</Span>
            <Span>-</Span>
            <Span>@startOfWeek.AddDays( 6 ).ToLongDateString()</Span>
        }
        else
        {
            @SelectedDate.ToLongDateString()
        }
    </Span>

    <Buttons>
        @if ( ShowDayViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@DayViewSelected" Clicked="@OnDayViewClick">
                Day
            </Button>
        }
        @if ( ShowWeekViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@WeekViewSelected" Clicked="@OnWeekViewClick">
                Week
            </Button>
        }
        @if ( ShowWorkWeekViewButton )
        {
            <Button Color="Color.Secondary" Size="Size.Small" Outline Active="@WorkWeekViewSelected" Clicked="@OnWorkWeekViewClick">
                Work Week
            </Button>
        }
    </Buttons>

    @ChildContent
</Div>