@typeparam TItem
<Div Class="b-scheduler-day-cell" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( HeaderCellHeight )" Border="Border.Is1.OnBottom.Is1.OnStart" Background="@BackgroundColor">
    <Div Class="b-scheduler-day-cell-inner" Width="Blazorise.Width.Is100" Flex="Flex.Column">
        @for ( int slotIndex = 1; slotIndex <= SlotsPerCell; ++slotIndex )
        {
            var slotStart = GetSlotStart( slotIndex );
            var slotEnd = GetSlotEnd( slotIndex );
            var lastSlot = slotIndex == SlotsPerCell;

            var itemInfo = GetSlotItemInfo( slotStart, slotEnd );

            <_SchedulerSlot TItem="TItem" ItemInfo="@itemInfo" SlotStart="@slotStart" SlotEnd="@slotEnd" Clicked="@OnSlotClicked" LastSlot="@lastSlot" ItemCellHeight="@ItemCellHeight" />
        }
    </Div>
</Div>