@typeparam TItem
<Span Flex="FlexInlineFlexJustifyContentBetweenAlignItemsCenter" Margin="MarginIs1" Padding="PaddingIs1" Width="WidthIs100" Background="Blazorise.Background.Info" TextSize="TextSizeExtraSmall" @onclick="@OnSlotClicked" draggable="@DraggableAttribute" @ondragstart="@(( e ) => OnItemDragStart( e, Item ))">
    @if ( OverflowingFromStart )
    {
        <Tooltip Inline Text="@Scheduler.GetItemStartTime( Item ).ToShortDateString()">
            <Span>
                <Icon Name="IconName.AngleLeft" Padding="PaddingIs1FromStart" />
            </Span>
        </Tooltip>
    }
    <Span>@(Scheduler.GetItemTitle( Item ))</Span>
    @if ( OverflowingOnEnd )
    {
        <Tooltip Inline Text="@Scheduler.GetItemEndTime( Item ).ToShortDateString()">
            <Span>
                <Icon Name="IconName.AngleRight" Padding="PaddingIs1FromEnd" />
            </Span>
        </Tooltip>
    }
</Span>