@typeparam TItem
<Modal @ref="@modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>
                @(IsNewItem ? "New" : "Edit") Appointment
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@validationsRef" Mode="ValidationMode.Manual">
                @if ( TitleAvailable )
                {
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <Field>
                            <FieldLabel>Title</FieldLabel>
                            <TextEdit @bind-Value="@Title" />
                        </Field>
                    </Validation>
                }
                @if ( StartAvailable )
                {
                    <Field>
                        <FieldLabel>Start</FieldLabel>
                        <DatePicker @bind-Value="@Start" StaticPicker="false" InputMode="DateInputMode.DateTime" />
                    </Field>
                }
                @if ( EndAvailable )
                {
                    <Field>
                        <FieldLabel>End</FieldLabel>
                        <DatePicker @bind-Value="@End" StaticPicker="false" InputMode="DateInputMode.DateTime" />
                    </Field>
                }
                @if ( DescriptionAvailable )
                {
                    <Field>
                        <FieldLabel>Description</FieldLabel>
                        <MemoEdit @bind-Value="@Description" Rows="4" />
                    </Field>
                }
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Cancel">Close</Button>
            <Button Color="Color.Primary" Clicked="@Submit">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>