@using Blazorise.Scheduler.Extensions
@typeparam TItem
<Div Class="b-scheduler-week-view" Flex="Blazorise.Flex.Default" Width="Width.Is100">
    @{
        var startOfWeek = SelectedDate.StartOfWeek( FirstDayOfWeek );
        var endOfWeek = startOfWeek.AddDays( 6 );

        var allDayItems = Scheduler.GetAllDayItemsInRange( startOfWeek, endOfWeek ).ToList();
        var maxAllDayItems = Scheduler.GetMaxOverlappingAllDayItems( startOfWeek, endOfWeek );

        <_SchedulerHourColumn TItem="TItem" StartTime="@StartTime" EndTime="@EndTime" ShowDayHeader HeaderCellHeight="@HeaderCellHeight" ItemCellHeight="@ItemCellHeight" AllDayItems="@allDayItems" MaxAllDayItems="@maxAllDayItems" />

        @for ( var date = startOfWeek; date <= endOfWeek; date = date.AddDays( 1 ) )
        {
            <_SchedulerDayColumn TItem="TItem" StartTime="@StartTime" EndTime="@EndTime" WorkDayStart="@WorkDayStart" WorkDayEnd="@WorkDayEnd" Date="@date" SelectedDate="@SelectedDate" SlotsPerCell="@SlotsPerCell" ShowDayHeader HeaderCellHeight="@HeaderCellHeight" ItemCellHeight="@ItemCellHeight" AllDayItems="@allDayItems" MaxAllDayItems="@maxAllDayItems" />
        }
    }
</Div>