@using System.Text
@typeparam TItem
<Div Class="b-scheduler-slot" Style="@GetSlotStyle()" Position="Position.Relative" Margin="Margin.IsAuto" Width="Blazorise.Width.Is100" Height="Height.Is100" Border="@BottomBorder" Background="@BackgroundColor" @onmouseenter="@OnMouseEnter" @onmouseleave="@OnMouseLeave" @onclick="@OnSlotClicked">
    @foreach ( var viewItem in ViewItems ?? Enumerable.Empty<SchedulerItemViewInfo<TItem>>() )
    {
        var index = ViewItems.IndexOf( viewItem );

        <Span Style="@GetAppointmentStyle( viewItem, index, ViewItems.Count )" Position="Position.Absolute" Background="Background.Warning" Flex="Flex.JustifyContent.Between.AlignItems.Start" Padding="Padding.Is1" TextOverflow="TextOverflow.Truncate" @onclick:stopPropagation>
            <Span @onclick="@(() => OnAppointmentClicked( viewItem ))" TextOverflow="TextOverflow.Truncate" Height="Height.Is100">
                @Scheduler?.GetItemTitle( viewItem.Item )
            </Span>
            @if ( viewItem.IsRecurring )
            {
                <Span>
                    <Icon Name="IconName.Sync" />
                </Span>
            }
        </Span>
    }
</Div>
@code {
    protected Task OnMouseEnter( MouseEventArgs eventArgs )
    {
        MouseHovering = true;

        return Task.CompletedTask;
    }

    protected Task OnMouseLeave( MouseEventArgs eventArgs )
    {
        MouseHovering = false;

        return Task.CompletedTask;
    }

    protected Task OnSlotClicked()
    {
        if ( Clicked is null )
            return Task.CompletedTask;

        // if ( viewItem is not null && viewItem.Item is not null )
        //     return Clicked.Invoke( viewItem.Item, SlotStart, SlotEnd );

        return Clicked.Invoke( default, SlotStart, SlotEnd );
    }

    protected Task OnAppointmentClicked( SchedulerItemViewInfo<TItem> viewItem )
    {
        if ( Clicked is null )
            return Task.CompletedTask;

        return Clicked.Invoke( viewItem.Item, SlotStart, SlotEnd );
    }

    private string GetSlotStyle()
    {
        if ( LastSlot )
            return null;

        return "border-bottom-style: dashed !important";
    }

    private string GetAppointmentStyle( SchedulerItemViewInfo<TItem> viewItem, int index, int totalItems )
    {
        var viewStart = viewItem.ViewStart;
        var viewEnd = viewItem.ViewEnd;
        var viewDuration = viewEnd - viewStart;

        var top = ( viewStart - SlotStart ).TotalMinutes / 60 * ItemCellHeight;
        var height = viewDuration.TotalMinutes / 60 * ItemCellHeight;

        if ( totalItems == 1 )
        {
            return $"cursor: pointer; left: 0; right: 0; top: {top}px; height: {height}px; z-index: 1;";
        }

        double itemWidth = 100.0 / totalItems;
        double leftPercentage = index * itemWidth;
        double rightPercentage = 100 - ( ( index + 1 ) * itemWidth );

        if ( index < totalItems - 1 )
        {
            rightPercentage += 1;
        }

        return $"cursor: pointer; left: {leftPercentage}%; right: {rightPercentage}%; top: {top}px; height: {height}px; z-index: 1;";
    }

    private bool MouseHovering { get; set; }

    IFluentBorder BottomBorder => LastSlot ? null : Blazorise.Border.Is1.OnBottom;

    private Blazorise.Background BackgroundColor => MouseHovering
       ? Blazorise.Background.Light
       : Blazorise.Background.Default;

    [CascadingParameter] public Scheduler<TItem> Scheduler { get; set; }

    /// <summary>
    /// Defines the appointment that is displayed in the slot.
    /// </summary>
    [Parameter] public List<SchedulerItemViewInfo<TItem>> ViewItems { get; set; }

    /// <summary>
    /// Defines the start date of the slot.
    /// </summary>
    [Parameter] public DateTime SlotStart { get; set; }

    /// <summary>
    /// Defines the end date of the slot.
    /// </summary>
    [Parameter] public DateTime SlotEnd { get; set; }

    /// <summary>
    /// Defines if this is the last slot in the cell.
    /// </summary>
    [Parameter] public bool LastSlot { get; set; }

    [Parameter] public double ItemCellHeight { get; set; }

    [Parameter] public Func<TItem, DateTime, DateTime, Task> Clicked { get; set; }
}
