@typeparam TItem
<Modal @ref="@modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>
                @(IsNewItem ? "New" : "Edit") Appointment
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@validationsRef" Mode="ValidationMode.Manual">
                @if ( TitleAvailable )
                {
                    <Validation Validator="@OnValidateTitle">
                        <Field>
                            <FieldLabel>Title</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Value="@Title">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                }
                @if ( StartAvailable )
                {
                    <Fields>
                        <Validation Validator="@OnValidateStartDate">
                            <Field ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
                                <FieldLabel>Start</FieldLabel>
                                <FieldBody>
                                    <DatePicker TValue="DateOnly" Value="@StartDate" ValueChanged="@OnStartDateChanged" Placeholder="Start date" StaticPicker="false" InputMode="DateInputMode.Date" FirstDayOfWeek="@FirstDayOfWeek">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </DatePicker>
                                </FieldBody>
                            </Field>
                        </Validation>
                        @if ( !AllDayAvailable || !AllDay )
                        {
                            <Validation Validator="@OnValidateStartTime">
                                <Field ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
                                    <FieldLabel>&nbsp;</FieldLabel>
                                    <FieldBody>
                                        <TimePicker TValue="TimeOnly" Value="@StartTime" ValueChanged="@OnStartTimeChanged" StaticPicker="false" TimeAs24hr />
                                    </FieldBody>
                                </Field>
                            </Validation>
                        }
                    </Fields>
                }
                @if ( EndAvailable )
                {
                    <Fields>
                        <Validation Validator="@OnValidateEndDate">
                            <Field ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
                                <FieldLabel>End</FieldLabel>
                                <FieldBody>
                                    <DatePicker @bind-Value="@EndDate" Placeholder="End date" StaticPicker="false" InputMode="DateInputMode.Date" FirstDayOfWeek="@FirstDayOfWeek">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </DatePicker>
                                </FieldBody>
                            </Field>
                        </Validation>
                        @if ( !AllDayAvailable || !AllDay )
                        {
                            <Validation Validator="@OnValidateEndTime">
                                <Field ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
                                    <FieldLabel>&nbsp;</FieldLabel>
                                    <FieldBody>
                                        <TimePicker @bind-Value="@EndTime" StaticPicker="false" TimeAs24hr />
                                    </FieldBody>
                                </Field>
                            </Validation>
                        }
                    </Fields>
                }
                @if ( AllDayAvailable )
                {
                    <Field>
                        <FieldBody>
                            <Check TValue="bool" @bind-Value="@AllDay">All Day</Check>
                        </FieldBody>
                    </Field>
                }
                @if ( DescriptionAvailable )
                {
                    <Field>
                        <FieldLabel>Description</FieldLabel>
                        <FieldBody>
                            <MemoEdit @bind-Value="@Description" Rows="4" />
                        </FieldBody>
                    </Field>
                }
            </Validations>
            @if ( customValidationErrors.Any() )
            {
                <Paragraph TextColor="TextColor.Danger" Margin="Margin.Is0.FromBottom">
                    <UnorderedList Margin="Margin.Is0.FromBottom">
                        @foreach ( var error in customValidationErrors )
                        {
                            <UnorderedListItem>@error</UnorderedListItem>
                        }
                    </UnorderedList>
                </Paragraph>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Cancel">Close</Button>
            <Button Color="Color.Primary" Clicked="@Submit">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>