@using Blazorise.Scheduler.Extensions
@typeparam TItem
<Div Flex="Blazorise.Flex.Default" Width="Width.Is100">
    <_SchedulerHourColumn StartTime="@StartTime" EndTime="@EndTime" ShowDayHeader HeaderCellHeight="@HeaderCellHeight" ItemCellHeight="@ItemCellHeight" />

    @{
        var startOfWeek = SelectedDate.StartOfWeek( FirstDayOfWeek );

        @for ( var date = startOfWeek; date <= startOfWeek.AddDays( 6 ); date = date.AddDays( 1 ) )
        {
            <_SchedulerDayColumn TItem="TItem" StartTime="@StartTime" EndTime="@EndTime" WorkDayStart="@WorkDayStart" WorkDayEnd="@WorkDayEnd" Date="@date" SelectedDate="@SelectedDate" SlotsPerCell="@SlotsPerCell" ShowDayHeader HeaderCellHeight="@HeaderCellHeight" ItemCellHeight="@ItemCellHeight" />
        }
    }
</Div>