@using System.Text
@typeparam TItem
<Div Class="b-scheduler-slot" Style="@GetSlotStyle()" Position="Position.Relative" Margin="Margin.IsAuto" Width="Blazorise.Width.Is100" Height="Height.Is100" Border="@BottomBorder" Background="@BackgroundColor" @onmouseenter="@OnMouseEnter" @onmouseleave="@OnMouseLeave" @onclick="@OnSlotClicked">
    @if ( Appointment is not null )
    {
        <Span Style="@GetAppointmentStyle( Appointment )" Position="Position.Absolute" Background="Background.Warning" Flex="Flex.Column.AlignItems.Start" Padding="Padding.Is1" TextOverflow="TextOverflow.Truncate">
            @Scheduler?.GetItemTitle( Appointment )
        </Span>
    }
</Div>
@code {
    protected Task OnMouseEnter( MouseEventArgs eventArgs )
    {
        MouseHovering = true;

        return Task.CompletedTask;
    }

    protected Task OnMouseLeave( MouseEventArgs eventArgs )
    {
        MouseHovering = false;

        return Task.CompletedTask;
    }

    protected Task OnSlotClicked()
    {
        if ( Clicked is null )
            return Task.CompletedTask;

        return Clicked.Invoke( Appointment, SlotStart, SlotEnd );
    }

    protected Task OnAppointmentClicked()
    {
        if ( Clicked is null )
            return Task.CompletedTask;

        return Clicked.Invoke( Appointment, SlotStart, SlotEnd );
    }

    private string GetSlotStyle()
    {
        if ( LastSlot )
            return null;

        return "border-bottom-style: dashed !important";
    }

    private string GetAppointmentStyle( TItem appointment )
    {
        var appointmentStart = Scheduler.GetItemStartTime( appointment );
        var appointmentEnd = Scheduler.GetItemEndTime( appointment );
        var appointmentDuration = appointmentEnd - appointmentStart;

        var top = ( appointmentStart - SlotStart ).TotalMinutes / 60 * ItemCellHeight;
        var height = appointmentDuration.TotalMinutes / 60 * ItemCellHeight;
        
        return $"cursor: pointer; left: 0; top: {top}px; height: {height}px; right: 0; z-index: 1;";
    }

    private bool MouseHovering { get; set; }

    IFluentBorder BottomBorder => LastSlot ? null : Blazorise.Border.Is1.OnBottom;

    private Blazorise.Background BackgroundColor => MouseHovering
       ? Blazorise.Background.Light
       : Blazorise.Background.Default;

    [CascadingParameter] public Scheduler<TItem> Scheduler { get; set; }

    /// <summary>
    /// Defines the appointment that is displayed in the slot.
    /// </summary>
    [Parameter] public TItem Appointment { get; set; }

    /// <summary>
    /// Defines the start date of the slot.
    /// </summary>
    [Parameter] public DateTime SlotStart { get; set; }

    /// <summary>
    /// Defines the end date of the slot.
    /// </summary>
    [Parameter] public DateTime SlotEnd { get; set; }

    /// <summary>
    /// Defines if this is the last slot in the cell.
    /// </summary>
    [Parameter] public bool LastSlot { get; set; }

    [Parameter] public double ItemCellHeight { get; set; }

    [Parameter] public Func<TItem, DateTime, DateTime, Task> Clicked { get; set; }
}