@typeparam TItem
<Div Class="b-scheduler-day-cell" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( HeaderCellHeight )" Border="Border.Is1.OnBottom.Is1.OnStart" Background="@BackgroundColor">
    <Div Class="b-scheduler-day-cell-inner" Width="Blazorise.Width.Is100" Flex="Flex.Column">
        @for ( int slotIndex = 1; slotIndex <= SlotsPerCell; ++slotIndex )
        {
            <_SchedulerSlot TItem="TItem" SlotStart="@GetSlotStart( slotIndex )" SlotEnd="@GetSlotEnd( slotIndex )" Clicked="@OnSlotClick" LastSlot="@(slotIndex == SlotsPerCell)" ItemCellHeight="@ItemCellHeight" />
        }
    </Div>
</Div>