@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@Context" IsFixed>
        <section @ref="@ElementRef"
                 id="@ElementId"
                 class="@ClassNames"
                 style="@StyleNames"
                 data-dock-drag-preview-class="@DragPreviewClassName"
                 data-dock-drop-preview-class="@DropPreviewClassName"
                 @attributes="@Attributes">
            <CascadingValue Value="@RootCollector" IsFixed="false">
                <div style="display:none">
                    @ChildContent
                </div>
            </CascadingValue>
            @if ( CurrentState.Root is not null )
            {
                <_DockNodeRenderer NodeId="@CurrentState.Root.Id" RenderVersion="@RenderVersion" />
            }
            <_DockAutoHideRailRenderer RailPosition="@DockPanePosition.Left" Items="@GetRailItems( DockPanePosition.Left )" RenderVersion="@RenderVersion" />
            <_DockAutoHideRailRenderer RailPosition="@DockPanePosition.Right" Items="@GetRailItems( DockPanePosition.Right )" RenderVersion="@RenderVersion" />
            <_DockAutoHideRailRenderer RailPosition="@DockPanePosition.Top" Items="@GetRailItems( DockPanePosition.Top )" RenderVersion="@RenderVersion" />
            <_DockAutoHideRailRenderer RailPosition="@DockPanePosition.Bottom" Items="@GetRailItems( DockPanePosition.Bottom )" RenderVersion="@RenderVersion" />
            @if ( ActiveAutoHidePane is not null )
            {
                <_DockPaneRenderer PaneName="@ActiveAutoHidePane.ResolvedName" Flyout RenderVersion="@RenderVersion" />
            }
            @if ( DockGuidesVisible )
            {
                <_DockCompassRenderer RenderVersion="@DockGuidesVersion" Style="@DockCompassStyleNames" />
            }
        </section>
    </CascadingValue>
</CascadingValue>