@namespace Blazorise
@inherits BaseComponent
<header @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onpointerdown="@BeginDrag" @attributes="@Attributes">
    <span class="dock-pane-header-content">
        @ChildContent
    </span>
    @if ( HeaderActionsVisible )
    {
        <span class="dock-pane-header-actions" @onpointerdown:stopPropagation>
            @if ( AutoHideActionVisible )
            {
                <button type="button" class="dock-pane-header-action" title="@AutoHideTitle" @onclick="@ToggleAutoHide">
                    <Icon Name="@AutoHideIconName" />
                </button>
            }
            @if ( CloseActionVisible )
            {
                <button type="button" class="dock-pane-header-action" title="Close" @onclick="@Close">
                    <Icon Name="IconName.Times" />
                </button>
            }
        </span>
    }
</header>