@namespace Blazorise
@inherits BaseComponent
<span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="separator" @onpointerdown="@BeginResize" @onpointerdown:preventDefault @onpointerdown:stopPropagation @attributes="@Attributes"></span>