@page "/tests/collapse"
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Accordion</CardTitle>
                <CardSubtitle></CardSubtitle>
            </CardHeader>
            <CardBody>
                <Accordion>
                    <Card>
                        <CardHeader>
                            <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)">Switch 1</Button>
                            </Heading>
                        </CardHeader>
                        <Collapse Visible="@collapse1Visible">
                            <CardBody>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </CardBody>
                        </Collapse>
                    </Card>
                    <Card>
                        <CardHeader>
                            <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=>collapse2Visible = !collapse2Visible)">Switch 2</Button>
                            </Heading>
                        </CardHeader>
                        <Collapse Visible="@collapse2Visible">
                            <CardBody>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </CardBody>
                        </Collapse>
                    </Card>
                    <Card>
                        <CardHeader>
                            <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=>collapse3Visible = !collapse3Visible)">Switch 3</Button>
                            </Heading>
                        </CardHeader>
                        <Collapse Visible="@collapse3Visible">
                            <CardBody>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </CardBody>
                        </Collapse>
                    </Card>
                </Accordion>
            </CardBody>
        </Card>
    </Column>
</Row>
@code{
    bool collapse1Visible = true;
    bool collapse2Visible = false;
    bool collapse3Visible = false;
}
