@namespace Blazorise
@typeparam TValue
@inherits Blazorise.BaseInputComponent<Blazorise.RangeSliderValue<TValue>, RangeSliderClasses, RangeSliderStyles>

<Div Class="@ClassNames" Style="@StyleNames" Position="Blazorise.Position.Relative" Display="Blazorise.Display.Flex" Flex="Blazorise.Flex.AlignItems.Center" Width="Blazorise.Width.Is100" Height="Blazorise.Height.Px(24)" aria-disabled="@IsDisabled">
    <Div Class="@TrackClassNames" Style="@TrackStyleNames" Position="Blazorise.Position.Absolute" Width="Blazorise.Width.Is100" />
    <Div Class="@RangeClassNames" Style="@RangeStyleNames" Position="Blazorise.Position.Absolute" />

    <input @ref="@ElementRef" id="@ElementId" type="range" name="@StartNameAttributeValue" class="@StartInputClassNames" style="@StartInputStyleNames" disabled="@IsDisabled" readonly="@ReadOnly" step="@StepValueString" min="@MinValueString" max="@MaxValueString" value="@StartValueString" tabindex="@TabIndex" aria-label="@StartAriaLabel" aria-invalid="@AriaInvalid" aria-describedby="@AriaDescribedBy" @oninput="@OnStartInputHandler" @onpointerdown="@OnStartPointerDownHandler" @onkeydown="@OnKeyDownHandler" @onkeypress="@OnKeyPressHandler" @onkeyup="@OnKeyUpHandler" @onblur="@OnBlurHandler" @onfocus="@OnStartFocusHandler" @onfocusin="@OnFocusInHandler" @onfocusout="@OnFocusOutHandler" @attributes="@Attributes" />
    <input id="@EndElementId" type="range" name="@EndNameAttributeValue" class="@EndInputClassNames" style="@EndInputStyleNames" disabled="@IsDisabled" readonly="@ReadOnly" step="@StepValueString" min="@MinValueString" max="@MaxValueString" value="@EndValueString" tabindex="@TabIndex" aria-label="@EndAriaLabel" aria-invalid="@AriaInvalid" aria-describedby="@AriaDescribedBy" @oninput="@OnEndInputHandler" @onpointerdown="@OnEndPointerDownHandler" @onkeydown="@OnKeyDownHandler" @onkeypress="@OnKeyPressHandler" @onkeyup="@OnKeyUpHandler" @onblur="@OnBlurHandler" @onfocus="@OnEndFocusHandler" @onfocusin="@OnFocusInHandler" @onfocusout="@OnFocusOutHandler" />

    @if ( ShowValueTooltips )
    {
        <Div Class="@TooltipClassNames" Style="@StartTooltipStyleNames" Position="Blazorise.Position.Absolute">
            <Span>@StartValueString</Span>
        </Div>

        <Div Class="@TooltipClassNames" Style="@EndTooltipStyleNames" Position="Blazorise.Position.Absolute">
            <Span>@EndValueString</Span>
        </Div>
    }
</Div>
@ChildContent
@Feedback
