@inherits BaseComponent
@typeparam TItem
<Div ElementId="@ElementId"
     Class="@ClassNames"
     Style="@StyleNames"
     Flex="FlexColumn"
     Border="BorderIs1"
     role="application"
     @ref="ganttDivRef">
    <CascadingValue Value="@this" IsFixed>
        @if ( ShowToolbar && ganttToolbar is not null )
        {
            <_GanttToolbar TItem="TItem"
                           SelectedDate="@currentDate"
                           SelectedView="@SelectedView"
                           FirstDayOfWeek="@EffectiveFirstDayOfWeek"
                           SearchText="@searchText"
                           SearchInputWidth="@GetSearchInputWidth()"
                           ShowAddTaskButton="@ShowToolbarAddTaskButton"
                           ColumnPickerItems="@GetColumnPickerItems()"
                           ShowToggleAllCommands="@ShowToggleAllCommands"
                           ShowDayViewButton="@(ganttDayView is not null)"
                           ShowWeekViewButton="@(ganttWeekView is not null)"
                           ShowMonthViewButton="@(ganttMonthView is not null)"
                           ShowYearViewButton="@(ganttYearView is not null)"
                           PreviousClicked="@NavigatePreviousPeriod"
                           NextClicked="@NavigateNextPeriod"
                           TodayClicked="@NavigateToday"
                           DayViewClicked="@ShowDayView"
                           WeekViewClicked="@ShowWeekView"
                           MonthViewClicked="@ShowMonthView"
                           YearViewClicked="@ShowYearView"
                           AddTaskClicked="@New"
                           ExpandAllClicked="@ExpandAll"
                           CollapseAllClicked="@CollapseAll"
                           SearchTextChanged="@SetSearchText"
                           ColumnVisibilityChanged="@OnColumnVisibilityChanged" />
        }

        @{
            var visibleRows = GetVisibleRows();
            if ( KeyboardNavigation )
            {
                EnsureFocusedRow( visibleRows );
            }
            var viewRange = GetCurrentViewRange();
            var timeSlots = GetTimeSlots( viewRange.Start, viewRange.End );
            var rowTemplate = RowTemplateForCurrentView;
            var itemTemplate = ItemTemplateForCurrentView;
            var taskItemTemplate = TaskItemTemplate ?? itemTemplate;
            var rowHeight = GetRowHeight();
            var headerRowHeight = GetHeaderRowHeight();
            var cellWidth = GetTimelineCellWidth();
            var timelineHeaderStyle = GetTimelineHeaderStyle( timeSlots.Count, cellWidth );
            var timelineRowStyle = GetTimelineRowStyle( rowHeight, timeSlots.Count, cellWidth );
            var treeToggleWidth = GetTreeToggleWidth();
            var showHeaderNewButton = ShowHeaderNewButton;
            var wbsLookup = BuildWbsLookup( visibleRows );
            var treeColumns = GetTreeRenderColumns( visibleRows, wbsLookup, showHeaderNewButton );
            var treePaneStyle = GetTreePaneStyle( treeColumns );
        }

        <_GanttBody Style="@GetBodyStyle()">
            <_GanttTreePane Style="@treePaneStyle">
                <_GanttTreeHeader Height="Blazorise.Height.Px( headerRowHeight )" Border="BorderIs1OnBottom" Position="PositionStickyTopIs0" Background="Background.Body">
                    @foreach ( var treeColumn in treeColumns )
                    {
                        if ( treeColumn.IsCommand )
                        {
                            <Div Style="@GetActionColumnStyle( treeColumn.Width )">
                                @if ( treeColumn.Column?.HeaderTemplate is not null )
                                {
                                    @treeColumn.Column.HeaderTemplate( GetColumnHeaderContext( treeColumn, showHeaderNewButton ) )
                                }
                                else if ( TreeCommandHeaderTemplate is not null )
                                {
                                    @TreeCommandHeaderTemplate( GetTreeCommandHeaderContext( showHeaderNewButton ) )
                                }
                                else if ( showHeaderNewButton )
                                {
                                    <Button Size="Size.ExtraSmall" Clicked="@New" Border="BorderIs0" Background="Background.Transparent" aria-label="@AddTaskText">
                                        <Icon Name="IconName.Add" />
                                    </Button>
                                }
                            </Div>
                        }
                        else
                        {
                            <Div Style="@GetTreeColumnStyle( treeColumn.Width, treeColumn.CanSort, treeColumn.TextAlignment )"
                                 Padding="PaddingIs2OnX"
                                 TextWeight="TextWeight.SemiBold"
                                 @onclick="@(() => SortByColumn( treeColumn ))">
                                @if ( treeColumn.Column?.HeaderTemplate is not null )
                                {
                                    @treeColumn.Column.HeaderTemplate( GetColumnHeaderContext( treeColumn ) )
                                }
                                else
                                {
                                    <Div Flex="FlexAlignItemsCenterNoWrap" Gap="GapIs1">
                                        <Span>@treeColumn.HeaderText</Span>
                                        @if ( ShowSortIcon( treeColumn ) )
                                        {
                                            <Icon Name="@GetSortIconName( treeColumn )" />
                                        }
                                    </Div>
                                }
                            </Div>
                        }
                    }
                </_GanttTreeHeader>

                <_GanttTreeRows @ref="ganttTreeRowsRef" Style="@GetTreeRowsStyle()" TabIndex="@(KeyboardNavigation ? 0 : -1)" KeyDown="@OnTreeRowsKeyDown">
                    @if ( visibleRows.Count == 0 )
                    {
                        <Div Padding="PaddingIs3" TextColor="TextColor.Muted">@NoTasksToDisplayText</Div>
                    }
                    else
                    {
                        @foreach ( var node in visibleRows )
                        {
                            <_GanttTreeRow @key="@node.Key"
                                           Style="@GetTreeRowStyle( rowHeight )"
                                           Background="@GetTreeRowBackground( node.Item, node.Key )"
                                           Selected="@IsSelectedRow( node.Item )"
                                           Clicked="@(() => OnTreeRowClicked( node.Item, node.Key ))"
                                           DoubleClicked="@(() => OnTreeRowDoubleClicked( node.Item, node.Key ))">
                                @foreach ( var treeColumn in treeColumns )
                                {
                                    if ( treeColumn.IsCommand )
                                    {
                                        <Div Style="@GetActionColumnStyle( treeColumn.Width )">
                                            @if ( treeColumn.CommandColumn?.DisplayTemplate is not null )
                                            {
                                                @treeColumn.CommandColumn.DisplayTemplate( GetCommandColumnDisplayContext( node, treeColumn, wbsLookup, treeToggleWidth ) )
                                            }
                                            else if ( TreeCommandCellTemplate is not null )
                                            {
                                                @TreeCommandCellTemplate( GetTreeCommandCellContext( node ) )
                                            }
                                            else if ( CanShowAddChildButton( node.Item ) )
                                            {
                                                <Button Size="Size.ExtraSmall" Clicked="@(() => AddChild( node.Item ))" Border="BorderIs0" Background="Background.Transparent" aria-label="@AddChildText">
                                                    <Icon Name="IconName.Add" />
                                                </Button>
                                            }
                                        </Div>
                                    }
                                    else
                                    {
                                        <Div Style="@GetTreeColumnStyle( treeColumn.Width, false, treeColumn.TextAlignment )" Padding="PaddingIs2OnX">
                                            @if ( treeColumn.Column?.DisplayTemplate is not null )
                                            {
                                                @treeColumn.Column.DisplayTemplate( GetColumnDisplayContext( node, treeColumn, wbsLookup, treeToggleWidth ) )
                                            }
                                            else if ( treeColumn.Expandable )
                                            {
                                                <Div Flex="FlexAlignItemsCenter" Style="@GetTreeTitleContentStyle( node.Level )">
                                                    @if ( node.HasChildren )
                                                    {
                                                        <Button Size="Size.ExtraSmall" Clicked="@(() => ToggleNode( node ))" Margin="MarginIs1FromEnd" aria-label="Toggle">
                                                            <Icon Name="@(IsExpanded( node ) ? IconName.ChevronDown : IconName.ChevronRight)" />
                                                        </Button>
                                                    }
                                                    else
                                                    {
                                                        <Span Display="DisplayInlineBlock" Width="Blazorise.Width.Px( treeToggleWidth )"></Span>
                                                    }

                                                    @if ( rowTemplate is not null )
                                                    {
                                                        @rowTemplate( new GanttRowContext<TItem>( node.Item, node.Level, node.HasChildren, IsExpanded( node ) ) )
                                                    }
                                                    else
                                                    {
                                                        <Span TextOverflow="TextOverflow.Truncate" Width="WidthIs100">@GetColumnDisplayText( treeColumn, node, wbsLookup )</Span>
                                                    }
                                                </Div>
                                            }
                                            else
                                            {
                                                <Span TextSize="TextSizeSmall">@GetColumnDisplayText( treeColumn, node, wbsLookup )</Span>
                                            }
                                        </Div>
                                    }
                                }
                            </_GanttTreeRow>
                        }
                    }
                </_GanttTreeRows>
            </_GanttTreePane>

            <_GanttTimelinePane Style="@GetTimelinePaneStyle()">
                <_GanttTimelineViewport Style="@GetTimelineViewportStyle()">
                    <_GanttTimelineInner Style="@GetTimelineInnerStyle( timeSlots.Count, cellWidth )">
                        <_GanttTimeHeader Height="Blazorise.Height.Px( headerRowHeight )" Border="BorderIs1OnBottom" Position="PositionStickyTopIs0" Background="Background.Body" Style="@timelineHeaderStyle">
                            @for ( var slotIndex = 0; slotIndex < timeSlots.Count; slotIndex++ )
                            {
                                var slot = timeSlots[slotIndex];

                                <Div @key="@slot.Key" Style="@GetTimelineHeaderCellStyle( cellWidth )" Padding="PaddingIs1OnX">
                                    @if ( TimelineHeaderCellTemplate is not null )
                                    {
                                        @TimelineHeaderCellTemplate( GetTimelineHeaderCellContext( slot, slotIndex ) )
                                    }
                                    else
                                    {
                                        <Span TextSize="TextSizeSmall" TextWeight="TextWeight.SemiBold">@slot.Label</Span>
                                    }
                                </Div>
                            }
                        </_GanttTimeHeader>

                        @foreach ( var node in visibleRows )
                        {
                            <_GanttTimeRow @key="@($"timeline-{node.Key}")" Style="@timelineRowStyle" Background="@GetFocusedRowBackground( node.Key )">
                                @if ( TryGetVisibleBar( node.Item, viewRange.Start, viewRange.End, timeSlots.Count, cellWidth, out var barInfo ) )
                                {
                                    var itemStyling = GetItemStyling( node.Item );

                                    <_GanttItemBar CustomClass="@itemStyling.Class"
                                                   Style="@GetBarStyle( barInfo, rowHeight, itemStyling.Style, node.Key, node.Item )"
                                                   Background="@itemStyling.Background"
                                                   TextColor="@itemStyling.TextColor"
                                                   MouseDown="@(( args ) => OnBarMouseDown( args, node, cellWidth ))"
                                                   Clicked="@(() => OnBarClicked( node.Item ))">
                                        @if ( taskItemTemplate is not null )
                                        {
                                            @taskItemTemplate( new GanttItemContext<TItem>( node.Item, node.HasChildren, IsExpanded( node ) ) )
                                        }
                                        else
                                        {
                                            <Div Flex="FlexJustifyContentBetweenAlignItemsCenter" Width="WidthIs100" Height="HeightIs100">
                                                <Span TextOverflow="TextOverflow.Truncate">@GetItemTitle( node.Item )</Span>
                                                @if ( barInfo.ProgressPercentage is not null )
                                                {
                                                    <Span TextSize="TextSizeSmall">@($"{barInfo.ProgressPercentage.Value:0}%")</Span>
                                                }
                                            </Div>
                                        }
                                    </_GanttItemBar>
                                }
                            </_GanttTimeRow>
                        }
                    </_GanttTimelineInner>
                </_GanttTimelineViewport>
            </_GanttTimelinePane>
        </_GanttBody>

        <_GanttItemModal TItem="TItem"
                         @ref="ganttItemModalRef"
                         FirstDayOfWeek="@EffectiveFirstDayOfWeek"
                         SaveRequested="@SaveImpl"
                         DeleteRequested="@DeleteItemImpl"
                         Closed="@OnItemModalClosed" />
    </CascadingValue>
</Div>

<CascadingValue Value="@this" IsFixed>
    @ChildContent
</CascadingValue>