@namespace Blazorise
@inherits BaseComponent
<button id="@ElementId" type="button" class="@ClassNames" style="@StyleNames" aria-label="Close" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</button>