@namespace Blazorise
@inherits BaseComponent
<button @ref="@ElementRef" id="@ElementId" type="button" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</button>