@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <div class="@ContentClassNames">
            @ChildContent
        </div>
    </div>
</CascadingValue>