@namespace Blazorise
@inherits BaseComponent
<button d="@ElementId" type="button" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</button>