@namespace Blazorise
@inherits BaseGridComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>