@namespace Blazorise
@inherits BaseComponent
<td id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" colspan="@ColumnSpan" rowspan="@RowSpan" @attributes="@Attributes">
    @ChildContent
</td>