@namespace Blazorise
@inherits BaseDraggableComponent
<td @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" 
    @onclick="@OnClickHandler"
    @onclick:preventDefault="@ClickPreventDefault"
    @onclick:stopPropagation="@ClickStopPropagation"
    colspan="@ColumnSpan" rowspan="@RowSpan"
    draggable="@DraggableString"
    @ondragend="@OnDragEndHandler"
    @ondragend:preventDefault="@DragEndPreventDefault"
    @ondragenter="@OnDragEnterHandler"
    @ondragenter:preventDefault="@DragEnterPreventDefault"
    @ondragleave="@OnDragLeaveHandler"
    @ondragleave:preventDefault="@DragLeavePreventDefault"
    @ondragstart="@OnDragStartHandler"
    @ondragstart:preventDefault="@DragStartPreventDefault"
    @ondrop="@OnDropHandler"
    @ondrop:preventDefault="@DropPreventDefault"
    @oncontextmenu="@OnContextMenuHandler"
    @oncontextmenu:preventDefault="@ContextMenuPreventDefault"
    @attributes="@Attributes"
    data-content="@MobileModeTitle">
    @ChildContent
</td>