@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="this">
    @if ( Responsive )
    {
        <div class="@ResponsiveClassNames">
            <table id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </table>
        </div>
    }
    else
    {
        <table id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </table>
    }
</CascadingValue>