@page "/tests/imagecropper"

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Image Cropper Component (based on <Anchor To="https://fengyuanchen.github.io/cropperjs/">Cropper.js</Anchor>)</CardTitle>
            </CardHeader>
               <CardBody>
                <Row>
                    <Column>
                        <Fields>
                            <Field>
                                <FieldLabel>
                                    Aspect Ratio
                                </FieldLabel>
                                <FieldBody>
                                    <RadioGroup TValue="double?" @bind-CheckedValue="@ratio" Buttons>
                                        <Radio Value="@AspectRatio.Ratio16_9.Value">16:9</Radio>
                                        <Radio Value="@AspectRatio.Ratio4_3.Value">4:3</Radio>
                                        <Radio Value="@AspectRatio.Ratio1_1.Value">1:1</Radio>
                                        <Radio Value="@AspectRatio.Ratio2_3.Value">2:3</Radio>
                                        <Radio Value="@AspectRatio.RatioFree.Value">Free</Radio>
                                    </RadioGroup>
                                </FieldBody>
                            </Field>
                        </Fields>
                    </Column>
                </Row>
            </CardBody>
         <CardBody>
                <Row>
                    <Column>
                        <FieldLabel>
                            Image Cropper
                        </FieldLabel>
                        <FieldBody>
                            <ImageCropper @ref="cropper" Source="_content/Blazorise.Demo/img/amongus.png" Ratio="@new(ratio)" PreviewSelector=".preview" />
                        </FieldBody>
                    </Column>
                    <Column>
                        <FieldLabel>
                            Preview
                        </FieldLabel>
                        <FieldBody>
                            <div class="preview" style="margin: 10px; width: 150px; height: 150px; overflow: hidden"/>
                            <div class="preview" style="margin: 10px; width: 100px; height: 100px; overflow: hidden" />
                            <div class="preview" style="margin: 10px; width: 50px; height: 50px; overflow: hidden" />
                        </FieldBody>
                    </Column>
                </Row>
                <Row>
                    <Column>
                        <Button Clicked="GetCroppedImage">Get Cropped Image</Button>
                    </Column>
                    <Column>
                        <img src="@result" width="250" height="250" />
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    private ImageCropper cropper;
    private string result;
    private double? ratio = 1.0;

    private async Task GetCroppedImage()
    {
        result  = await cropper.CropAsBase64ImageAsync(new() {Width = 250, Height = 250});
    }
}
