@page "/tests/lottie-animation"

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Lottie Animation Player</CardTitle>
            </CardHeader>
            <CardBody>
                <Row>
                    <Column>
                        <Field>
                            <FieldLabel>Animation Path</FieldLabel>
                            <TextEdit Text="@_path" TextChanged="@OnPathChanged"/>
                        </Field>
                    </Column>
                    <Column>
                        <Field>
                            <FieldLabel>Background Color</FieldLabel>
                            <ColorPicker @bind-Color="@_backgroundColor"/>
                        </Field>
                    </Column>
                </Row>
                <Row>
                    <Column>
                        <Field>
                            <FieldLabel>Speed</FieldLabel>
                            <NumericEdit TValue="double" Value="@_speed" ValueChanged="@OnSpeedValueChanged" Step=".5m" Min="0" Max="3"/>
                        </Field>
                    </Column>
                    <Column>
                        <Field>
                            <FieldLabel>Direction</FieldLabel>
                            <Select @bind-SelectedValue="@_animationDirection">
                                <SelectItem Value="AnimationDirection.Forward">Forward</SelectItem>
                                <SelectItem Value="AnimationDirection.Backward">Backward</SelectItem>
                            </Select>
                        </Field>
                    </Column>
                </Row>
                <Row Style="margin: 30px 0">
                    <Column>
                        <LoadingIndicator @bind-Visible="@_loading">
                            <LottieAnimation
                                Style="@("height: 250px; background-color:" + _backgroundColor)"
                                Path="@_path"
                                Direction="@_animationDirection"
                                Speed="@_speed"
                                Paused="@_paused"
                                Loop="@_loop"
                                @bind-CurrentFrame="@_currentFrame"
                                Loaded="OnLoaded"
                                Completed="@Stop"/>
                        </LoadingIndicator>
                    </Column>
                </Row>
                <Row>
                    <Column Style="display: flex; justify-content: center" ColumnSize="ColumnSize.IsAuto">
                        @if (_paused)
                        {
                            <Button Clicked="() => _paused = false">
                                <Icon Name="IconName.Play" Color="@Color.Primary"/>
                            </Button>
                        }
                        else
                        {
                            <Button Clicked="() => _paused = true">
                                <Icon Name="IconName.Pause"/>
                            </Button>
                        }
                        <Button Clicked="Stop">
                            <Icon Name="IconName.Stop"/>
                        </Button>
                    </Column>
                    <Column Style="display: flex; justify-content: center">
                        <Slider TValue="double" Value="@_currentFrame" ValueChanged="@OnSliderValueChanged" Min="0" Max="_totalFrames"/>
                    </Column>
                    <Column Style="display: flex; justify-content: center" ColumnSize="ColumnSize.IsAuto">
                        <div style="display: flex; justify-content: center; align-items: center; width: 100px">
                            @((int)_currentFrame) / @_totalFrames
                        </div>
                        <Button Clicked="() => _loop = !_loop">
                            <Icon Name="IconName.Sync" style="@("color: " + (_loop ? "black" : "lightgray"))"/>
                        </Button>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    private string _path = "https://assets2.lottiefiles.com/datafiles/WFKIUGAVvLl1azi/data.json";
    private AnimationDirection _animationDirection = AnimationDirection.Forward;
    private double _speed = 1.0;
    private bool _loop = true;
    private bool _paused = false;
    private bool _loading = true;
    private double _currentFrame = 0;
    private double _totalFrames = 0;
    private string _backgroundColor = "transparent";

    private void Stop()
    {
        _paused = true;
        _currentFrame = 0;
    }

    private void OnLoaded(LoadedEventArgs eventArgs)
    {
        _totalFrames = eventArgs.TotalFrames;
        _loading = false;
    }

    private void OnSliderValueChanged(double sliderValue)
    {
        Stop();
        _currentFrame = sliderValue;
    }

    private void OnSpeedValueChanged(double speedValue)
    {
        _speed = Math.Clamp(speedValue, 0, 5);
    }

    private void OnPathChanged(string path)
    {
        _path = path;
        _loading = true;
    }

}