@page "/tests/toasts";

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Toast (Configuration)</CardTitle>
            </CardHeader>
            <CardBody>
                <Row>
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <Field>
                            <FieldLabel>
                                Animation
                            </FieldLabel>
                            <FieldBody>
                                <Switch @bind-Checked="@animation">Animation</Switch>
                            </FieldBody>
                        </Field>
                    </Column>
                    <Column ColumnSize="ColumnSize.IsAuto">
                        <Field>
                            <FieldLabel>
                                Animation Duration (ms)
                            </FieldLabel>
                            <FieldBody>
                                <NumericEdit TValue="int" @bind-Value="animationDuration" />
                            </FieldBody>
                        </Field>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Column>
</Row>

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Modals (Default)</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>
                    A rendered modal with header, body, and set of actions in the footer.
                </CardText>
            </CardBody>
            <CardBody>
                <Button Color="Color.Primary" Clicked="@(()=>toastProviderRef.Show("Toast Header", "Hello, world! This is a toast message."))">
                    Show Toast
                </Button>
            </CardBody>
            <CardBody>
                <Button Color="Color.Primary" Clicked="@(()=>ToastService.Info("Info message", "Hello, world! This is a toast message from the info."))">
                    Show Toast through service
                </Button>
            </CardBody>
        </Card>
    </Column>
</Row>

<ToastProvider @ref="toastProviderRef" Placement="ToasterPlacement.Bottom" Animated="@animation" AnimationDuration="@animationDuration" />
@code {
    [Inject] IToastService ToastService { get; set; }

    ToastProvider toastProviderRef;

    private bool animation = true;
    private int animationDuration = 300;
}