@page "/tests/video"
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Video player</CardTitle>
            </CardHeader>
            <CardBody>
                <Buttons>
                    <Button Color="Color.Primary" Clicked="@(()=>videoRef.Play())">
                        <Icon Name="IconName.Play" />
                    </Button>
                    <Button Color="Color.Primary" Clicked="@(()=>videoRef.Pause())">
                        <Icon Name="IconName.Pause" />
                    </Button>
                    <Button Color="Color.Primary" Clicked="@(()=>videoRef.Stop())">
                        <Icon Name="IconName.Stop" />
                    </Button>
                </Buttons>
                <Button Color="Color.Primary" Clicked="@OnChangeVideoUrl">Change Video</Button>
                <Button Color="Color.Primary" Clicked="@OnChangeCurrentTime">Go to 20 seconds</Button>
                <Button Color="Color.Secondary" Clicked="@OnChangeQuality">Change Quality to 1080</Button>
            </CardBody>
            <CardBody>
                <Video @ref="@videoRef" Source="@videoSource" CurrentTime="@currentTime" DefaultQuality="@quality" />
            </CardBody>
            <CardBody Margin="Margin.IsAuto.FromTop">
                <Video @ref="@videoRefYoutube" Height="Height.Is50" Width="Width.Is100" YoutubeVideoSource="@YoutubeVideoSource" />
            </CardBody>
        </Card>
    </Column>
</Row>
@code {
    string YoutubeVideoSource = "https://www.youtube.com/watch?v=7sUZbh_3m0Q";

    Video videoRef;
    Video videoRefYoutube;
    VideoSource videoSource = new VideoSource()
    {
        Medias = new ValueEqualityList<VideoMedia>
        {
            new VideoMedia("https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4", "video/mp4", 576),
            new VideoMedia("https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4", "video/mp4", 720),
            new VideoMedia("https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4", "video/mp4", 1080),
        }
    };

    double currentTime = 10;
    int quality = 576;

    Task OnChangeVideoUrl()
    {
        videoSource = "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4";
        currentTime = 0;

        return Task.CompletedTask;
    }

    Task OnChangeCurrentTime()
    {
        currentTime = 20;

        return Task.CompletedTask;
    }

    Task OnChangeQuality()
    {
        quality = 1080;

        return Task.CompletedTask;
    }
}