@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System.Threading.Tasks
@using Blazorise.Utilities
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@implements IAsyncDisposable

<div @key="@ElementKey"
     class="@Class"
     style="@Style"
     @onclick="Clicked"
     @onclick:stopPropagation="@CanReceiveDesignerInteraction"
     @ondblclick="DoubleClicked"
     @ondblclick:preventDefault="@CanStartInlineTextEdit"
     @ondblclick:stopPropagation="@CanStartInlineTextEdit"
     @oncontextmenu="NonRenderingContextMenu"
     @oncontextmenu:preventDefault="@CanReceiveDesignerInteraction"
     @oncontextmenu:stopPropagation="@CanReceiveDesignerInteraction"
     @onpointerdown="PointerDown"
     @onpointerdown:preventDefault="@CanStartDesignerPointerDrag"
     @onpointerdown:stopPropagation="@ShouldStopPointerDownPropagation">
    <div class="b-report-element-content">
        @if ( Editing && CanEditText )
        {
            <textarea @ref="textEditElement"
                      class="b-report-element-text-editor"
                      value="@textEditValue"
                      @oninput="OnTextEditInput"
                      @onblur="CompleteTextEditAsync"
                      @onkeydown="HandleTextEditKeyDownAsync"
                      @onkeydown:stopPropagation="true"
                      @onclick:stopPropagation="true"
                      @ondblclick:stopPropagation="true"
                      @onpointerdown:stopPropagation="true"></textarea>
        }
        else
        {
            @switch ( Element.Type )
            {
                case ReportElementType.Text:
                    @GetText()
                    break;
                case ReportElementType.Field:
                    @GetFieldText()
                    break;
                case ReportElementType.Table:
                    @if ( Element is ReportTableElementDefinition tableElement )
                    {
                        <_ReportDesignerTable Data="@Data"
                                              Definition="@Definition"
                                              Section="@Section"
                                              Item="@Item"
                                              RunningTotals="@RunningTotals"
                                              Element="@tableElement"
                                              DesignMode="@DesignMode"
                                              TableSelected="@Selected"
                                              SelectedCellKey="@SelectedCellKey"
                                              CellClicked="@TableCellClicked"
                                              CellContextMenu="@TableCellContextMenu"
                                              IsElementSelected="@IsChildElementSelected"
                                              ElementClicked="@ChildElementClicked"
                                              ElementDoubleClicked="@ChildElementDoubleClicked"
                                              TextEditingActive="@TextEditingActive"
                                              EditingElementKey="@ChildEditingElementKey"
                                              ElementTextEditCommitted="@ChildElementTextEditCommitted"
                                              ElementTextEditCancelled="@ChildElementTextEditCancelled"
                                              ResizeStarted="@TableResizeStarted" />
                    }
                    break;
                case ReportElementType.Image:
                    @if ( Element is ReportImageElementDefinition imageElement )
                    {
                        <img src="@imageElement.Source" alt="@ImageAlternativeText" />
                    }
                    break;
                case ReportElementType.Line:
                case ReportElementType.Rectangle:
                case ReportElementType.PageBreak:
                    break;
            }
        }
    </div>

    @if ( ShowResizeHandles )
    {
        <_ReportDesignerElementResizeHandles NorthWestPointerDown="NorthWestResizeStarted"
                                             NorthPointerDown="NorthResizeStarted"
                                             NorthEastPointerDown="NorthEastResizeStarted"
                                             EastPointerDown="EastResizeStarted"
                                             SouthEastPointerDown="SouthEastResizeStarted"
                                             SouthPointerDown="SouthResizeStarted"
                                             SouthWestPointerDown="SouthWestResizeStarted"
                                             WestPointerDown="WestResizeStarted" />
    }
</div>