@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase
@using System
@using System.Threading.Tasks
@using Blazorise.Utilities
@using Microsoft.AspNetCore.Components.Web

<section @key="@SectionKey"
         class="@SectionClass"
         style="@SectionStyle">
    @if ( DesignMode )
    {
        if ( RailVisible )
        {
            <_ReportDesignerSectionRail Section="Section"
                                        Height="Height"
                                        Selected="Active"
                                        Collapsed="Collapsed"
                                        AllowCollapse="AllowBandCollapse"
                                        ShowDataSource="ShowBandDataSource"
                                        Clicked="RailClicked"
                                        ContextMenu="RailContextMenu"
                                        ToggleClicked="ToggleClicked" />
        }
        else
        {
            <_ReportDesignerSectionLabel Section="Section" />
        }
    }

    @if ( !Collapsed )
    {
        if ( DesignMode )
        {
            <div class="@BodyClass"
                 @ref="bodyElement"
                 style="@BodyStyle"
                 @onpointerdown="BodyPointerDown"
                 @ondragover="NonRenderingDragOver"
                 @ondragover:preventDefault="Editable"
                 @ondrop="OnDropAsync"
                 @ondrop:preventDefault="Editable"
                 @onpointermove="NonRenderingPointerMove"
                 @onpointermove:preventDefault="Editable"
                 @onpointerup="PointerUp"
                 @onpointerup:preventDefault="Editable"
                 @onpointercancel="PointerCancel"
                 @onclick="BodyClicked"
                 @oncontextmenu="BodyContextMenu"
                 @oncontextmenu:preventDefault="Editable">
                @ChildContent

                @if ( Editable && ShowDragPreview )
                {
                    <_ReportDesignerDragPreview ElementType="DragPreviewElementType"
                                                Text="DragPreviewText"
                                                X="DragPreviewX"
                                                Y="DragPreviewY"
                                                Width="DragPreviewWidth"
                                                Height="DragPreviewHeight" />
                }

                @if ( Editable )
                {
                    <_ReportDesignerSectionResizeHandle PointerDown="ResizePointerDown" />
                }
            </div>
        }
        else
        {
            @ChildContent
        }
    }
</section>