@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase

<Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
    <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">@Label</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8">
        <Addons Size="Size.Small">
            <Addon AddonType="AddonType.Body">
                <Select TValue="bool" Value="@Value" ValueChanged="@Changed" Size="Size.Small">
                    <SelectItem TValue="bool" Value="@true">True</SelectItem>
                    <SelectItem TValue="bool" Value="@false">False</SelectItem>
                </Select>
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="@FormulaButtonColor" Clicked="@OpenFormula" Size="Size.Small" aria-label="Edit formula">
                    <Icon Name="IconName.Code" />
                </Button>
            </Addon>
        </Addons>
    </FieldBody>
</Field>