@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase
@using Microsoft.AspNetCore.Components.Web

<_ReportDesignerContextMenu Visible="@IsVisible"
                            X="@(State?.ClientX ?? 0)"
                            Y="@(State?.ClientY ?? 0)">
    @if ( IsSectionMenu )
    {
        <div class="b-report-context-menu-toolbar">
            <_ReportDesignerContextMenuIconButton Icon="IconName.Paste" Text="Paste" Disabled="@(!State.CanPasteElement)" Clicked="@PasteElement" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.CheckDouble" Text="Select all" Disabled="@(!State.CanSelectAllSectionElements)" Clicked="@SelectAllSectionElements" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.Delete" Text="Delete band" Disabled="@(!State.CanDeleteSection)" Clicked="@DeleteSection" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.List" Text="Properties" Clicked="@ShowProperties" />
        </div>

        @if ( State.SectionSuppressed )
        {
            <_ReportDesignerContextMenuCheckButton Text="Suppress" Checked Clicked="@ToggleSectionSuppression" />
        }
        else
        {
            @if ( State.CanInsertSection )
            {
                <_ReportDesignerContextMenuButton Text="Insert band before" Clicked="@InsertSectionBefore" />
                <_ReportDesignerContextMenuButton Text="Insert band after" Clicked="@InsertSectionAfter" />
            }
            @if ( State.CanInsertGroup )
            {
                <_ReportDesignerContextMenuButton Text="Insert group..." Clicked="@InsertGroup" />
            }
            <_ReportDesignerContextMenuCheckButton Text="Suppress" Checked="@State.SectionSuppressed" Clicked="@ToggleSectionSuppression" />
            <_ReportDesignerContextMenuCheckButton Text="Keep together" Checked="@State.SectionKeepTogether" Clicked="@ToggleSectionKeepTogether" />
            <_ReportDesignerContextMenuCheckButton Text="New page before" Checked="@State.SectionNewPageBefore" Clicked="@ToggleSectionNewPageBefore" />
            <_ReportDesignerContextMenuCheckButton Text="New page after" Checked="@State.SectionNewPageAfter" Clicked="@ToggleSectionNewPageAfter" />
        }
    }
    else if ( IsElementMenu )
    {
        <div class="b-report-context-menu-toolbar">
            <_ReportDesignerContextMenuIconButton Icon="IconName.Cut" Text="Cut" Clicked="@CutElement" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.Copy" Text="Copy" Clicked="@CopyElement" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.Paste" Text="Paste" Disabled="@(!State.CanPasteElement)" Clicked="@PasteElement" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.Delete" Text="Delete element" Clicked="@DeleteElement" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.List" Text="Properties" Clicked="@ShowProperties" />
        </div>

        @if ( State.CanAlignOrSizeSelectedElements )
        {
            <_ReportDesignerContextSubMenu Text="Align">
                <_ReportDesignerContextMenuButton Text="Tops" Clicked="@AlignTops" />
                <_ReportDesignerContextMenuButton Text="Middles" Clicked="@AlignMiddles" />
                <_ReportDesignerContextMenuButton Text="Bottoms" Clicked="@AlignBottoms" />
                <_ReportDesignerContextMenuButton Text="Baseline" Clicked="@AlignBaseline" />
                <_ReportDesignerContextMenuButton Text="Lefts" Clicked="@AlignLefts" />
                <_ReportDesignerContextMenuButton Text="Centers" Clicked="@AlignCenters" />
                <_ReportDesignerContextMenuButton Text="Rights" Clicked="@AlignRights" />
                <_ReportDesignerContextMenuButton Text="To Grid" Clicked="@AlignToGrid" />
            </_ReportDesignerContextSubMenu>
            <_ReportDesignerContextSubMenu Text="Sizes">
                <_ReportDesignerContextMenuButton Text="Same Width" Clicked="@SizeSameWidth" />
                <_ReportDesignerContextMenuButton Text="Same Height" Clicked="@SizeSameHeight" />
                <_ReportDesignerContextMenuButton Text="Same Size" Clicked="@SizeSameSize" />
            </_ReportDesignerContextSubMenu>
        }

        @if ( State.CanInsertAggregate )
        {
            <_ReportDesignerContextMenuButton Text="Insert aggregate" Clicked="@InsertAggregate" />
        }

        @if ( State.CanEditText )
        {
            <_ReportDesignerContextMenuButton Text="Edit Text" Clicked="@EditText" />
        }

        @if ( State.CanEditFormula )
        {
            <_ReportDesignerContextMenuButton Text="Edit Formula" Clicked="@EditFormula" />
        }

        @if ( State.CanEditRunningTotal )
        {
            <_ReportDesignerContextMenuButton Text="Edit Running Total" Clicked="@EditRunningTotal" />
        }

        <_ReportDesignerContextMenuCheckButton Text="Can grow" Checked="@State.ElementCanGrow" Clicked="@ToggleElementCanGrow" />
        <_ReportDesignerContextMenuCheckButton Text="Suppress" Checked="@State.ElementSuppressed" Clicked="@ToggleElementSuppression" />
    }
    else if ( IsCellMenu )
    {
        <div class="b-report-context-menu-toolbar">
            <_ReportDesignerContextMenuIconButton Icon="IconName.Paste" Text="Paste" Disabled="@(!State.CanPasteElement)" Clicked="@PasteElement" />
            <_ReportDesignerContextMenuIconButton Icon="IconName.List" Text="Properties" Clicked="@ShowProperties" />
        </div>

        @if ( State.CanPasteElement )
        {
            <_ReportDesignerContextMenuButton Text="Paste" Clicked="@PasteElement" />
        }

        @if ( State.CanMergeCellRight )
        {
            <_ReportDesignerContextMenuButton Text="Merge right" Clicked="@MergeCellRight" />
        }

        @if ( State.CanMergeCellDown )
        {
            <_ReportDesignerContextMenuButton Text="Merge down" Clicked="@MergeCellDown" />
        }

        @if ( State.CanUnmergeCell )
        {
            <_ReportDesignerContextMenuButton Text="Unmerge" Clicked="@UnmergeCell" />
        }
    }

    <_ReportDesignerContextMenuButton Text="Close" Clicked="@Close" />
</_ReportDesignerContextMenu>