@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using Microsoft.AspNetCore.Components.Web

<Div Class="b-report-designer-tabs">
    <Button Color="@GetTabColor( ToolboxTab )"
            Clicked="@((MouseEventArgs _) => SelectTab( ToolboxTab ))">
        Toolbox
    </Button>
    <Button Color="@GetTabColor( FieldsExplorerTab )"
            Clicked="@((MouseEventArgs _) => SelectTab( FieldsExplorerTab ))">
        Fields Explorer
    </Button>
</Div>

<div class="b-report-designer-panel-body">
    @if ( IsToolboxSelected )
    {
        <_ReportTreeView Nodes="@ReportDesignerTreeBuilder.BuildToolboxNodes()"
                         NodeDragStarted="@ToolboxNodeDragStarted"
                         NodeDragEnded="@NodeDragEnded" />
    }
    else
    {
        <_ReportTreeView Nodes="@ReportDesignerTreeBuilder.BuildFieldsExplorerNodes( DataSources, Definition?.FormulaFields, Definition?.RunningTotals, selectedFormulaFieldName, selectedRunningTotalName )"
                         NodeClicked="@FieldsNodeClicked"
                         NodeDoubleClicked="@FieldsNodeDoubleClicked"
                         NodeContextMenu="@FieldsNodeContextMenu"
                         NodeDragStarted="@FieldsNodeDragStarted"
                         NodeDragEnded="@NodeDragEnded" />
    }
</div>

<_ReportDesignerContextMenu Visible="@FormulaFieldContextMenuVisible"
                            X="@(formulaFieldContextMenu?.ClientX ?? 0)"
                            Y="@(formulaFieldContextMenu?.ClientY ?? 0)">
    <_ReportDesignerContextMenuButton Text="@NewFormulaFieldContextMenuText" Clicked="@NewFormulaFieldClicked" />

    @if ( IsFormulaFieldContextMenuTarget )
    {
        <_ReportDesignerContextMenuButton Text="Edit" Clicked="@EditFormulaFieldClicked" />
        <_ReportDesignerContextMenuButton Text="Rename" Clicked="@RenameFormulaFieldClicked" />
        <_ReportDesignerContextMenuButton Text="Delete" Clicked="@DeleteFormulaFieldClicked" />
    }

    <_ReportDesignerContextMenuButton Text="Close" Clicked="@((MouseEventArgs _) => CloseFormulaFieldContextMenu())" />
</_ReportDesignerContextMenu>

<_ReportDesignerContextMenu Visible="@RunningTotalContextMenuVisible"
                            X="@(runningTotalContextMenu?.ClientX ?? 0)"
                            Y="@(runningTotalContextMenu?.ClientY ?? 0)">
    <_ReportDesignerContextMenuButton Text="@NewRunningTotalContextMenuText" Clicked="@NewRunningTotalClicked" />

    @if ( IsRunningTotalContextMenuTarget )
    {
        <_ReportDesignerContextMenuButton Text="Edit" Clicked="@EditRunningTotalClicked" />
        <_ReportDesignerContextMenuButton Text="Rename" Clicked="@RenameRunningTotalClicked" />
        <_ReportDesignerContextMenuButton Text="Delete" Clicked="@DeleteRunningTotalClicked" />
    }

    <_ReportDesignerContextMenuButton Text="Close" Clicked="@((MouseEventArgs _) => CloseRunningTotalContextMenu())" />
</_ReportDesignerContextMenu>

<_ReportDesignerContextMenu Visible="@DataSourceContextMenuVisible"
                            X="@(dataSourceContextMenu?.ClientX ?? 0)"
                            Y="@(dataSourceContextMenu?.ClientY ?? 0)">
    <_ReportDesignerContextMenuButton Text="Refresh" Clicked="@RefreshDataSourceClicked" />
    <_ReportDesignerContextMenuButton Text="Delete" Clicked="@DeleteDataSourceClicked" />
    <_ReportDesignerContextMenuButton Text="Close" Clicked="@((MouseEventArgs _) => CloseDataSourceContextMenu())" />
</_ReportDesignerContextMenu>

<_ReportDesignerFormulaFieldNameDialog @ref="formulaFieldNameDialogRef"
                                       Confirmed="@FormulaFieldNameConfirmed" />
<_ReportDesignerFormulaFieldNameDialog @ref="runningTotalNameDialogRef"
                                       Confirmed="@RunningTotalNameConfirmed" />
<_ReportDesignerFormulaDialog @ref="formulaDialogRef"
                              Definition="@Definition"
                              Data="@Data"
                              Confirmed="@FormulaFieldFormulaConfirmed" />
<_ReportDesignerRunningTotalDialog @ref="runningTotalDialogRef"
                                   Definition="@Definition"
                                   Data="@Data"
                                   Confirmed="@RunningTotalDialogConfirmed" />