@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase
@using Microsoft.AspNetCore.Components.Web

<Div Class="b-report-designer-tabs">
    <Button Color="@GetTabColor( ToolboxTab )"
            Clicked="@((MouseEventArgs _) => SelectTab( ToolboxTab ))">
        Toolbox
    </Button>
    <Button Color="@GetTabColor( FieldsExplorerTab )"
            Clicked="@((MouseEventArgs _) => SelectTab( FieldsExplorerTab ))">
        Fields Explorer
    </Button>
</Div>

<div class="b-report-designer-panel-body">
    @if ( IsToolboxSelected )
    {
        <_ReportTreeView Nodes="@ReportDesignerTreeBuilder.BuildToolboxNodes()"
                         NodeDragStarted="@ToolboxNodeDragStarted"
                         NodeDragEnded="@NodeDragEnded" />
    }
    else
    {
        <_ReportTreeView Nodes="@ReportDesignerTreeBuilder.BuildFieldsExplorerNodes( DataSources )"
                         NodeDragStarted="@FieldsNodeDragStarted"
                         NodeDragEnded="@NodeDragEnded" />
    }
</div>