@namespace Blazorise.Reporting.Internal
@using Microsoft.AspNetCore.Components.Web

<span @key="@NorthWestKey"
      class="b-report-resize-handle b-report-resize-handle-nw"
      @onpointerdown="NorthWestPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@NorthKey"
      class="b-report-resize-handle b-report-resize-handle-n"
      @onpointerdown="NorthPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@NorthEastKey"
      class="b-report-resize-handle b-report-resize-handle-ne"
      @onpointerdown="NorthEastPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@EastKey"
      class="b-report-resize-handle b-report-resize-handle-e"
      @onpointerdown="EastPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@SouthEastKey"
      class="b-report-resize-handle b-report-resize-handle-se"
      @onpointerdown="SouthEastPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@SouthKey"
      class="b-report-resize-handle b-report-resize-handle-s"
      @onpointerdown="SouthPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@SouthWestKey"
      class="b-report-resize-handle b-report-resize-handle-sw"
      @onpointerdown="SouthWestPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>
<span @key="@WestKey"
      class="b-report-resize-handle b-report-resize-handle-w"
      @onpointerdown="WestPointerDown"
      @onpointerdown:preventDefault
      @onpointerdown:stopPropagation></span>

@code {
    private const string NorthWestKey = "nw";
    private const string NorthKey = "n";
    private const string NorthEastKey = "ne";
    private const string EastKey = "e";
    private const string SouthEastKey = "se";
    private const string SouthKey = "s";
    private const string SouthWestKey = "sw";
    private const string WestKey = "w";

    /// <summary>
    /// Raised when resizing starts from the north-west handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> NorthWestPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the north handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> NorthPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the north-east handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> NorthEastPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the east handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> EastPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the south-east handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> SouthEastPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the south handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> SouthPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the south-west handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> SouthWestPointerDown { get; set; }

    /// <summary>
    /// Raised when resizing starts from the west handle.
    /// </summary>
    [Parameter] public EventCallback<PointerEventArgs> WestPointerDown { get; set; }
}