@page "/contact"

<Seo Canonical="/contact" Title="Contact the Blazorise Team" Description="Contact us and learn more about our Blazorise components. We are here to help you with your product, licensing, renewals and other questions." />

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is8.OnDesktop" Margin="Margin.IsAuto.OnX.Is5" TextAlignment="TextAlignment.Center">
            <Badge Color="Color.Info">
                Leave a message
            </Badge>
            <Heading Size="HeadingSize.Is1">
                Tell us more about <b>yourself</b>
            </Heading>
            <Heading Size="HeadingSize.Is4">
                Whether you have questions or you would just like to say hello, contact us.
            </Heading>
        </Column>
    </Row>

    <Row>
        <Column ColumnSize="ColumnSize.Is8.OnWidescreen.Is12.OnDesktop" Margin="Margin.IsAuto.OnX">
            <Card Shadow="Shadow.Large">
                <Form>
                    <CardBody>
                        <Validations @ref="validationsRef" Mode="ValidationMode.Manual">
                            <Row>
                                <Column ColumnSize="ColumnSize.IsHalf.OnDesktop">
                                    <Validation Validator="ValidationRule.IsNotEmpty">
                                        <Field>
                                            <FieldLabel>First name</FieldLabel>
                                            <FieldBody>
                                                <Addons Margin="Margin.Is4.FromBottom">
                                                    <Addon AddonType="AddonType.Start">
                                                        <AddonLabel>
                                                            <Icon Name="IconName.User" />
                                                        </AddonLabel>
                                                    </Addon>
                                                    <Addon AddonType="AddonType.Body">
                                                        <TextEdit @bind-Text="@User.FirstName" name="firstName" Placeholder="First Name..." aria-label="First Name..." />
                                                    </Addon>
                                                </Addons>
                                            </FieldBody>
                                        </Field>
                                    </Validation>
                                </Column>
                                <Column ColumnSize="ColumnSize.IsHalf.OnDesktop" Padding="Padding.Is2.FromStart">
                                    <Validation Validator="ValidationRule.IsNotEmpty">
                                        <Field>
                                            <FieldLabel>Last name</FieldLabel>
                                            <FieldBody>

                                                <Addons Margin="Margin.Is4.FromBottom">
                                                    <Addon AddonType="AddonType.Start">
                                                        <AddonLabel>
                                                            <Icon Name="IconName.Book" />
                                                        </AddonLabel>
                                                    </Addon>
                                                    <Addon AddonType="AddonType.Body">
                                                        <TextEdit @bind-Text="@User.LastName" name="lastName" Placeholder="Last Name..." aria-label="Last Name..." />
                                                    </Addon>
                                                </Addons>
                                            </FieldBody>
                                        </Field>
                                    </Validation>
                                </Column>
                            </Row>
                            <Validation Validator="ValidationRule.IsEmail">
                                <Field>
                                    <FieldLabel>Email address</FieldLabel>
                                    <FieldBody>
                                        <Addons>
                                            <Addon AddonType="AddonType.Start">
                                                <AddonLabel>
                                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Envelope" />
                                                </AddonLabel>
                                            </Addon>
                                            <TextEdit @bind-Text="@User.Email" name="email" Role="TextRole.Email" Placeholder="Email Here..." aria-label="Last Name..." />
                                        </Addons>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation Validator="ValidationRule.IsNotEmpty">
                                <Field>
                                    <FieldLabel>Subject</FieldLabel>
                                    <FieldBody>
                                        <Addons>
                                            <Addon AddonType="AddonType.Start">
                                                <AddonLabel>
                                                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Question" />
                                                </AddonLabel>
                                            </Addon>
                                            <Select @bind-SelectedValue="@MessageSubject">
                                                @foreach ( var subject in Subjects )
                                                {
                                                    <SelectItem TValue="string" Value="@subject">@subject</SelectItem>
                                                }
                                            </Select>
                                        </Addons>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation Validator="ValidationRule.IsNotEmpty">
                                <Field>
                                    <FieldLabel>Your message</FieldLabel>
                                    <FieldBody>
                                        <MemoEdit @bind-Text="@MessageBody" name="message" Rows="6" />
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Row>
                                <Validation Validator="@ValidateRobot">
                                    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop">
                                        <Check TValue="bool" @bind-Checked="@NotARobot">
                                            <ChildContent>
                                                I'm not a robot
                                            </ChildContent>
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </Check>
                                    </Column>
                                </Validation>
                                <Column ColumnSize="ColumnSize.IsHalf.OnDesktop">
                                    <Button Clicked="@SendEmail" Color="Color.Primary" Float="Float.End">Send Message</Button>
                                </Column>
                            </Row>
                        </Validations>
                    </CardBody>
                </Form>
            </Card>
        </Column>
    </Row>
</Container>