<h2>Select string</h2>
<p id="select-string-initially-blank">
    Initially blank:
    <SelectEdit SelectedValue="@nameInitiallyBlank" SelectedValueChanged="@((v)=> { nameInitiallyBlank = v; StateHasChanged(); })">
        <SelectItem Value="string.Empty"></SelectItem>
        <SelectItem Value="@("Oliver")">Oliver</SelectItem>
        <SelectItem Value="@("Harry")">Harry</SelectItem>
        <SelectItem Value="@("Jack")">Jack</SelectItem>
        <SelectItem Value="@("George")">George</SelectItem>
    </SelectEdit>
    <span id="select-string-initially-blank-result">@nameInitiallyBlank</span>
</p>
<p id="select-string-initially-selected">
    Initially populated:
    <SelectEdit SelectedValue="@nameInitiallySelected" SelectedValueChanged="@((v)=> { nameInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="string.Empty"></SelectItem>
        <SelectItem Value="@("Oliver")">Oliver</SelectItem>
        <SelectItem Value="@("Harry")">Harry</SelectItem>
        <SelectItem Value="@("Jack")">Jack</SelectItem>
        <SelectItem Value="@("George")">George</SelectItem>
    </SelectEdit>
    <span id="select-string-initially-selected-result">@nameInitiallySelected</span>
</p>

<h2>Select int:</h2>
<p id="select-int-initially-blank">
    Initially blank:
    <SelectEdit SelectedValue="@intInitiallyBlank" SelectedValueChanged="@((v)=> { intInitiallyBlank = v; StateHasChanged(); })">
        <SelectItem Value="0"></SelectItem>
        <SelectItem Value="1">1</SelectItem>
        <SelectItem Value="2">2</SelectItem>
        <SelectItem Value="3">3</SelectItem>
        <SelectItem Value="4">4</SelectItem>
    </SelectEdit>
    <span id="select-int-initially-blank-result">@intInitiallyBlank</span>
</p>
<p id="select-int-initially-selected">
    Initially selected:
    <SelectEdit SelectedValue="@intInitiallySelected" SelectedValueChanged="@((v)=> { intInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="0"></SelectItem>
        <SelectItem Value="1">1</SelectItem>
        <SelectItem Value="2">2</SelectItem>
        <SelectItem Value="3">3</SelectItem>
        <SelectItem Value="4">4</SelectItem>
    </SelectEdit>
    <span id="select-int-initially-selected-result">@intInitiallySelected</span>
</p>

<h2>Select nullable int:</h2>
<p id="select-nullable-int-initially-blank">
    Initially blank:
    <SelectEdit SelectedValue="@nullableIntInitiallyBlank" SelectedValueChanged="@((v)=> { nullableIntInitiallyBlank = v; StateHasChanged(); })">
        <SelectItem Value="@((int?)null)"></SelectItem>
        <SelectItem Value="@((int?)1)">1</SelectItem>
        <SelectItem Value="@((int?)2)">2</SelectItem>
        <SelectItem Value="@((int?)3)">3</SelectItem>
        <SelectItem Value="@((int?)4)">4</SelectItem>
    </SelectEdit>
    <span id="select-nullable-int-initially-blank-result">@nullableIntInitiallyBlank</span>
</p>
<p id="select-nullable-int-initially-selected">
    Initially selected:
    <SelectEdit SelectedValue="@nullableIntInitiallySelected" SelectedValueChanged="@((v)=> { nullableIntInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="@((int?)null)"></SelectItem>
        <SelectItem Value="@((int?)1)">1</SelectItem>
        <SelectItem Value="@((int?)2)">2</SelectItem>
        <SelectItem Value="@((int?)3)">3</SelectItem>
        <SelectItem Value="@((int?)4)">4</SelectItem>
    </SelectEdit>
    <span id="select-nullable-int-initially-selected-result">@nullableIntInitiallySelected</span>
</p>


<h2>Select guid:</h2>
<p id="select-guid-initially-blank">
    Initially blank:
    <SelectEdit SelectedValue="@guidInitiallyBlank" SelectedValueChanged="@((v)=> { guidInitiallyBlank = v; StateHasChanged(); })">
        <SelectItem Value="Guid.Empty"></SelectItem>
        <SelectItem Value="@(Guid.Parse("413a7c18-b190-4f58-a967-338cd1566e97"))">g1</SelectItem>
        <SelectItem Value="@(Guid.Parse("00cd0391-5e22-4729-855a-fec86267722c"))">g2</SelectItem>
        <SelectItem Value="@(Guid.Parse("bca8ef46-abb7-4aec-b700-90b2b730a382"))">g3</SelectItem>
        <SelectItem Value="@(Guid.Parse("71faf98c-286d-429e-854c-7877b7559f06"))">g4</SelectItem>
    </SelectEdit>
    <span id="select-guid-initially-blank-result">@guidInitiallyBlank</span>
</p>
<p id="select-guid-initially-selected">
    Initially selected:
    <SelectEdit SelectedValue="@guidInitiallySelected" SelectedValueChanged="@((v)=> { guidInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="Guid.Empty"></SelectItem>
        <SelectItem Value="@(Guid.Parse("413a7c18-b190-4f58-a967-338cd1566e97"))">g1</SelectItem>
        <SelectItem Value="@(Guid.Parse("00cd0391-5e22-4729-855a-fec86267722c"))">g2</SelectItem>
        <SelectItem Value="@(Guid.Parse("bca8ef46-abb7-4aec-b700-90b2b730a382"))">g3</SelectItem>
        <SelectItem Value="@(Guid.Parse("71faf98c-286d-429e-854c-7877b7559f06"))">g4</SelectItem>
    </SelectEdit>
    <span id="select-guid-initially-selected-result">@guidInitiallySelected</span>
</p>

<h2>Select nullable guid:</h2>
<p id="select-nullable-guid-initially-blank">
    Initially blank:
    <SelectEdit SelectedValue="@nullableGuidInitiallyBlank" SelectedValueChanged="@((v)=> { nullableGuidInitiallyBlank = v; StateHasChanged(); })">
        <SelectItem Value="@((Guid?)null)"></SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("413a7c18-b190-4f58-a967-338cd1566e97"))">g1</SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("00cd0391-5e22-4729-855a-fec86267722c"))">g2</SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("bca8ef46-abb7-4aec-b700-90b2b730a382"))">g3</SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("71faf98c-286d-429e-854c-7877b7559f06"))">g4</SelectItem>
    </SelectEdit>
    <span id="select-nullable-guid-initially-blank-result">@nullableGuidInitiallyBlank</span>
</p>
<p id="select-nullable-guid-initially-selected">
    Initially selected:
    <SelectEdit SelectedValue="@nullableGuidInitiallySelected" SelectedValueChanged="@((v)=> { nullableGuidInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="@((Guid?)null)"></SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("413a7c18-b190-4f58-a967-338cd1566e97"))">g1</SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("00cd0391-5e22-4729-855a-fec86267722c"))">g2</SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("bca8ef46-abb7-4aec-b700-90b2b730a382"))">g3</SelectItem>
        <SelectItem Value="@((Guid?)Guid.Parse("71faf98c-286d-429e-854c-7877b7559f06"))">g4</SelectItem>
    </SelectEdit>
    <span id="select-nullable-guid-initially-selected-result">@nullableGuidInitiallySelected</span>
</p>


<h2>Select enum:</h2>
<p id="select-enum-initially-selected">
    Initially selected:
    <SelectEdit SelectedValue="@enumInitiallySelected" SelectedValueChanged="@((v)=> { enumInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="@DaysInWeek.Mon">Mon</SelectItem>
        <SelectItem Value="@DaysInWeek.Tue">Tue</SelectItem>
        <SelectItem Value="@DaysInWeek.Wen">Wen</SelectItem>
        <SelectItem Value="@DaysInWeek.Thu">Thu</SelectItem>
        <SelectItem Value="@DaysInWeek.Fri">Fri</SelectItem>
        <SelectItem Value="@DaysInWeek.Sat">Sat</SelectItem>
        <SelectItem Value="@DaysInWeek.Sun">Sun</SelectItem>
    </SelectEdit>
    <span id="select-enum-initially-selected-result">@enumInitiallySelected</span>
</p>

<h2>Select nullable enum:</h2>
<p id="select-nullable-enum-initially-blank">
    Initially blank:
    <SelectEdit SelectedValue="@nullableEnumInitiallyBlank" SelectedValueChanged="@((v)=> { nullableEnumInitiallyBlank = v; StateHasChanged(); })">
        <SelectItem Value="@((DaysInWeek?)null)"></SelectItem>
        <SelectItem Value="@DaysInWeek.Mon">Mon</SelectItem>
        <SelectItem Value="@DaysInWeek.Tue">Tue</SelectItem>
        <SelectItem Value="@DaysInWeek.Wen">Wen</SelectItem>
        <SelectItem Value="@DaysInWeek.Thu">Thu</SelectItem>
        <SelectItem Value="@DaysInWeek.Fri">Fri</SelectItem>
        <SelectItem Value="@DaysInWeek.Sat">Sat</SelectItem>
        <SelectItem Value="@DaysInWeek.Sun">Sun</SelectItem>
    </SelectEdit>
    <span id="select-nullable-enum-initially-blank-result">@nullableEnumInitiallyBlank</span>
</p>
<p id="select-nullable-enum-initially-selected">
    Initially selected:
    <SelectEdit SelectedValue="@nullableEnumInitiallySelected" SelectedValueChanged="@((v)=> { nullableEnumInitiallySelected = v; StateHasChanged(); })">
        <SelectItem Value="@((DaysInWeek?)null)"></SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Mon)">Mon</SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Tue)">Tue</SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Wen)">Wen</SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Thu)">Thu</SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Fri)">Fri</SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Sat)">Sat</SelectItem>
        <SelectItem Value="@((DaysInWeek?)DaysInWeek.Sun)">Sun</SelectItem>
    </SelectEdit>
    <span id="select-nullable-enum-initially-selected-result">@nullableEnumInitiallySelected</span>
</p>

<SimpleButton Clicked="@(()=>StateHasChanged())">CHANGE STATE</SimpleButton>

@functions{
    string nameInitiallyBlank = string.Empty;
    string nameInitiallySelected = "Oliver";

    int intInitiallyBlank;
    int intInitiallySelected = 1;

    int? nullableIntInitiallyBlank;
    int? nullableIntInitiallySelected = 1;

    Guid guidInitiallyBlank;
    Guid guidInitiallySelected = Guid.Parse( "413a7c18-b190-4f58-a967-338cd1566e97" );

    Guid? nullableGuidInitiallyBlank;
    Guid? nullableGuidInitiallySelected = Guid.Parse( "413a7c18-b190-4f58-a967-338cd1566e97" );

    DaysInWeek enumInitiallySelected;

    DaysInWeek? nullableEnumInitiallyBlank;
    DaysInWeek? nullableEnumInitiallySelected = DaysInWeek.Wen;

    public enum DaysInWeek
    {
        Mon,
        Tue,
        Wen,
        Thu,
        Fri,
        Sat,
        Sun,
    }
}