<p id="text-basic">
    <TextEdit></TextEdit>
</p>
<p id="text-event-initially-blank">
    <TextEdit id="text-with-event" Value="@textWithEvent" ValueChanged="@((s)=> textWithEvent = s )"></TextEdit>

    <span>The text below should update automatically as you type in the text field above</span>

    <span id="text-event-initially-blank-result">@textWithEvent</span>
</p>
<p id="text-bind-initially-blank">
    <TextEdit id="text-binding" @bind-Value="@textWithBind"></TextEdit>

    <span>The text below should update automatically as you type in the text field above</span>

    <span id="text-bind-initially-blank-result">@textWithBind</span>
</p>
@code {
    string textWithEvent { get; set; }
    string textWithBind { get; set; }
}