<h2>Without bind or event</h2>
<p id="validate-text-initially-blank">
    Initially blank:
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <TextEdit>
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>
<p id="validate-text-initially-populated">
    Initially populated:
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <TextEdit Text="a">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>

<h2>With bind</h2>
<p id="validate-text-with-bind-initially-blank">
    Initially blank:
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <TextEdit @bind-Text="@textWithBindInitiallyBlank">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>
<p id="validate-text-with-bind-initially-populated">
    Initially populated:
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <TextEdit @bind-Text="@textWithBindInitiallyPopulated">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>

<h2>With event</h2>
<p id="validate-text-with-event-initially-blank">
    Initially blank:
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <TextEdit Text="@textWithEventInitiallyBlank" TextChanged="@((v)=> { textWithEventInitiallyBlank = v; })">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>
<p id="validate-text-with-event-initially-populated">
    Initially populated:
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <TextEdit Text="@textWithEventInitiallyPopulated" TextChanged="@((v)=> {textWithEventInitiallyPopulated = v; })">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>

<h2>Using pattern:</h2>
<p id="validate-text-using-pattern-initially-blank">
    Initially blank:
    <Validation UsePattern>
        <TextEdit Pattern="[A-Za-z]{1}" @bind-Text="@textUsingPatternInitiallyBlank">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>
<p id="validate-text-using-pattern-initially-populated">
    Initially populated:
    <Validation UsePattern>
        <TextEdit Pattern="[A-Za-z]{1}" @bind-Text="@textUsingPatternInitiallyPopulated">
            <Feedback>
                <ValidationError>error</ValidationError>
            </Feedback>
        </TextEdit>
    </Validation>
</p>
@code{
    string textWithBindInitiallyBlank;
    string textWithBindInitiallyPopulated = "a";

    string textWithEventInitiallyBlank;
    string textWithEventInitiallyPopulated = "a";

    string textUsingPatternInitiallyBlank;
    string textUsingPatternInitiallyPopulated = "a";
}