@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using Microsoft.AspNetCore.Components.Web

<Div Flex="FlexColumn" Gap="GapIs2">
    @if ( settings.Count == 0 )
    {
        <Paragraph TextColor="TextColorSecondary" TextSize="TextSizeSmall" Margin="MarginIs0">No provider settings defined.</Paragraph>
    }
    @foreach ( ReportDataSourceSettingItem setting in settings )
    {
        <Div @key="setting.Id" Flex="FlexRow" Gap="GapIs2">
            <TextInput Value="@setting.Key" ValueChanged="@(( string value ) => OnSettingKeyChanged( setting, value ))" Placeholder="Key" Size="Size.Small" />
            <TextInput Value="@setting.Value" ValueChanged="@(( string value ) => OnSettingValueChanged( setting, value ))" Placeholder="Value" Size="Size.Small" />
            <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => RemoveSettingAsync( setting ))" Size="Size.Small" title="Remove setting" aria-label="Remove setting">
                <Icon Name="@IconName.Delete" />
            </Button>
        </Div>
    }
    <Div>
        <Button Color="Color.Light" Clicked="@AddSettingAsync" Size="Size.Small">
            <Icon Name="@IconName.Add" Margin="MarginIs1FromEnd" />
            Add setting
        </Button>
    </Div>
</Div>