@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System
@using System.Threading.Tasks
@using Blazorise.Utilities
@using Microsoft.AspNetCore.Components.Web

<div @key="@PageKey"
     @ref="pageElement"
     class="@Class"
     style="@Style"
     @onpointermove="OnPointerMove"
     @onpointermove:preventDefault="DesignMode"
     @onpointerup="OnPointerUp"
     @onpointerup:preventDefault="DesignMode"
     @onpointercancel="OnPointerCancel">
    @if ( DesignMode )
    {
        <div class="b-report-page-margin b-report-page-margin-top" style="@MarginTopStyle"></div>
        <div class="b-report-page-margin b-report-page-margin-right" style="@MarginRightStyle"></div>
        <div class="b-report-page-margin b-report-page-margin-bottom" style="@MarginBottomStyle"></div>
        <div class="b-report-page-margin b-report-page-margin-left" style="@MarginLeftStyle"></div>
        <div class="b-report-page-printable-area" style="@PrintableAreaStyle"></div>
        <div class="b-report-page-margin-spacer" style="@MarginSpacerStyle"></div>
    }

    @ChildContent

    @if ( DesignMode && ShowSelectionBox )
    {
        <_ReportDesignerSelectionBox X="SelectionBoxX"
                                     Y="SelectionBoxY"
                                     Width="SelectionBoxWidth"
                                     Height="SelectionBoxHeight"
                                     LeftOffset="SelectionBoxLeftOffset" />
    }
</div>