@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent

<ModalHeader>
    <ModalTitle>Select data source</ModalTitle>
    <CloseButton Clicked="@Close" />
</ModalHeader>
<ModalBody>
    <Field Horizontal>
        <FieldLabel ColumnSize="ColumnSizeIs4" TextSize="TextSizeSmall">Data source</FieldLabel>
        <FieldBody ColumnSize="ColumnSizeIs8">
            <Select TValue="string" Value="@selectedDataSource" ValueChanged="@OnSelectedDataSourceChanged" Size="Size.Small">
                <SelectItem TValue="string" Value="@NoDataSourceValue">None</SelectItem>
                @foreach ( ReportDesignerDataSourceOption dataSource in dataSourceOptions )
                {
                    <SelectItem TValue="string" Value="@dataSource.Value">@dataSource.DisplayName</SelectItem>
                }
            </Select>
        </FieldBody>
    </Field>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Primary" Clicked="@Confirm" Size="Size.Small">OK</Button>
    <Button Color="Color.Light" Clicked="@Close" Size="Size.Small">Cancel</Button>
</ModalFooter>