@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System
@using Microsoft.AspNetCore.Components.Web

<_ReportDesignerDataSourceDialog @ref="dataSourceDialogRef" Definition="@Definition" Confirmed="@UpdateSelectedSectionDataSource" />
<_ReportDesignerFormulaDialog @ref="formulaDialogRef" Definition="@Definition" Data="@Data" Section="@FormulaSection" Confirmed="@OnFormulaDialogConfirmedAsync" />
<_ReportDesignerImageUploadDialog @ref="imageUploadDialogRef"
                                  ImageAccept="@ImageAccept"
                                  ImageMaxSize="@ImageMaxSize"
                                  MaxUploadImageChunkSize="@MaxUploadImageChunkSize"
                                  SegmentFetchTimeout="@ImageUploadSegmentFetchTimeout"
                                  DisableImageUploadProgressReport="@DisableImageUploadProgressReport"
                                  ImageUploadChanged="@ImageUploadChanged"
                                  ImageUploadStarted="@ImageUploadStarted"
                                  ImageUploadEnded="@ImageUploadEnded"
                                  ImageUploadWritten="@ImageUploadWritten"
                                  ImageUploadProgressed="@ImageUploadProgressed"
                                  ImageUpload="@ImageUpload"
                                  Confirmed="@OnImageUploadConfirmedAsync" />

@if ( ReportSelected )
{
    <Div Margin="Margin.Is3.FromBottom">
        <h6>Report properties</h6>
        <_ReportDesignerPropertyGroup Title="Designer">
            <_ReportDesignerCheckboxProperty Label="Snap to grid" Value="@SnapToGrid" Changed="@OnSnapToGridChanged" />
            <_ReportDesignerCheckboxProperty Label="Show rulers" Value="@ShowRulers" Changed="@ShowRulersChanged" />
            <_ReportDesignerCheckboxProperty Label="Fine ruler ticks" Value="@ShowFineRulerTicks" Changed="@ShowFineRulerTicksChanged" />
            <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Band mode</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8">
                    <Select TValue="ReportBandMode" Value="@BandMode" ValueChanged="@BandModeChanged" Size="Size.Small">
                        @foreach ( var option in BandModeOptions )
                        {
                            <SelectItem TValue="ReportBandMode" Value="@option.Value">@option.Text</SelectItem>
                        }
                    </Select>
                </FieldBody>
            </Field>
        </_ReportDesignerPropertyGroup>
        <_ReportDesignerPropertyGroup Title="Page">
            <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Unit</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8">
                    <Select TValue="ReportMeasurementUnit" Value="@GetPageMeasurementUnit()" ValueChanged="@OnPageMeasurementUnitChanged" Size="Size.Small">
                        @foreach ( var option in PageMeasurementUnitOptions )
                        {
                            <SelectItem TValue="ReportMeasurementUnit" Value="@option.Value">@option.Text</SelectItem>
                        }
                    </Select>
                </FieldBody>
            </Field>
            <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Paper size</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8">
                    <Select TValue="ReportPageSize" Value="@Definition.Page.Size" ValueChanged="@OnPageSizeChanged" Size="Size.Small">
                        @foreach ( var option in PageSizeOptions )
                        {
                            <SelectItem TValue="ReportPageSize" Value="@option.Value">@option.Text</SelectItem>
                        }
                    </Select>
                </FieldBody>
            </Field>
            <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Orientation</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8">
                    <Select TValue="ReportOrientation" Value="@Definition.Page.Orientation" ValueChanged="@OnPageOrientationChanged" Size="Size.Small">
                        @foreach ( var option in PageOrientationOptions )
                        {
                            <SelectItem TValue="ReportOrientation" Value="@option.Value">@option.Text</SelectItem>
                        }
                    </Select>
                </FieldBody>
            </Field>
            <_ReportDesignerNumberProperty TValue="double" Label="Page width" Value="@FromPoints( Definition.Page.Width )" Changed="@OnPageWidthChanged" Step="@GetMeasurementStep()" />
            <_ReportDesignerNumberProperty TValue="double" Label="Page height" Value="@FromPoints( Definition.Page.Height )" Changed="@OnPageHeightChanged" Step="@GetMeasurementStep()" />
            <_ReportDesignerNumberProperty TValue="double" Label="Margin left" Value="@FromPoints( EnsurePageMargins( Definition.Page ).Left )" Changed="@OnPageMarginLeftChanged" Step="@GetMeasurementStep()" />
            <_ReportDesignerNumberProperty TValue="double" Label="Margin top" Value="@FromPoints( EnsurePageMargins( Definition.Page ).Top )" Changed="@OnPageMarginTopChanged" Step="@GetMeasurementStep()" />
            <_ReportDesignerNumberProperty TValue="double" Label="Margin right" Value="@FromPoints( EnsurePageMargins( Definition.Page ).Right )" Changed="@OnPageMarginRightChanged" Step="@GetMeasurementStep()" />
            <_ReportDesignerNumberProperty TValue="double" Label="Margin bottom" Value="@FromPoints( EnsurePageMargins( Definition.Page ).Bottom )" Changed="@OnPageMarginBottomChanged" Step="@GetMeasurementStep()" />
        </_ReportDesignerPropertyGroup>
    </Div>
}

@if ( SelectedSection is not null && SelectedElement is null )
{
    <Div Margin="Margin.Is3.FromBottom">
        <h6>Band properties</h6>
        <_ReportDesignerPropertyGroup Title="Status">
            <_ReportDesignerFormulaBooleanProperty Label="Suppress"
                                                   Value="@SelectedSection.Suppressed"
                                                   Formula="@SelectedSection.Suppress?.Formula"
                                                   Changed="@UpdateSelectedSectionSuppression"
                                                   OpenFormula="@OpenSelectedSectionSuppressFormulaAsync" />
            @if ( SelectedSection.Type == ReportSectionType.PageFooter )
            {
                <_ReportDesignerCheckboxProperty Label="Reserve space when suppressed" Value="@SelectedSection.ReserveSpaceWhenSuppressed" Changed="@(value => UpdateSelectedSection( section => section.ReserveSpaceWhenSuppressed = value ))" />
            }
        </_ReportDesignerPropertyGroup>

        @if ( !SelectedSection.Suppressed )
        {
            <_ReportDesignerPropertyGroup Title="General">
                <_ReportDesignerTextProperty Label="Name" Value="@SelectedSection.Name" Changed="@(value => UpdateSelectedSection( section => section.Name = value ))" />
                @if ( SelectedSection.Type == ReportSectionType.Detail )
                {
                    <_ReportDesignerDataSourceProperty Label="Data source" Value="@SelectedSection.DataSource" DisplayText="@GetSelectedSectionDataSourceDisplayName()" Clicked="@OpenDataSourceDialogAsync" />
                }
                @if ( SelectedSection.Type is ReportSectionType.Group or ReportSectionType.GroupHeader )
                {
                    <_ReportDesignerTextProperty Label="Group by" Value="@SelectedSection.GroupBy" Changed="@(value => UpdateSelectedSection( section => section.GroupBy = value ))" />
                }
            </_ReportDesignerPropertyGroup>
            <_ReportDesignerPropertyGroup Title="Layout">
                <_ReportDesignerNumberProperty TValue="double" Label="Height" Value="@FromPoints( SelectedSection.Height )" Changed="@OnSelectedSectionHeightChanged" Step="@GetMeasurementStep()" />
            </_ReportDesignerPropertyGroup>
            <_ReportDesignerPropertyGroup Title="Pagination">
                <_ReportDesignerFormulaBooleanProperty Label="Keep together"
                                                       Value="@(SelectedSection.KeepTogether?.Value == true)"
                                                       Formula="@SelectedSection.KeepTogether?.Formula"
                                                       Changed="@UpdateSelectedSectionKeepTogetherAsync"
                                                       OpenFormula="@OpenSelectedSectionKeepTogetherFormulaAsync" />
                <_ReportDesignerFormulaBooleanProperty Label="New page before"
                                                       Value="@(SelectedSection.NewPageBefore?.Value == true)"
                                                       Formula="@SelectedSection.NewPageBefore?.Formula"
                                                       Changed="@UpdateSelectedSectionNewPageBeforeAsync"
                                                       OpenFormula="@OpenSelectedSectionNewPageBeforeFormulaAsync" />
                <_ReportDesignerFormulaBooleanProperty Label="New page after"
                                                       Value="@(SelectedSection.NewPageAfter?.Value == true)"
                                                       Formula="@SelectedSection.NewPageAfter?.Formula"
                                                       Changed="@UpdateSelectedSectionNewPageAfterAsync"
                                                       OpenFormula="@OpenSelectedSectionNewPageAfterFormulaAsync" />
            </_ReportDesignerPropertyGroup>
            @if ( SelectedSection.Type == ReportSectionType.PageFooter )
            {
                var sectionAppearance = EnsureSelectedSectionAppearance();
                var sectionBorder = EnsureSelectedSectionBorder();

                <_ReportDesignerPropertyGroup Title="Page footer">
                    <_ReportDesignerCheckboxProperty Label="Print on first page" Value="@SelectedSection.PrintOnFirstPage" Changed="@(value => UpdateSelectedSection( section => section.PrintOnFirstPage = value ))" />
                    <_ReportDesignerCheckboxProperty Label="Print on last page" Value="@SelectedSection.PrintOnLastPage" Changed="@(value => UpdateSelectedSection( section => section.PrintOnLastPage = value ))" />
                    <_ReportDesignerCheckboxProperty Label="Repeat on every page" Value="@SelectedSection.RepeatOnEveryPage" Changed="@(value => UpdateSelectedSection( section => section.RepeatOnEveryPage = value ))" />
                </_ReportDesignerPropertyGroup>
                <_ReportDesignerPropertyGroup Title="Appearance">
                    <_ReportDesignerColorProperty Label="Fill color" Value="@sectionAppearance.BackgroundColor" Changed="@(value => UpdateSelectedSection( section => EnsureSectionAppearance( section ).BackgroundColor = value ))" />
                    <_ReportDesignerColorProperty Label="Border color" Value="@sectionBorder.Color" Changed="@(value => UpdateSelectedSection( section => EnsureSectionBorder( section ).Color = value ))" />
                    <_ReportDesignerNumberProperty TValue="double?" Label="Border width" Value="@sectionBorder.Width" Changed="@(value => UpdateSelectedSection( section => EnsureSectionBorder( section ).Width = ReportElementDefinitionHelper.NormalizeNullablePositiveNumber( value ) ))" />
                    <_ReportDesignerNumberProperty TValue="double?" Label="Corner radius" Value="@sectionBorder.Radius" Changed="@(value => UpdateSelectedSection( section => EnsureSectionBorder( section ).Radius = ReportElementDefinitionHelper.NormalizeNullablePositiveNumber( value ) ))" />
                    <_ReportDesignerNumberProperty TValue="double?" Label="Opacity" Value="@sectionAppearance.Opacity" Changed="@(value => UpdateSelectedSection( section => EnsureSectionAppearance( section ).Opacity = ReportElementDefinitionHelper.NormalizeOpacity( value ) ))" />
                </_ReportDesignerPropertyGroup>
            }
            <Div Flex="Flex.Wrap" Gap="Gap.Is2" Margin="Margin.Is3.FromTop">
                @if ( CanInsertSection )
                {
                    <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => InsertSection( false ))" Size="Size.Small">Insert before</Button>
                    <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => InsertSection( true ))" Size="Size.Small">Insert after</Button>
                }
                @if ( CanInsertGroup )
                {
                    <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => InsertGroup())" Size="Size.Small">Insert group...</Button>
                }
                @if ( ReportDefinitionHelper.CanDeleteSection( SelectedSection ) )
                {
                    <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => DeleteSelectedSection())" Size="Size.Small">Delete band</Button>
                }
            </Div>
        }
    </Div>
}

@if ( SelectedElement is not null && !SelectedElementSuppressed )
{
    <Div Margin="Margin.Is3.FromTop">
        <h6>Element properties</h6>
        <_ReportDesignerPropertyGroup Title="Status">
            <_ReportDesignerFormulaBooleanProperty Label="Can grow"
                                                   Value="@(SelectedElement.CanGrow?.Value == true)"
                                                   Formula="@SelectedElement.CanGrow?.Formula"
                                                   Changed="@UpdateSelectedElementCanGrowAsync"
                                                   OpenFormula="@OpenSelectedElementCanGrowFormulaAsync" />
            <_ReportDesignerFormulaBooleanProperty Label="Suppress"
                                                   Value="@(SelectedElement.Suppress?.Value == true)"
                                                   Formula="@SelectedElement.Suppress?.Formula"
                                                   Changed="@UpdateSelectedElementSuppressAsync"
                                                   OpenFormula="@OpenSelectedElementSuppressFormulaAsync" />
            <_ReportDesignerFormulaSelectProperty Label="Snap to grid"
                                                  Value="@GetSelectedElementSnapToGridValue()"
                                                  Formula="@SelectedElement.SnapToGrid?.Formula"
                                                  Options="@ElementSnapToGridOptions"
                                                  Changed="@OnSelectedElementSnapToGridChanged"
                                                  OpenFormula="@OpenSelectedElementSnapToGridFormulaAsync" />
        </_ReportDesignerPropertyGroup>

        @if ( SelectedElement.Suppress?.Value != true )
        {
            <_ReportDesignerPropertyGroup Title="General">
                <_ReportDesignerTextProperty Label="Name" Value="@SelectedElement.Name" Changed="@(value => UpdateSelectedElement( element => element.Name = value ))" />
            </_ReportDesignerPropertyGroup>

            @if ( SelectedElement is ReportTextElementDefinition or ReportFieldElementDefinition or ReportImageElementDefinition )
            {
                string contentGroupTitle = SelectedElement is ReportFieldElementDefinition ? "Data" : "Content";

                <_ReportDesignerPropertyGroup Title="@contentGroupTitle">
                    @switch ( SelectedElement )
                    {
                        case ReportTextElementDefinition textElement:
                            <_ReportDesignerTextProperty Label="Text" Value="@textElement.Text" Changed="@(value => UpdateSelectedElement( element => ( (ReportTextElementDefinition)element ).Text = value ))" />
                            break;
                        case ReportFieldElementDefinition fieldElement:
                            <_ReportDesignerTextProperty Label="Expression" Value="@ReportExpressionFormatter.FormatFieldExpression( Definition, SelectedElement )" ReadOnly />
                            @if ( fieldElement.Aggregate is not null )
                            {
                                <_ReportDesignerTextProperty Label="Aggregate" Value="@ReportAggregateResolver.GetFunctionDisplayName( fieldElement.Aggregate.Function )" ReadOnly />
                            }
                            <_ReportDesignerTextProperty Label="Format" Value="@fieldElement.Format" Changed="@(value => UpdateSelectedElement( element => ( (ReportFieldElementDefinition)element ).Format = value ))" />
                            break;
                        case ReportImageElementDefinition imageElement:
                            <_ReportDesignerImageSourceProperty Label="Source"
                                                               Value="@imageElement.Source"
                                                               Changed="@(value => UpdateSelectedElement( element => ( (ReportImageElementDefinition)element ).Source = value ))"
                                                               UploadImage="@UploadImage"
                                                               UploadClicked="@OpenImageUploadDialogAsync" />
                            <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                                <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Fit</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is8">
                                    <Select TValue="ReportImageFit" Value="@imageElement.Fit" ValueChanged="@(value => UpdateSelectedElement( element => ( (ReportImageElementDefinition)element ).Fit = value ))" Size="Size.Small">
                                        @foreach ( var option in ImageFitOptions )
                                        {
                                            <SelectItem TValue="ReportImageFit" Value="@option.Value">@option.Text</SelectItem>
                                        }
                                    </Select>
                                </FieldBody>
                            </Field>
                            <_ReportDesignerTextProperty Label="Alt text" Value="@imageElement.Text" Changed="@(value => UpdateSelectedElement( element => ( (ReportImageElementDefinition)element ).Text = value ))" />
                            break;
                    }
                </_ReportDesignerPropertyGroup>
            }

            @if ( SelectedElement is ReportTableElementDefinition )
            {
                <_ReportDesignerPropertyGroup Title="Table">
                    <_ReportDesignerNumberProperty TValue="double" Label="Rows" Value="@GetSelectedTableRowCount()" Changed="@OnSelectedTableRowCountChanged" Step="@TableCountStep" />
                    <_ReportDesignerNumberProperty TValue="double" Label="Columns" Value="@GetSelectedTableColumnCount()" Changed="@OnSelectedTableColumnCountChanged" Step="@TableCountStep" />
                </_ReportDesignerPropertyGroup>
            }

            <_ReportDesignerPropertyGroup Title="Position and size">
                <_ReportDesignerNumberProperty TValue="double" Label="X" Value="@FromPoints( SelectedElement.X )" Changed="@OnSelectedElementXChanged" Step="@GetMeasurementStep()" />
                <_ReportDesignerNumberProperty TValue="double" Label="Y" Value="@FromPoints( SelectedElement.Y )" Changed="@OnSelectedElementYChanged" Step="@GetMeasurementStep()" />
                <_ReportDesignerNumberProperty TValue="double" Label="Width" Value="@FromPoints( SelectedElement.Width )" Changed="@OnSelectedElementWidthChanged" Step="@GetMeasurementStep()" />
                <_ReportDesignerNumberProperty TValue="double" Label="Height" Value="@FromPoints( SelectedElement.Height )" Changed="@OnSelectedElementHeightChanged" Step="@GetMeasurementStep()" />
            </_ReportDesignerPropertyGroup>

            @if ( ReportElementDefinitionHelper.SupportsTextFormatting( SelectedElement.Type ) )
            {
                var font = ReportElementDefinitionHelper.EnsureFont( SelectedElement );

                <_ReportDesignerPropertyGroup Title="Text">
                    <_ReportDesignerTextProperty Label="Font family" Value="@font.Family" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Family = value ))" />
                    <_ReportDesignerNumberProperty TValue="double?" Label="Font size" Value="@font.Size" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Size = ReportElementDefinitionHelper.NormalizeNullablePositiveNumber( value ) ))" />
                    <_ReportDesignerColorProperty Label="Color" Value="@font.Color" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Color = value ))" />
                    <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                        <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Hor. align</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is8">
                            <Select TValue="TextAlignment" Value="@font.Alignment" ValueChanged="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Alignment = value ))" Size="Size.Small">
                                @foreach ( var option in Enum.GetValues<TextAlignment>() )
                                {
                                    <SelectItem TValue="TextAlignment" Value="@option">@option.ToString()</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                        <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Vert. align</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is8">
                            <Select TValue="VerticalAlignment" Value="@font.VerticalAlignment" ValueChanged="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).VerticalAlignment = value ))" Size="Size.Small">
                                @foreach ( var option in TextVerticalAlignmentOptions )
                                {
                                    <SelectItem TValue="VerticalAlignment" Value="@option.Value">@option.Text</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                    <_ReportDesignerCheckboxProperty Label="Bold" Value="@font.Bold" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Bold = value ))" />
                    <_ReportDesignerCheckboxProperty Label="Italic" Value="@font.Italic" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Italic = value ))" />
                    <_ReportDesignerCheckboxProperty Label="Underline" Value="@font.Underline" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureFont( element ).Underline = value ))" />
                </_ReportDesignerPropertyGroup>
            }

            var appearance = ReportElementDefinitionHelper.EnsureAppearance( SelectedElement );
            var border = ReportElementDefinitionHelper.EnsureBorder( SelectedElement );

            <_ReportDesignerPropertyGroup Title="Appearance">
                @if ( IsSelectedElementLine )
                {
                    <_ReportDesignerColorProperty Label="Color" Value="@border.Color" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureBorder( element ).Color = value ))" />
                    <_ReportDesignerNumberProperty TValue="double?" Label="Thickness" Value="@GetSelectedLineThickness()" Changed="@OnSelectedLineThicknessChanged" />
                }
                else
                {
                    <_ReportDesignerColorProperty Label="Fill" Value="@appearance.BackgroundColor" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureAppearance( element ).BackgroundColor = value ))" />
                    <_ReportDesignerColorProperty Label="Border color" Value="@border.Color" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureBorder( element ).Color = value ))" />
                    <_ReportDesignerNumberProperty TValue="double?" Label="Border width" Value="@border.Width" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureBorder( element ).Width = ReportElementDefinitionHelper.NormalizeNullablePositiveNumber( value ) ))" />
                    <Field Horizontal Margin="Margin.Is0.FromBottom.Is0.OnX">
                        <FieldLabel ColumnSize="ColumnSize.Is4" TextSize="TextSize.Small" Padding="Padding.Is1.FromEnd" TextOverflow="TextOverflow.Truncate">Border style</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is8">
                            <Select TValue="ReportBorderStyle" Value="@border.Style" ValueChanged="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureBorder( element ).Style = value ))" Size="Size.Small">
                                @foreach ( var option in BorderStyleOptions )
                                {
                                    <SelectItem TValue="ReportBorderStyle" Value="@option.Value">@option.Text</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                    <_ReportDesignerNumberProperty TValue="double?" Label="Corner radius" Value="@border.Radius" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureBorder( element ).Radius = ReportElementDefinitionHelper.NormalizeNullablePositiveNumber( value ) ))" />
                }
                <_ReportDesignerNumberProperty TValue="double?" Label="Opacity" Value="@appearance.Opacity" Changed="@(value => UpdateSelectedElement( element => ReportElementDefinitionHelper.EnsureAppearance( element ).Opacity = ReportElementDefinitionHelper.NormalizeOpacity( value ) ))" />
            </_ReportDesignerPropertyGroup>
        }

    </Div>

    @if ( SelectedElement.Suppress?.Value != true )
    {
        <Div Margin="Margin.Is3.FromTop">
            <h6>Selected element</h6>
            <Div Flex="Flex.Wrap" Gap="Gap.Is2">
                <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => MoveSelectedElement( -SelectedElementMoveStep, 0, 0, 0 ))" Size="Size.Small">Left</Button>
                <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => MoveSelectedElement( 0, -SelectedElementMoveStep, 0, 0 ))" Size="Size.Small">Up</Button>
                <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => MoveSelectedElement( 0, SelectedElementMoveStep, 0, 0 ))" Size="Size.Small">Down</Button>
                <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => MoveSelectedElement( SelectedElementMoveStep, 0, 0, 0 ))" Size="Size.Small">Right</Button>
                <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => MoveSelectedElement( 0, 0, SelectedElementWidthResizeStep, 0 ))" Size="Size.Small">Wider</Button>
                <Button Color="Color.Light" Clicked="@(( MouseEventArgs _ ) => MoveSelectedElement( 0, 0, 0, SelectedElementHeightResizeStep ))" Size="Size.Small">Taller</Button>
            </Div>
        </Div>
    }
}

@if ( SelectedCell is not null )
{
    <Div Margin="Margin.Is3.FromTop">
        <h6>Table cell properties</h6>
        <_ReportDesignerPropertyGroup Title="Position">
            <_ReportDesignerTextProperty Label="Row" Value="@(( SelectedCell.RowIndex + 1 ).ToString())" ReadOnly />
            <_ReportDesignerTextProperty Label="Column" Value="@(( SelectedCell.ColumnIndex + 1 ).ToString())" ReadOnly />
        </_ReportDesignerPropertyGroup>
        <_ReportDesignerPropertyGroup Title="Span">
            <_ReportDesignerTextProperty Label="Row span" Value="@SelectedCell.RowSpan.ToString()" ReadOnly />
            <_ReportDesignerTextProperty Label="Column span" Value="@SelectedCell.ColumnSpan.ToString()" ReadOnly />
        </_ReportDesignerPropertyGroup>
    </Div>
}

@if ( !HasSelection )
{
    <Paragraph TextColor="TextColor.Secondary">Select a band or report element to edit its properties.</Paragraph>
}