@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System
@using Microsoft.AspNetCore.Components.Web

<div class="@CellClass"
     style="@CellStyle"
     @onclick="@OnCellClicked"
     @onclick:stopPropagation="@CanReceiveDesignerInteraction"
     @oncontextmenu="@OnCellContextMenu"
     @oncontextmenu:preventDefault="@CanReceiveDesignerInteraction"
     @oncontextmenu:stopPropagation="@CanReceiveDesignerInteraction">
    <div class="b-report-table-cell-content">
        @foreach ( ReportElementDefinition childElement in GetRenderableElements() )
        {
            string childElementKey = ReportDefinitionHelper.EnsureElementId( childElement );

            <_ReportDesignerElement Data="@Data"
                                    Definition="@Definition"
                                    Section="@Section"
                                    SectionIndex="@SectionIndex"
                                    Item="@Item"
                                    RunningTotals="@RunningTotals"
                                    Element="@childElement"
                                    ElementKey="@childElementKey"
                                    ContextMenuKey="@Cell.Id"
                                    DesignMode="@DesignMode"
                                    Editable="@CanReceiveDesignerInteraction"
                                    LayoutLocked
                                    AllowPointerDragThrough="@TableSelected"
                                    Selected="@(IsElementSelected?.Invoke( childElementKey ) == true)"
                                    Editing="@string.Equals( EditingElementKey, childElementKey, StringComparison.Ordinal )"
                                    TextEditingActive="@TextEditingActive"
                                    Clicked="@OnElementClicked"
                                    DoubleClicked="@OnElementDoubleClicked"
                                    ContextMenu="@OnElementContextMenu"
                                    TextEditCommitted="@OnElementTextEditCommitted"
                                    TextEditCancelled="@OnElementTextEditCancelled" />
        }
    </div>
    @if ( CanReceiveDesignerInteraction )
    {
        <span class="b-report-table-column-resize-handle"
              title="Resize column"
              @onpointerdown="@OnColumnResizePointerDown"
              @onpointerdown:preventDefault
              @onpointerdown:stopPropagation></span>
        <span class="b-report-table-row-resize-handle"
              title="Resize row"
              @onpointerdown="@OnRowResizePointerDown"
              @onpointerdown:preventDefault
              @onpointerdown:stopPropagation></span>
    }
</div>