@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent

<Field Horizontal Margin="MarginIs0FromBottomIs0OnX">
    <FieldLabel ColumnSize="ColumnSizeIs4" TextSize="TextSizeSmall" Padding="PaddingIs1FromEnd" TextOverflow="TextOverflowTruncate">@Label</FieldLabel>
    <FieldBody ColumnSize="ColumnSizeIs8">
        <Addons Size="Size.Small">
            <Addon AddonType="AddonType.Body">
                <Select TValue="bool?" Value="@DisplayValue" ValueChanged="@OnValueChanged" Size="Size.Small">
                    @if ( Mixed )
                    {
                        <SelectItem TValue="bool?" Value="@((bool?)null)" Hidden></SelectItem>
                    }
                    <SelectItem TValue="bool?" Value="@true">True</SelectItem>
                    <SelectItem TValue="bool?" Value="@false">False</SelectItem>
                </Select>
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="@FormulaButtonColor" Clicked="@OpenFormula" Size="Size.Small" aria-label="Edit formula">
                    <Icon Name="IconName.Code" />
                </Button>
            </Addon>
        </Addons>
    </FieldBody>
</Field>