@namespace Blazorise
<Modal @ref="modalRef" Size="@ModalSize.Default">
    <ModalContent>
        <Form>
            <ModalHeader>
                <ModalTitle>
                    @ParentFilePicker.GetLocalizedString( title )
                </ModalTitle>
                <CloseButton Clicked="@OnCloseModalClicked" AutoClose="false" />
            </ModalHeader>
            <ModalBody>
                @ParentFilePicker.GetLocalizedString( body )
            </ModalBody>
            <ModalFooter>
                @{
                    var cancelBtn = ParentFilePicker.GetLocalizedString( "Cancel" );

                    <Button Color="Color.Link" Clicked="@OnCloseModalClicked">
                        @cancelBtn
                    </Button>

                    var confirmBtn = ParentFilePicker.GetLocalizedString( "Confirm" );

                    <Button Color="Color.Link" Clicked="@OnConfirmClicked">
                        @confirmBtn
                    </Button>
                }
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>