@namespace Blazorise
<Modal @ref="modalRef">
    <ModalContent Size="@ModalSize.Default">
        <Form>
            <ModalHeader>
                <ModalTitle>
                    @ParentFilePicker.GetLocalizedString( title )
                </ModalTitle>
                <CloseButton Clicked="@CloseModal" AutoClose="false" />
            </ModalHeader>
            <ModalBody>
                @ParentFilePicker.GetLocalizedString( body )
            </ModalBody>
            <ModalFooter>
                @{
                    var cancelBtn = ParentFilePicker.GetLocalizedString( "Cancel" );
                    <Button Color="Color.Link" Clicked="@CloseModal">
                        @cancelBtn
                    </Button>

                    var confirmBtn = ParentFilePicker.GetLocalizedString( "Confirm" );

                    <Button Color="Color.Link" Clicked="@Confirm">
                        @confirmBtn
                    </Button>

                }
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>