@namespace Blazorise
@using Blazorise.Extensions
@inherits BaseComponent

<FileEdit @ref="FileEdit" ElementId="@ElementId" Multiple="@Multiple" Placeholder="@Placeholder" Filter="@Filter" MaxChunkSize="@MaxChunkSize" MaxFileSize="@MaxFileSize" SegmentFetchTimeout="@SegmentFetchTimeout" 
    Changed="@Changed" Started="@Started" Ended="@Ended" Written="@Written" Progressed="@Progressed" AutoReset="@AutoReset" BrowseButtonLocalizer="@BrowseButtonLocalizer"  @attributes="@Attributes">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <Feedback>
        @Feedback
    </Feedback>
</FileEdit>

<Div>
    @if (!FileEdit.Files.IsNullOrEmpty()) { 
        @foreach ( var file in FileEdit.Files )
        {
            <Div>
                @file.Name
            </Div>
        }
    }
</Div>
