@namespace Blazorise
@typeparam TValue
@inherits BaseComponent
<option @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" value="@StringValue" selected="@Selected" disabled="@Disabled" hidden="@Hidden" @attributes="@Attributes">@ChildContent</option>