@namespace Blazorise
@typeparam TValue
@inherits BaseComponent
<option id="@ElementId" class="@ClassNames" style="@StyleNames" value="@StringValue" selected="@Selected" disabled="@Disabled" @attributes="@Attributes">@ChildContent</option>