@namespace Blazorise
@inherits BaseComponent
<Table Class="@ClassNames" Style="@StyleNames" Bordered Striped Attributes="@Attributes">
    <TableHeader>
        <TableRow>
            @for ( int c = 0; c < Columns; ++c )
            {
                <TableHeaderCell @key="@c">
                    <Skeleton Animation="@Animation">
                        <SkeletonItem Width="Blazorise.Width.Is100" />
                    </Skeleton>
                </TableHeaderCell>
            }
        </TableRow>
    </TableHeader>
    <TableBody>
        @for ( int r = 0; r < Rows; ++r )
        {
            <TableRow @key="r">
                @for ( int c = 0; c < Columns; ++c )
                {
                    <TableRowCell @key="@c">
                        <Skeleton Animation="@Animation">
                            <SkeletonItem Width="Blazorise.Width.Is75" />
                        </Skeleton>
                    </TableRowCell>
                }
            </TableRow>
        }
    </TableBody>
</Table>