@page "/pricing"

<Seo Canonical="/pricing" Title="Blazorise Pricing" Description="Purchase Blazorise components for every type of project across major development platforms. Dynamic release cycle and best support service." />

<PageHeader>
    <Title>
        Blazorise <Span Class="gradient-commercial">Pricing</Span> & Plans
    </Title>
    <Subtitle>
        Be one of the thousands of satisfied users of Blazorise components.
    </Subtitle>
    <Description>
        <Paragraph>
            Get started with 80+ free UI components, from developers to developers, to boost your development time and more.
        </Paragraph>
    </Description>
</PageHeader>

<Container TextAlignment="TextAlignment.Center">
    <BenefitsGrid />

    <Pricing @bind-Quantity="@quantity" @bind-Plan="@plan" ProfessionalPrices="@professionalPrices" EnterprisePrices="@enterprisePrices" />

    <PlansComparer Quantity="@quantity" Plan="@plan" ProfessionalPrices="@professionalPrices" EnterprisePrices="@enterprisePrices" />

    <Faq />
</Container>