@inherits Blazorise.Accordion
<CascadingValue Value="@this" IsFixed>
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" data-accordion="collapse" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>