@inherits BaseComponent
<div @ref="ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">

    @if ( Toolbar != null && ToolbarPosition != Placement.Bottom )
    {
        <div @ref="@ToolbarRef" class="rte-toolbar">
            @Toolbar
        </div>
    }

    <div @ref="@EditorRef" class="rte-editor">
        @Editor
    </div>

    @if ( Toolbar != null && ToolbarPosition == Placement.Bottom )
    {
        <div @ref="@ToolbarRef" class="rte-toolbar" style="border-top: 0">
            @Toolbar
        </div>
    }

</div>