@inherits BaseComponent
<div @ref="ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">

    @if ( ToolbarContent != null && ToolbarPosition != Placement.Bottom )
    {
        <div @ref="@toolbarRef">
            @ToolbarContent
        </div>
    }

    <div @ref="@editorRef">
        @EditorContent
    </div>

    @if ( ToolbarContent != null && ToolbarPosition == Placement.Bottom )
    {
        <div @ref="@toolbarRef" style="border-top: 0">
            @ToolbarContent
        </div>
    }

</div>