@inherits BaseRichTextEditComponent

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">

    @if ( Toolbar != null && ToolbarPosition != Placement.Bottom )
    {
        <div @ref="@ToolbarRef" class="rte-toolbar">
            @Toolbar
        </div>
    }

    <span style="display: none" class="rte-content">
        @if ( Editor is not null && InitialContent is null )
        {
            @Editor
        }
        else if ( !string.IsNullOrEmpty( InitialContent ) )
        {
            @((MarkupString)InitialContent)
        }
    </span>

    <div @ref="@EditorRef" class="rte-editor"></div>

    @if ( Toolbar != null && ToolbarPosition == Placement.Bottom )
    {
        <div @ref="@ToolbarRef" class="rte-toolbar" style="border-top: 0">
            @Toolbar
        </div>
    }

</div>
@ChildContent
@Feedback