@namespace Blazorise
@inherits BaseComponent<ModalContentClasses, ModalContentStyles>
<CascadingValue Value="@this" IsFixed>
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <FocusTrap @ref="@FocusTrapRef" Active="@IsFocusTrap">
            @ChildContent
        </FocusTrap>
    </div>
</CascadingValue>