@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="dialog" @attributes="@Attributes">
            @if ( RenderMode == ModalRenderMode.Default || ( RenderMode == ModalRenderMode.LazyReload && IsVisible ) || ( RenderMode == ModalRenderMode.LazyLoad && lazyLoaded ) )
            {
                @if ( ShowBackdrop )
                {
                    <_ModalBackdrop />
                }
                @ChildContent
            }
        </div>
    </CascadingValue>
</CascadingValue>