@namespace Blazorise
@inherits BaseComponent<LayoutClasses, LayoutStyles>
<CascadingValue Value="@this" IsFixed>
    <section @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @if ( Loading )
        {
            @if ( LoadingTemplate is not null )
            {
                @LoadingTemplate
            }
            else
            {
                <div class="@LoadingClassNames" style="@Styles?.Loading"></div>
            }
        }
        @ChildContent
    </section>
</CascadingValue>