@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <main id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </main>
</CascadingValue>