@namespace Blazorise
@inherits BaseComponent
@{
    var tooltipInfo = Rating?.GetTooltip?.Invoke( Value );
}

@if ( tooltipInfo is null || string.IsNullOrEmpty( tooltipInfo.Text ) )
{
    @RatingItemTemplate
}
else
{
    <Tooltip Text="@tooltipInfo.Text" Placement="@tooltipInfo.Placement" Multiline="@tooltipInfo.Multiline" ShowArrow="@tooltipInfo.ShowArrow" Inline>
        @RatingItemTemplate
    </Tooltip>
}
@code {
    private RenderFragment RatingItemTemplate => __builder =>
    {
        @if ( Rating.ReadOnly )
        {
            <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames">
                <Icon Name="@IconName" IconStyle="@IconStyle" />
            </span>
        }
        else
        {
            <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@HandleClick" @onmouseover="@HandleMouseOver" @onmouseout="@HandleMouseOut">
                <Icon Name="@IconName" IconStyle="@IconStyle" />
            </span>
        }
    };
}