@namespace Blazorise
@inherits BaseComponent
@if ( Rating.ReadOnly )
{
    <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames">
        <Icon Name="@IconName" IconStyle="@IconStyle" />
    </span>
}
else
{
    <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@HandleClick" @onmouseover="@HandleMouseOver" @onmouseout="@HandleMouseOut">
        <Icon Name="@IconName" IconStyle="@IconStyle" />
    </span>
}