@if (ReadOnly)
{
    <span style="@Style">
        <Icon Name="@Name" Size="@Size" IconStyle="@IconStyle"></Icon>
    </span>
}
else
{
    <span style="@Style" @onmouseover="HandleMouseOver" @onclick="HandleClick" @onmouseout="HandleMouseOut ">
        <Icon Name="@Name" Size="@Size" IconStyle="@IconStyle"></Icon>
    </span>
}