@namespace Blazorise
@inherits Blazorise.Link
<a @ref="@ElementRef" id="@ElementId" href="@To" class="@ClassNames" style="@StyleNames" title="@Title" target="@TargetName" @onclick="@OnClickHandler" @onclick:preventDefault="@PreventDefault" @attributes="@Attributes">
    @ChildContent
</a>