@typeparam TValue
@inherits Blazorise.Switch<TValue>
<Control Role="@ControlRole.Switch" Inline="@Inline">
    <input @ref="@ElementRef" id="@ElementId" type="checkbox" name="@NameAttributeValue" class="@ClassNames" style="@StyleNames" disabled="@Disabled" readonly="@ReadOnly" checked="@Checked" tabindex="@TabIndex" @onclick:preventDefault="@ReadOnly" @onchange="@OnChangeHandler" @onkeydown="@OnKeyDownHandler" @onkeypress="@OnKeyPressHandler" @onkeyup="@OnKeyUpHandler" @onblur="@OnBlurHandler" @onfocus="@OnFocusHandler" @onfocusin="@OnFocusInHandler" @onfocusout="@OnFocusOutHandler" @attributes="@Attributes" />
    <Label Type="LabelType.Switch" For="@ElementId" Style="@Style" Cursor="@Cursor">@ChildContent</Label>
    @Feedback
</Control>
