@namespace Blazorise
@inherits BaseComponent
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="separator" aria-orientation="@AriaOrientation" aria-valuemin="@AriaValueMin" aria-valuemax="@AriaValueMax" aria-valuenow="@AriaValueNow" aria-label="@AriaLabel" aria-disabled="@AriaDisabled" tabindex="@ResolvedTabIndex" @attributes="@Attributes"></div>