@namespace Blazorise
@inherits BaseComponent

@if ( IsVisible )
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="menu" @oncontextmenu:preventDefault @oncontextmenu="@EventCallback.Empty" @onclick:stopPropagation @onclick="@EventCallback.Empty" @attributes="@Attributes">
        @ChildContent
    </div>
}