@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        @if ( Items is not null && Content is not null )
        {
            <ul id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @Items
            </ul>
            <div class="@ContentClassNames" @attributes="@Attributes">
                @Content
            </div>
        }
        else
        {
            <ul id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </ul>
        }
    </CascadingValue>
</CascadingValue>
