@namespace Blazorise
@inherits BaseComponent<StepsClasses, StepsStyles>
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        @if ( Items is not null && Content is not null )
        {
            <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @Items
            </ul>
            <div class="@ContentClassNames" style="@Styles?.Content" @attributes="@Attributes">
                @Content
            </div>
        }
        else
        {
            <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </ul>
        }
    </CascadingValue>
</CascadingValue>