@namespace Blazorise
@inherits BaseComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @ChildContent
    @if ( ParentBarState is not null && ParentBarState.Mode != BarMode.Horizontal )
    {
        <BarToggler Class="b-bar-mobile-toggle"
                    Clicked="@(ParentBarState.BarTogglerState?.Clicked ?? EventCallback<MouseEventArgs>.Empty)"
                    Mode="@(ParentBarState.BarTogglerState?.Mode ?? BarTogglerMode.Normal)"
                    Bar="@ParentBarState.BarTogglerState?.Bar" />
    }
</div>