@namespace Blazorise
@inherits BaseComponent

<a @ref="@ElementRef" id="@ElementId" href="@To" class="@ClassNames" style="@StyleNames" role="button" tabindex="0" @onclick="@ClickHandler" @onkeydown="@KeyDownHandler" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler">
    @ChildContent
    <Icon Name="@(ParentBarDropdown.IsVisible ? IconName.AngleUp : IconName.AngleDown)" Margin="Blazorise.Margin.IsAuto.FromStart.Is1.FromEnd" 
          Clicked="@(async () => await ParentBarDropdown.Toggle(ElementId))" @onclick:stopPropagation />
</a>