@namespace Blazorise
@inherits BaseComponent<BarDropdownMenuClasses, BarDropdownMenuStyles>
<div class="@ContainerClassNames" style="@Styles?.Container">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler" data-visible="@VisibleString">
        @ChildContent
    </div>
</div>