@namespace Blazorise
@inherits BaseComponent
<a @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="button" tabindex="0" @onclick="@ClickHandler" @onkeydown="@KeyDownHandler" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler">
    @if (To == null)
    {
        @ChildContent
    }
    else
    {
        <a href="@To">@ChildContent</a>
    }
</a>