@namespace Blazorise
@inherits BaseLinkComponent

<a @ref="@ElementRef" id="@ElementId" href="@GetTo()" rel="@GetRel()" class="@ClassNames" style="@StyleNames" role="button" tabindex="0" @onclick="@ClickHandler" @onkeydown="@KeyDownHandler" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler">
    @if ( ParentBarDropdownState?.Mode != BarMode.Horizontal )
    {
        @VerticalIconTemplate
    }
    else
    {
        @ChildContent
    }
</a>
@code {
    protected RenderFragment VerticalIconTemplate => __builder =>
    {
        <Span Flex="Blazorise.Flex.AlignItems.Center.JustifyContent.Between" @onclick:stopPropagation="@IsActingAsLink">
            <Span>
                @ChildContent
            </Span>

            @if ( IsToggleIconVisible )
            {
                <Span Padding="Blazorise.Padding.Is2.OnX">
                    <Icon Name="@ToggleIconName" IconSize="@ToggleIconSize" Clicked="@OnToggleIconClicked" @onclick:stopPropagation />
                </Span>
            }
        </Span>
    };
}