@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed="true">
    <CascadingValue Value="@State">
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes" data-visible="@VisibleString">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>