@namespace Blazorise
@inherits BaseComponent
@if ( IconName is RenderFragment )
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames">
        @( IconName as RenderFragment )
    </div>
}
else
{
    <Icon ElementId="@ElementId" Class="@ClassNames" Style="@StyleNames" Name="@IconName" IconStyle="@IconStyle" IconSize="@IconSize" Attributes="@Attributes" />
}