@namespace Blazorise
@inherits BaseComponent
@if ( To != null )
{
    <Blazorise.Link ElementId="@ElementId" Class="@ClassNames" Style="@StyleNames" To="@To" Clicked="@Clicked" Target="@Target" Title="@Title" Match="@Match" Attributes="@Attributes">
        @ChildContent
    </Blazorise.Link>
}
else
{
    <a id="@ElementId" class="@ClassNames" style="@StyleNames" title="@Title" @onclick="@ClickHandler" @attributes="@Attributes">
        @ChildContent
    </a>
}