@namespace Blazorise
@inherits BaseComponent
<a @ref="@ElementRef" id="@ElementId" role="button" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</a>