@namespace Blazorise
@inherits BaseColumnComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@RowContext" IsFixed>
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>