@namespace Blazorise
@inherits BaseComponent
@if ( Label != null )
{
    <Label>@Label</Label>
}
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value=this IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
@if ( Help != null )
{
    <Help>@Help</Help>
}