@namespace Blazorise
@inherits BaseColumnableComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@RowableContext" IsFixed>
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>