@namespace Blazorise
@inherits BaseComponent
<li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" aria-disabled="@DisabledString" tabindex="@ComputedTabIndex" @onclick="@ClickHandler" @onkeydown="@KeyDownHandler" @attributes="@Attributes">
    @ChildContent
</li>