@namespace Blazorise
@inherits BaseComponent
<li id="@ElementId" class="@ClassNames" style="@StyleNames" aria-disabled="@DisabledString" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</li>