@namespace Blazorise
@inherits BaseComponent
<li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" aria-disabled="@DisabledString" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</li>