@typeparam TItem

@if ( Result is null )
{
    <Div Padding="PaddingIs3" TextColor="TextColorMuted">
        @if ( PivotGrid.EmptyTemplate is not null )
        {
            @PivotGrid.EmptyTemplate
        }
        else
        {
            @PivotGrid.LocalizedEmptyText
        }
    </Div>
}
else if ( !Result.HasValues )
{
    <Div Padding="PaddingIs3" TextColor="TextColorMuted">
        @if ( PivotGrid.MissingValuesTemplate is not null )
        {
            @PivotGrid.MissingValuesTemplate
        }
        else
        {
            @PivotGrid.LocalizedMissingValuesText
        }
    </Div>
}
else if ( Result.Rows.Count == 0 )
{
    <Div Padding="PaddingIs3" TextColor="TextColorMuted">
        @if ( PivotGrid.NoDataTemplate is not null )
        {
            @PivotGrid.NoDataTemplate
        }
        else
        {
            @PivotGrid.LocalizedNoDataText
        }
    </Div>
}
else
{
    <Div Class="b-pivot-grid-table-container" Overflow="OverflowAuto">
        <Table Class="b-pivot-grid-table"
               Bordered="@Bordered"
               Striped="@Striped"
               Hoverable="@Hoverable"
               Narrow="@Narrow"
               Responsive="@Responsive">
            <TableHeader ThemeContrast="@HeaderThemeContrast">
                <TableRow>
                    @for ( var i = 0; i < RowHeaderColumnCount; i++ )
                    {
                        var rowHeaderIndex = i;
                        var headerContext = GetHeaderContext( rowHeaderIndex );

                        <TableHeaderCell RowSpan="@HeaderRowSpan" Background="BackgroundBody" TextWeight="TextWeight.Bold">
                            @if ( headerContext.Field?.HeaderTemplate is not null )
                            {
                                @headerContext.Field.HeaderTemplate( headerContext )
                            }
                            else if ( PivotGrid.HeaderTemplate is not null )
                            {
                                @PivotGrid.HeaderTemplate( headerContext )
                            }
                            else
                            {
                                @headerContext.Caption
                            }
                        </TableHeaderCell>
                    }

                    @foreach ( var columnGroup in ColumnGroups )
                    {
                        var columnHeaderContext = GetColumnHeaderContext( columnGroup );

                        <TableHeaderCell ColumnSpan="@ValueColumnSpan" Background="BackgroundBody" TextWeight="TextWeight.Bold" TextAlignment="TextAlignment.Center">
                            @if ( columnHeaderContext.Field?.DisplayTemplate is not null )
                            {
                                @columnHeaderContext.Field.DisplayTemplate( GetColumnFieldValueContext( columnHeaderContext ) )
                            }
                            else if ( PivotGrid.ColumnHeaderTemplate is not null )
                            {
                                @PivotGrid.ColumnHeaderTemplate( columnHeaderContext )
                            }
                            else
                            {
                                @columnHeaderContext.Text
                            }
                        </TableHeaderCell>
                    }
                </TableRow>

                @if ( ShowValueHeaderRow )
                {
                    <TableRow>
                        @foreach ( var dataColumn in Result.DataColumns )
                        {
                            var aggregateHeaderContext = GetAggregateHeaderContext( dataColumn );
                            var headerContext = GetAggregateFieldHeaderContext( aggregateHeaderContext );

                            <TableHeaderCell Background="BackgroundBody" TextAlignment="TextAlignment.End">
                                @if ( aggregateHeaderContext.Aggregate.HeaderTemplate is not null )
                                {
                                    @aggregateHeaderContext.Aggregate.HeaderTemplate( headerContext )
                                }
                                else if ( PivotGrid.AggregateHeaderTemplate is not null )
                                {
                                    @PivotGrid.AggregateHeaderTemplate( aggregateHeaderContext )
                                }
                                else
                                {
                                    @aggregateHeaderContext.Caption
                                }
                            </TableHeaderCell>
                        }
                    </TableRow>
                }
            </TableHeader>
            <TableBody>
                @foreach ( var row in Result.Rows )
                {
                    <TableRow @key="@row">
                        @for ( var i = 0; i < RowHeaderColumnCount; i++ )
                        {
                            var rowHeaderIndex = i;
                            var rowHeaderContext = GetRowHeaderContext( row, rowHeaderIndex );

                            <TableRowCell Background="@GetRowHeaderBackground( row.Row )"
                                          TextWeight="@GetRowHeaderTextWeight( row.Row )"
                                          TextAlignment="TextAlignment.Start">
                                @if ( rowHeaderContext.Field?.DisplayTemplate is not null )
                                {
                                    @rowHeaderContext.Field.DisplayTemplate( GetRowFieldValueContext( rowHeaderContext ) )
                                }
                                else if ( PivotGrid.RowHeaderTemplate is not null )
                                {
                                    @PivotGrid.RowHeaderTemplate( rowHeaderContext )
                                }
                                else
                                {
                                    @rowHeaderContext.Text
                                }
                            </TableRowCell>
                        }

                        @foreach ( var cell in row.Cells )
                        {
                            <_PivotGridCell TItem="TItem" Row="@row.Row" Cell="@cell" />
                        }
                    </TableRow>
                }
            </TableBody>
        </Table>
    </Div>
}