@inherits BaseComponent

@if ( ShouldRenderElement )
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" data-blazorise-animate @attributes="@Attributes">
        @ChildContent
    </div>
}