@inherits Blazorise.AccordionToggle
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" @attributes="@Attributes">
    <span>@ChildContent</span>
</div>