@inherits Blazorise.DropdownMenu
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="menu" @attributes="@Attributes">
    <div class="dropdown-content">
        @ChildContent
    </div>
</div>