@typeparam TValue
@inherits Blazorise.NumericPicker<TValue>
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            @InputTemplate
            @ChildContent
        </div>
        @Feedback
    </div>
}
else
{
    <div class="control">
        @InputTemplate
        @ChildContent
    </div>
    @Feedback
}
@code
{
    protected RenderFragment InputTemplate => __builder =>
    {
        <input @ref="@ElementRef" id="@ElementId" name="@NameAttributeValue" inputmode="@InputMode" class="@ClassNames" style="@StyleNames" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@ReadOnly" size="@VisibleCharacters" step="@StepString" pattern="@Pattern" tabindex="@TabIndex" aria-invalid="@AriaInvalid" aria-describedby="@AriaDescribedBy" @onkeydown="@OnKeyDownHandler" @onkeypress="@OnKeyPressHandler" @onkeyup="@OnKeyUpHandler" @onblur="@OnBlurHandler" @onfocus="@OnFocusHandler" @onfocusin="@OnFocusInHandler" @onfocusout="@OnFocusOutHandler" @attributes="@Attributes" />
    };
}