@typeparam TValue
@inherits Blazorise.Select<TValue>
<CascadingValue Value="@this" IsFixed>
    @if ( ParentIsFieldBody )
    {
        <div class="field">
            <div class="control">
                <div class="@ClassNames" style="@StyleNames">
                    <select @ref="@ElementRef" id="@ElementId" disabled="@Disabled" readonly="@ReadOnly" multiple="@Multiple" size="@MaxVisibleItems" tabindex="@TabIndex" value="@CurrentValueAsString" @onchange="@OnChangeHandler" @attributes="@Attributes">
                        @ChildContent
                    </select>
                </div>
            </div>
            @Feedback
        </div>
    }
    else
    {
        <div class="control">
            <div class="@ClassNames" style="@StyleNames">
                <select @ref="@ElementRef" id="@ElementId" disabled="@Disabled" readonly="@ReadOnly" multiple="@Multiple" size="@MaxVisibleItems" tabindex="@TabIndex" value="@CurrentValueAsString" @onchange="@OnChangeHandler" @attributes="@Attributes">
                    @ChildContent
                </select>
            </div>
        </div>
        @Feedback
    }
</CascadingValue>