@namespace Blazorise
@inherits BaseComponent
<a id="@ElementId" class="@ClassNames" style="@StyleNames" @onmousedown="@ClickHandler" @onmousedown:preventDefault @attributes="@Attributes" >
    @ChildContent
</a>