@namespace Blazorise
@inherits BaseComponent
<a @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onmousedown:preventDefault @onmousedown="@EventCallback.Empty"  @onclick="() => ClickHandler()" @attributes="@Attributes" >
    
    @if ( ShowCheckbox )
    {
        <Div Display="Blazorise.Display.InlineFlex" >
            <Check  TValue="bool" Value="selected"  Disabled="@Disabled" >
            </Check>
            @ChildContent  @* when the child content is outside of the checkbox it does not fire the onblur of the textbox (???) *@
        </Div>
    }
    else
    {
        @ChildContent
    }
</a>