@namespace Blazorise
@inherits BaseComponent
<a id="@ElementId" class="@ClassNames" style="@StyleNames" @onmouseup="@ClickHandler" @onmousedown="() => {}" @onmousedown:preventDefault @attributes="@Attributes" >
    @ChildContent
</a>