@namespace Blazorise
@inherits BaseComponent


<a id="@ElementId" class="@ClassNames" style="@StyleNames" @onmouseup="@ClickHandler" @onmousedown="@EventCallback.Empty" @onmousedown:preventDefault @attributes="@Attributes">
    @if ( Checkbox )
    {
        <Label @onclick:stopPropagation @onmouseup:stopPropagation>
            <Check TValue="bool" Checked="check" CheckedExpression="() => check" CheckedChanged="CheckedChangedHandler" Disabled="@Disabled" @onclick:stopPropagation></Check>
        </Label>
    }

    @ChildContent
</a>