@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>