@namespace Blazorise
@inherits BaseComponent<CardClasses, CardStyles>
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @ChildContent
</div>