@namespace Blazorise
@inherits BaseTypographyComponent
@if ( Size is not null )
{
    <Dynamic TagName="@($"h{Size}")" @bind-ElementRef="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@OnClickHandler" @attributes="@Attributes">
        @ChildContent
    </Dynamic>
}
else
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@OnClickHandler" @attributes="@Attributes">
        @ChildContent
    </div>
}