@namespace Blazorise
@inherits BaseTypographyComponent
@if ( Size != null )
{
    <Dynamic TagName="@($"h{Size}")" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </Dynamic>
}
else
{
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
}