@inherits Blazorise.Alert
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>