@inherits Blazorise.AlertMessage
<div class="mud-alert-position align-self-start">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
</div>