@inherits Blazorise.Badge
<span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @ChildContent
    @if ( Closable )
    {
        <button aria-label="Close" tabindex="-1" type="button" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon mud-icon-button-size-small mud-chip-close-button">
            <span class="mud-icon-button-label">
                <svg class="mud-icon-root mud-svg-icon mud-icon-size-small" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="img">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path>
                </svg>
            </span>
        </button>
    }
</span>