@namespace Blazorise
@inherits BaseValidationResult
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="status" aria-live="polite" @attributes="@Attributes">
    @if ( ChildContent is not null )
    {
        @ChildContent
    }
    else if ( WarningMessages is not null && WarningMessages.Any() )
    {
        @if ( Multiline )
        {
            <OrderedList Unstyled>
                @foreach ( var warningMessage in WarningMessages )
                {
                    <OrderedListItem @key="@warningMessage">@warningMessage</OrderedListItem>
                }
            </OrderedList>
        }
        else
        {
            @string.Join( ";", WarningMessages )
        }
    }
</div>