@namespace Blazorise
@inherits BaseComponent
<ul id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if ( HasErrorMessages )
    {
        @Label
    }

    @foreach ( var errorMessage in ErrorMessages )
    {
        <li class="@ErrorClassNames">@errorMessage</li>
    }
    @ChildContent
</ul>