@inherits BaseComponent
@typeparam TItem

<CascadingValue Value="@this" IsFixed>
    @ChildContent

    <Div ElementId="@ElementId"
         Class="@ClassNames"
         Style="@StyleNames"
         Flex="FlexColumn"
         Border="@Border"
         role="table"
         @attributes="@Attributes">
        <_PivotGridTable TItem="TItem"
                         Result="@VisiblePivotResult"
                         Bordered="@Bordered"
                         Striped="@Striped"
                         Hoverable="@Hoverable"
                         Narrow="@Narrow"
                         Responsive="@Responsive"
                         HeaderThemeContrast="@HeaderThemeContrast" />

        <_PivotGridPagination TItem="TItem"
                              CurrentPage="@CurrentPage"
                              LastPage="@LastPage"
                              PageSize="@EffectivePageSize"
                              TotalRows="@TotalRows" />
    </Div>
</CascadingValue>