@namespace Blazorise
@inherits BaseTypographyComponent
<h1 @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@OnClickHandler" @attributes="@Attributes">
    @ChildContent
</h1>