@namespace Blazorise
@inherits BaseTypographyComponent
<li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@OnClickHandler" @attributes="@Attributes">
    @ChildContent
</li>