@inherits BaseButton
<button @ref="@ElementRef" @ref:suppressField id="@ElementId" type="@Type.ToButtonTypeString()" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler" data-tooltip="@DataTooltip">
    @if ( IsLoading )
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    @ChildContent
</button>