@inherits BaseCheckEdit
<Control Role="@Role" IsInline="@IsInline">
    <input @ref="@ElementRef" id="@ElementId" type="@Type" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" @onchange="@HandleCheckedChanged" name="@RadioGroup" />
    <Label IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">@ChildContent</Label>
    @Feedback
</Control>
