@* This has to be name CheckEdit because Razor(not Blazor) still doesn't support case sensitive components. *@
@inherits Base.BaseCheckEdit
@if ( NeedSizableBlock )
{
    <div class="@SizableClassMapper.Class">
        <Control Role="@Role" IsInline="@IsInline">
            <input type="@Type" class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" onchange="@CheckedChangedHandled" name="@RadioGroup" id="@ElementId" />
            <FormLabel IsCheck="true" For="@ElementId">@ChildContent</FormLabel>
        </Control>
    </div>
}
else
{
    <Control Role="@Role" IsInline="@IsInline">
        <input type="@Type" class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" onchange="@CheckedChangedHandled" name="@RadioGroup" id="@ElementId" />
        <FormLabel IsCheck="true" For="@ElementId">@ChildContent</FormLabel>
    </Control>
}
