@inherits BaseFileEdit
<Control Role="ControlRole.File">
    <input id="@ElementId" @ref="@ElementRef" type="file" class="@Classnames" style="@StyleMapper.Style" disabled="@IsDisabled" readonly="@IsReadonly" multiple="@IsMultiple" accept="@Filter" @onchange="@PathChangedHandler" />
    <Label IsFile="true" For="@ElementId">@ChildContent</Label>
</Control>
@ChildContent