@inherits Blazorise.FileEdit
<Control Role="ControlRole.File">
    <input @ref="@ElementRef" id="@ElementId" type="file" class="@ClassNames" style="@StyleNames" disabled="@Disabled" readonly="@ReadOnly" multiple="@Multiple" accept="@Filter" @onfocus="@OnFocus" @onfocusin="@FocusIn" @onfocusout="@FocusOut" @attributes="@Attributes" />
    <Label Type="LabelType.File" For="@ElementId">
        @SelectedFilenamesString
        @ChildContent
    </Label>
</Control>
@Feedback
@code{
    string SelectedFilenamesString => string.Join( ", ", SelectedFileNames );
}