@inherits Blazorise.FileEdit
<Control Role="ControlRole.File">
    <input @ref="@ElementRef" id="@ElementId" type="file" class="@ClassNames" style="@StyleNames" disabled="@Disabled" readonly="@ReadOnly" multiple="@Multiple" accept="@Filter" tabindex="@TabIndex" @onkeydown="@OnKeyDownHandler" @onkeypress="@OnKeyPressHandler" @onkeyup="@OnKeyUpHandler" @onblur="@OnBlurHandler" @onfocus="@OnFocusHandler" @onfocusin="@OnFocusInHandler" @onfocusout="@OnFocusOutHandler" @attributes="@Attributes" />
    <Label Type="LabelType.File" For="@ElementId" data-browse="@BrowseButtonString">
        @SelectedFilenamesString
        @ChildContent
    </Label>
</Control>
@Feedback
@code{
    string SelectedFilenamesString => string.Join( ", ", SelectedFileNames );
}