@inherits Blazorise.FileEdit
<Control Role="ControlRole.File">
    <input id="@ElementId" @ref="@ElementRef" type="file" class="@ClassNames" style="@StyleNames" disabled="@Disabled" readonly="@ReadOnly" multiple="@Multiple" accept="@Filter" @onchange="@OnChangeHandler" @attributes="@Attributes" />
    <Label Type="LabelType.File" For="@ElementId">@ChildContent</Label>
</Control>
@ChildContent