@inherits Base.BaseSelect
@if ( NeedSizableBlock )
{
    <div class="@SizableClassMapper.Class">
        <select class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" multiple="@IsMultiple" onchange="@SelectionChangedHandler">
            @ChildContent
        </select>
    </div>
}
else
{
    <select class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" multiple="@IsMultiple" onchange="@SelectionChangedHandler">
        @ChildContent
    </select>
}

