@namespace Blazorise
@inherits BaseComponent<TabClasses, TabStyles>
<li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <a class="@LinkClassNames" style="@Styles?.Link" @onclick="@ClickHandler" tabindex="@(Disabled ? "-1" : "0")" role="tab" aria-selected="@(Active.ToString().ToLowerInvariant())" aria-disabled="@(Disabled.ToString().ToLowerInvariant())">@ChildContent</a>
</li>