@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        @if ( TabPosition == TabPosition.Top )
        {
            @if ( Items is not null )
            {
                <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                    @Items
                </ul>
            }
            @if ( Content is not null )
            {
                <div class="@ContentClassNames" @attributes="@Attributes">
                    @Content
                </div>
            }
        }
        else if ( TabPosition == TabPosition.Bottom )
        {
            @if ( Content is not null )
            {
                <div class="@ContentClassNames" @attributes="@Attributes">
                    @Content
                </div>
            }
            @if ( Items is not null )
            {
                <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                    @Items
                </ul>
            }
        }
        else if ( TabPosition == TabPosition.Start )
        {
            <Row>
                <Column ColumnSize="@(VerticalItemsColumnSize ?? ColumnSize.IsAuto)">
                    @if ( Items is not null )
                    {
                        <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                            @Items
                        </ul>
                    }
                </Column>
                <Column>
                    @if ( Content is not null )
                    {
                        <div class="@ContentClassNames" @attributes="@Attributes">
                            @Content
                        </div>
                    }
                </Column>
            </Row>
        }
        else if ( TabPosition == TabPosition.End )
        {
            <Row>
                <Column>
                    @if ( Content is not null )
                    {
                        <div class="@ContentClassNames" @attributes="@Attributes">
                            @Content
                        </div>
                    }
                </Column>
                <Column ColumnSize="@(VerticalItemsColumnSize ?? ColumnSize.IsAuto)">
                    @if ( Items is not null )
                    {
                        <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                            @Items
                        </ul>
                    }
                </Column>
            </Row>
        }
    </CascadingValue>
</CascadingValue>