@typeparam TValue
@inherits Blazorise.RadioGroup<TValue>
<CascadingValue Value="@this" IsFixed>
    @if ( Buttons )
    {
        <ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" tabindex="@TabIndex" @attributes="@Attributes">
            @ChildContent
        </ul>
        @Feedback
    }
    else
    {
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" tabindex="@TabIndex" @attributes="@Attributes">
            @ChildContent
        </div>
        @Feedback
    }
</CascadingValue>