@inherits Blazorise.Step
<CascadingValue Value="@this" IsFixed>
    <li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" @attributes="@Attributes">
        <div class="@ContainerClassNames" style="@Styles?.Container">
            @if ( Marker != null || Caption != null )
            {
                @if ( Marker != null )
                {
                    <span class="@MarkerClassNames" style="@Styles?.Marker">
                        @Marker
                    </span>
                }
                @if ( Caption != null )
                {
                    <span class="@DescriptionClassNames" style="@Styles?.Description">
                        @Caption
                    </span>
                }
            }
            else
            {
                <span class="@MarkerClassNames" style="@Styles?.Marker">
                    @CalculatedIndex
                </span>
                <span class="@DescriptionClassNames" style="@Styles?.Description">
                    @ChildContent
                </span>
            }
        </div>
    </li>
</CascadingValue>
@code {
    string ContainerClassNames
    {
        get
        {
            const string baseClasses = "b-step-item-head flex items-center cursor-pointer leading-5 no-underline";

            if ( string.IsNullOrEmpty( Classes?.Container ) )
            {
                return baseClasses;
            }

            return $"{baseClasses} {Classes.Container}";
        }
    }
}