@namespace Blazorise
@if ( Node?.Kind == DockNodeKind.Split )
{
    <div class="@SplitClass" style="@SplitStyle">
        <_DockNodeRenderer Layout="@Layout" Node="@Node.First" />
        <_DockNodeRenderer Layout="@Layout" Node="@Node.Second" />
    </div>
}
else if ( Node?.Kind == DockNodeKind.Tabs )
{
    <_DockTabsRenderer Layout="@Layout" Node="@Node" />
}
else if ( Node?.Kind == DockNodeKind.Pane )
{
    <_DockPaneRenderer Layout="@Layout" PaneName="@Node.PaneName" />
}
else if ( Node?.Kind == DockNodeKind.Content )
{
    <_DockContentRenderer Layout="@Layout" />
}