@namespace Blazorise
@inherits _BaseDockRenderer
<div class="@ClassNames" style="@StyleNames">
    @foreach ( DockLayout.DockCompassZoneInfo zone in DockLayout.DockCompassZones )
    {
        <_DockCompassZoneRenderer @key="@zone.Key" Zone="@zone.Zone" CompassZone="@zone.CompassZone" Active="@IsActive( zone )" />
    }
</div>