@namespace Blazorise
@inherits BaseComponent
@if ( Visible )
{
    <aside @ref="@CapturedElementRef" class="@ClassNames" style="@StyleNames" data-dock-pane-name="@ActivePaneName">
        @foreach ( string paneName in Node.Panes )
        {
            if ( TryGetPane( paneName, out DockPane pane ) )
            {
                <button type="button" class="@AutoHideTabClass" title="@pane.ResolvedCaption" @onclick="@(() => OpenPaneAutoHide( pane ))">@pane.ResolvedCaption</button>
            }
        }
    </aside>
}