@namespace Blazorise
@inherits BaseComponent
@if ( Visible )
{
    <CascadingValue Value="@Panel" IsFixed="false">
        <aside @ref="@ElementRef" class="@ClassNames" style="@StyleNames" data-dock-panel-name="@Panel.ResolvedName">
            @if ( AutoHide )
            {
                <button type="button" class="@AutoHideTabClass" title="@Panel.ResolvedCaption" @onclick="@OpenAutoHidePanel">@Panel.ResolvedCaption</button>
            }
            else
            {
                @Panel.ChildContent

                @if ( Panel.Resizable )
                {
                    <DockSplitter Dock="@Panel.EffectivePosition" />
                }
            }
        </aside>
    </CascadingValue>
}