@namespace Blazorise
@if ( Node?.Kind == DockNodeKind.Split )
{
    <div class="@SplitClass" style="@SplitStyle" data-dock-node-id="@Node.Id">
        <_DockNodeRenderer Layout="@Layout" Node="@Node.First" SplitterDock="@FirstSplitterDock" SplitNodeId="@Node.Id" />
        <_DockNodeRenderer Layout="@Layout" Node="@Node.Second" SplitterDock="@SecondSplitterDock" SplitNodeId="@Node.Id" />
        @if ( CanResize )
        {
            <DockSplitter Layout="@Layout" PaneName="@Node.Id" Dock="@SplitterDock.Value" NodeId="@SplitNodeId" />
        }
    </div>
}
else if ( Node?.Kind == DockNodeKind.Tabs )
{
    <_DockTabsRenderer Layout="@Layout" Node="@Node" SplitterDock="@SplitterDock" SplitNodeId="@SplitNodeId" />
}
else if ( Node?.Kind == DockNodeKind.Pane )
{
    <_DockPaneRenderer Layout="@Layout" NodeId="@Node.Id" PaneName="@Node.PaneName" SplitterDock="@SplitterDock" SplitNodeId="@SplitNodeId" />
}
else if ( Node?.Kind == DockNodeKind.Content )
{
    <_DockContentRenderer Layout="@Layout" />
}