@namespace Blazorise
@inherits BaseComponent
@if ( AutoHide )
{
    <_DockAutoHideTabsRenderer Layout="@Layout" Node="@Node" />
}
else if ( Visible )
{
    <CascadingValue Value="@ActivePane" IsFixed="false">
        <aside @ref="@ElementRef" class="@ClassNames" style="@StyleNames" data-dock-pane-name="@ActivePaneName">
            @if ( TabsVisible && TabsOnTop )
            {
                <div class="@TabsClass">
                    @foreach ( string paneName in Node.Panes )
                    {
                        <button type="button" class="@Layout.GetDockTabClass( Node, paneName )" @onpointerdown="@((PointerEventArgs eventArgs) => BeginPaneTabDrag( paneName, eventArgs ))" @onclick="@(() => ActivateTab( paneName ))">@Layout.GetPaneCaption( paneName )</button>
                    }
                </div>
            }

            @ActivePane.ChildContent
            @if ( TabsVisible && !TabsOnTop )
            {
                <div class="@TabsClass">
                    @foreach ( string paneName in Node.Panes )
                    {
                        <button type="button" class="@Layout.GetDockTabClass( Node, paneName )" @onpointerdown="@((PointerEventArgs eventArgs) => BeginPaneTabDrag( paneName, eventArgs ))" @onclick="@(() => ActivateTab( paneName ))">@Layout.GetPaneCaption( paneName )</button>
                    }
                </div>
            }

            @if ( CanResize )
            {
                <DockSplitter Dock="@ActivePane.EffectivePosition" />
            }
        </aside>
    </CascadingValue>
}