@using Blazorise.Extensions
@inherits BaseAfterRenderComponent
@typeparam TItem
@typeparam TValue

<Dropdown ElementId="@ElementId" Class="@DropdownClassNames" Style="@CssStyle" Attributes="@Attributes" Visible="@(DropdownVisible || NotFoundVisible)">
    <Validation Validator="@(Validator ?? ValidationRule.None)" AsyncValidator="@AsyncValidator">

        @if ( IsMultiple && !SelectedTexts.IsNullOrEmpty() )
        {
            @foreach ( var selectedText in SelectedTexts )
            {
                <Badge Color="@MultipleBadgeColor" Margin="Margin.Is2.FromStart" CloseClicked="async () => await RemoveMultipleTextAndValue( selectedText )">@selectedText</Badge>
            }
        }

        <TextEdit @ref="@textEditRef"
                  Role="TextRole.Search"
                  Text="@CurrentSearch"
                  TextChanged="@OnTextChangedHandler"
                  Placeholder="@Placeholder"
                  Size="@Size"
                  Disabled="@Disabled"
                  TabIndex="@TabIndex"
                  KeyDown="@OnTextKeyDownHandler"
                  OnFocus="OnTextFocusHandler"
                  Blur="OnTextBlurHandler"
                  Immediate="@Immediate"
                  Debounce="@Debounce"
                  DebounceInterval="@DebounceInterval"
                  CustomValidationValue="@GetValidationValue">
            <Feedback>
                <ValidationError />
                <ValidationSuccess />
                <ValidationNone />
            </Feedback>
        </TextEdit>
    </Validation>
    <DropdownMenu>
        @if ( NotFoundVisible )
        {
            <DropdownItem Disabled>
                @NotFoundContent( CurrentSearch )
            </DropdownItem>
        }

        @if ( DropdownVisible )
        {
            for ( int i = 0; i < FilteredData.Count; ++i )
            {
                var item = FilteredData[i];
                var isActiveItem = IsActiveItem( item, i );

                var text = GetItemText( item );
                var value = GetItemValue( item );

                <DropdownItem ElementId="@DropdownItemId(i)" @key="@item" Active="@isActiveItem" Class="@DropdownItemClassNames(i)" Value="@value" Clicked="() => OnDropdownItemSelected(value)">
                    @if ( SelectionMode == AutocompleteSelectionMode.Checkbox )
                    {
                        <Field Horizontal Margin="Margin.Is0.FromStart">
                            <Label>
                                <Check TValue="bool" Checked="@isActiveItem" Disabled>
                                    @if ( ItemContent is not null )
                                    {
                                        @ItemContent(new (item, value, text))
                                    }
                                    else
                                    {
                                        @text
                                    }
                                </Check>
                            </Label>
                        </Field>
                    }
                    else
                    {
                        @if ( ItemContent is not null )
                        {
                            @ItemContent(new (item, value, text))
                        }
                        else
                        {
                            @text
                        }
                    }
                </DropdownItem>
            }
        }
    </DropdownMenu>
</Dropdown>
