@using Blazorise
@inherits BaseTextInput<string>

<Div Class="@ContainerClassNames" Style="@Style" Attributes="@Attributes">
    <Addons>
        <Addon AddonType="AddonType.Body">
            <CascadingValue Value="(Validation)null">
                <TextInput @ref="@textInputRef"
                           ElementId="@ElementId"
                           Role="@InputRole"
                           Value="@CurrentValue"
                           ValueChanged="@CurrentValueHandler"
                           ValueExpression="@ValueExpression"
                           Placeholder="@InputPlaceholder"
                           Pattern="@Pattern"
                           Color="@Color"
                           Plaintext="@Plaintext"
                           Size="@Size"
                           Disabled="@Disabled"
                           ReadOnly="@ReadOnly"
                           TabIndex="@TabIndex"
                           AriaInvalid="@AriaInvalid"
                           AriaDescribedBy="@AriaDescribedBy"
                           KeyDown="@OnKeyDownHandler"
                           KeyPress="@OnKeyPressHandler"
                           KeyUp="@OnKeyUpHandler"
                           OnFocus="OnFocusHandler"
                           FocusIn="@OnFocusInHandler"
                           FocusOut="@OnFocusOutHandler"
                           Blur="OnBlurHandler"
                           Immediate="@Immediate"
                           Debounce="@Debounce"
                           DebounceInterval="@DebounceInterval"
                           Class="@InputClassNames"
                           Attributes="@InputAttributes" />
            </CascadingValue>
        </Addon>
        @if ( ShowPasswordToggle )
        {
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Light"
                        Outline
                        Disabled="@Disabled"
                        Clicked="@TogglePasswordVisibility"
                        title="@TogglePasswordButtonLabel"
                        aria-label="@TogglePasswordButtonLabel">
                    <Icon Name="@VisibilityIconName" />
                </Button>
            </Addon>
        }
    </Addons>
    @ChildContent
    @Feedback

    @if ( ShowStrength )
    {
        <Div Flex="Blazorise.Flex.Row.AlignItems.Center.JustifyContent.Between" Margin="Blazorise.Margin.Is3.FromTop">
            <Span TextTransform="TextTransform.Uppercase" TextWeight="TextWeight.Bold">@StrengthLabelCaption</Span>
            <Span TextColor="@StrengthTextColor" TextWeight="TextWeight.SemiBold">@StrengthLabelText</Span>
        </Div>
        <Div Margin="Blazorise.Margin.Is1.FromTop">
            <Progress Value="@StrengthScore" Max="100" ShowValue="false" Color="@StrengthProgressColor" />
        </Div>
    }

    @if ( ShowRules && RuleStates.Count > 0 )
    {
        <Div Margin="Blazorise.Margin.Is4.FromTop">
            @foreach ( PasswordRuleState ruleState in RuleStates )
            {
                <Div Flex="Blazorise.Flex.Row.AlignItems.Center" Gap="Blazorise.Gap.Is2" Margin="Blazorise.Margin.Is2.FromTop">
                    <Icon Name="@GetRuleIconName( ruleState )" TextColor="@GetRuleIconColor( ruleState )" />
                    <Span TextColor="@GetRuleTextColor( ruleState )">@GetRuleText( ruleState )</Span>
                </Div>
            }
        </Div>
    }
</Div>