@using Blazorise.Extensions
@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TItem

<Div Display="Display.Flex">
    <Div Flex="Flex.Grow.Is1" Width="Width.Is50">
        <ListView TItem="TItem"
                  Data="@ItemsStart"
                  ValueField="@ValueField"
                  TextField="@TextField"
                  Mode="@Mode"
                  SelectionMode="@SelectionMode"
                  Scrollable="@Scrollable"
                  MaxHeight="@MaxHeight"
                  @bind-SelectedItem="@SelectedItemStart"
                  @bind-SelectedItems="@SelectedItemsStart">
        </ListView>
    </Div>

    <Div Flex="Flex.Column.JustifyContent.Center" Margin="Margin.Is3.OnX" Gap="Gap.Is3">
        @if ( IsShowMoveAll )
        {
            <Button Color="Color.Primary" Clicked="@MoveAllEnd" Disabled="@IsMoveAllEndDisabled">
                @(">>")
            </Button>
            <Button Color="Color.Primary" Clicked="@MoveAllStart" Disabled="@IsMoveAllStartDisabled">
                @("<<")
            </Button>
        }
        <Button Color="Color.Primary" Clicked="@MoveSelectedEnd" Disabled="@IsMoveEndDisabled">
            @(">")
        </Button>
        <Button Color="Color.Primary" Clicked="@MoveSelectedStart" Disabled="@IsMoveStartDisabled">
            @("<")
        </Button>
    </Div>

    <Div Flex="Flex.Grow.Is1" Width="Width.Is50">
        <ListView TItem="TItem"
                  Data="@ItemsEnd"
                  ValueField="@ValueField"
                  TextField="@TextField"
                  Mode="@Mode"
                  SelectionMode="@SelectionMode"
                  Scrollable="@Scrollable"
                  MaxHeight="@MaxHeight"
                  @bind-SelectedItem="@SelectedItemEnd"
                  @bind-SelectedItems="@SelectedItemsEnd">
        </ListView>
    </Div>
</Div>
