@using Blazorise.Extensions
@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TItem

<Div Display="Display.Flex">
    <Div Flex="Flex.Grow.Is1" Width="Width.Is50">
        <ListView TItem="TItem"
                  Data="@Filtered1Items"
                  ValueField="@ValueField"
                  TextField="@TextField"
                  Mode="@Mode"
                  SelectionMode="@SelectionMode"
                  Scrollable="@Scrollable"
                  MaxHeight="300px"
                  @bind-SelectedItems="@selectedListBox1Items"
                  @bind-SelectedItem="@selectedListBox1Item">
        </ListView>
    </Div>

    <Div Flex="Flex.Column.JustifyContent.Center" Margin="Margin.Is3.OnX" Gap="Gap.Is3">
        @if ( SelectionMode == ListGroupSelectionMode.Multiple )
        {
            <Button Color="Color.Primary" Clicked="@MoveAllRight" Disabled="@MoveAllRightDisabled">
                @(">>")
            </Button>
            <Button Color="Color.Primary" Clicked="@MoveAllLeft" Disabled="@MoveAllLeftDisabled">
                @("<<")
            </Button>
        }
        <Button Color="Color.Primary" Clicked="@MoveRight" Disabled="@MoveRightDisabled">
            @(">")
        </Button>
        <Button Color="Color.Primary" Clicked="@MoveLeft" Disabled="@MoveLeftDisabled">
            @("<")
        </Button>
    </Div>

    <Div Flex="Flex.Grow.Is1" Width="Width.Is50">
        <ListView TItem="TItem"
                  Data="@Filtered2Items"
                  ValueField="@ValueField"
                  TextField="@TextField"
                  Mode="@Mode"
                  SelectionMode="@SelectionMode"
                  Scrollable="@Scrollable"
                  MaxHeight="300px"
                  @bind-SelectedItems="@selectedListBox2Items"
                  @bind-SelectedItem="@selectedListBox2Item">
        </ListView>
    </Div>
</Div>
