@typeparam TItem

<Div Display="Display.Flex">
    <Div Flex="Flex.Grow.Is1.Column" Width="Width.Is50" Gap="Gap.Is2">
        @if ( ShowCaptions && StartCaptionTemplate is not null )
        {
            @StartCaptionTemplate
        }
        else if ( ShowCaptions && StartCaption is not null )
        {
            <Div Margin="Margin.Is2">@StartCaption</Div>
        }

        <ListView TItem="TItem"
                  Data="@ItemsStart"
                  ValueField="@ValueField"
                  TextField="@TextField"
                  DisabledItem="@IsMoveToEndDisabled"
                  Mode="@Mode"
                  SelectionMode="@SelectionMode"
                  Scrollable="@Scrollable"
                  MaxHeight="@MaxHeight"
                  ItemTemplate="@ItemStartTemplate"
                  SelectedItem="@SelectedItemStart"
                  SelectedItemChanged="@OnSelectedItemStartChanged"
                  SelectedItems="@SelectedItemsStart"
                  SelectedItemsChanged="@OnSelectedItemsStartChanged">
        </ListView>
    </Div>

    <Div Flex="Flex.Column.JustifyContent.Center" Margin="Margin.Is3.OnX" Gap="Gap.Is3">
        @if ( ShowMoveAll )
        {
            <Button Color="@MoveButtonsColor" Clicked="@MoveAllEnd" Disabled="@IsMoveAllEndDisabled">
                <Icon Name="@MoveAllToEndIconName" IconStyle="@MoveButtonsIconStyle" IconSize="@MoveButtonsIconSize" TextColor="@MoveButtonsIconTextColor"/>
            </Button>
        }
        <Button Color="@MoveButtonsColor" Clicked="@MoveSelectedEnd" Disabled="@IsMoveEndDisabled">
            <Icon Name="@MoveToEndIconName" IconStyle="@MoveButtonsIconStyle" IconSize="@MoveButtonsIconSize" TextColor="@MoveButtonsIconTextColor" />
        </Button>
        <Button Color="@MoveButtonsColor" Clicked="@MoveSelectedStart" Disabled="@IsMoveStartDisabled">
            <Icon Name="@MoveToStartIconName" IconStyle="@MoveButtonsIconStyle" IconSize="@MoveButtonsIconSize" TextColor="@MoveButtonsIconTextColor" />
        </Button>
        @if ( ShowMoveAll )
        {
            <Button Color="@MoveButtonsColor" Clicked="@MoveAllStart" Disabled="@IsMoveAllStartDisabled">
                <Icon Name="@MoveAllToStartIconName" IconStyle="@MoveButtonsIconStyle" IconSize="@MoveButtonsIconSize" TextColor="@MoveButtonsIconTextColor" />
            </Button>
        }
    </Div>

    <Div Flex="Flex.Grow.Is1.Column" Width="Width.Is50" Gap="Gap.Is2">
        @if ( ShowCaptions && EndCaptionTemplate is not null )
        {
            @EndCaptionTemplate
        }
        else if ( ShowCaptions && EndCaption is not null )
        {
            <Div Margin="Margin.Is2">@EndCaption</Div>
        }

        <ListView TItem="TItem"
                  Data="@ItemsEnd"
                  ValueField="@ValueField"
                  TextField="@TextField"
                  DisabledItem="@IsMoveToStartDisabled"
                  Mode="@Mode"
                  SelectionMode="@SelectionMode"
                  Scrollable="@Scrollable"
                  MaxHeight="@MaxHeight"
                  ItemTemplate="@ItemEndTemplate"
                  SelectedItem="@SelectedItemEnd"
                  SelectedItemChanged="@OnSelectedItemEndChanged"
                  SelectedItems="@SelectedItemsEnd"
                  SelectedItemsChanged="@OnSelectedItemsEndChanged">
        </ListView>
    </Div>
</Div>
