@inherits BaseComponent
<button @ref="@ElementRef" id="@ElementId" class="@ClassNames" type="button" @onclick="@ClickHandler" @onclick:stopPropagation @attributes="@Attributes">
    @ChildContent
</button>