@inherits Blazorise.AlertMessage
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="fui-MessageBar__title">
        @ChildContent
    </div>
</div>