@inherits Blazorise.BarDropdownMenu
@if ( ParentDropdownState.Mode == BarMode.Horizontal )
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler" data-visible="@VisibleString">
        <div class="fui-NavigationBar__dropdown-menu-list" role="menu" @attributes="@Attributes">
            @ChildContent
        </div>
    </div>
}
else
{
    <div class="@ContainerClassNames" style="@ContainerStyleNames">
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler" data-visible="@VisibleString">
            @ChildContent
        </div>
    </div>
}