@inherits Blazorise.Breadcrumb
<CascadingValue Value="@this" IsFixed>
    <nav class="fui-Breadcrumb" aria-label="breadcrumb">
        <ol @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </ol>
    </nav>
</CascadingValue>