@inherits Blazorise.CloseButton
@if ( ParentAlert != null )
{
    <div class="fui-MessageBarActions__containerAction">
        @CloseButtonElement
    </div>

}
else
{
    @CloseButtonElement
}
@code {
    private RenderFragment CloseButtonElement => __builder =>
    {
        <button @ref="@ElementRef" id="@ElementId" type="button" class="@ClassNames" style="@StyleNames" disabled="@DisabledString" aria-label="dismiss" @onclick="@ClickHandler" @attributes="@Attributes">
           <span class="mud-icon-button-label">
           <svg class="mud-icon-root mud-svg-icon mud-icon-size-small" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="img">
           <path d="M0 0h24v24H0z" fill="none"></path><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
           </path>
           </svg>
           </span>
            @ChildContent
        </button>
    };
}