@using System.Text
@typeparam TValue
@inherits Blazorise.DatePicker<TValue>
@if ( ParentIsAddons )
{
    <span class="@AddonClassNames" style="@WrapperStyleNames">
        @InputElement
    </span>
}
else
{
    <span class="@InputClassNames" style="@WrapperStyleNames">
        @InputElement
    </span>
}
@ChildContent
@Feedback
@code {
    private RenderFragment InputElement => __builder =>
    {
        <input @ref="@ElementRef" id="@ElementId" type="text" name="@NameAttributeValue" class="@ClassNames" style="@StyleNames" disabled="@IsDisabled" readonly="@ReadOnly" pattern="@Pattern" value="@CurrentValueAsString" @onchange="@OnChangeHandler" @onclick="@OnClickHandler" placeholder="@Placeholder" min="@Min?.ToString(Utilities.Parsers.InternalDateFormat)" max="@Max?.ToString(Utilities.Parsers.InternalDateFormat)" tabindex="@TabIndex" aria-invalid="@AriaInvalidAttribute" aria-describedby="@AriaDescribedByAttribute" @attributes="@Attributes" />
    };
}