@inherits Blazorise.DropdownMenu
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="presentation" @attributes="@Attributes">
    <div class="fui-MenuList" role="menu" @attributes="@Attributes">
        @ChildContent
    </div>
</div>