@inherits Blazorise.Skeleton
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="progressbar" aria-busy="true" aria-label="Loading content" @attributes="@Attributes">
    @ChildContent
</div>