@using System.Text
@inherits Blazorise.Toast
<div class="@WrapperClassNames" style="@WrapperStyleNames">
    <div @ref="@ElementRef" id="@ElementId" role="alert" aria-live="assertive" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <CascadingValue Value="@this" IsFixed>
            <CascadingValue Value="@State">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </div>
</div>