@namespace Blazorise.BusyLoading
@inherits BaseComponent

@if (GetIsLoaded())
{
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">         
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
        @if (GetIsBusy())
        {
            var overlayTypeClass = IsFullScreen ? "bl-overlay-fixed" : "bl-overlay-relative";
            <div class="bl-overlay @overlayTypeClass" style="opacity:@ScreenOpacity; background-color:@ScreenColor;" />
            <div class="bl-overlay @overlayTypeClass bl-indicator">
                @if (BusyIndicatorTemplate != null)
                {
                    @BusyIndicatorTemplate
                }
                else
                {
                    // https://icons8.com/preloaders/en/search/spinner#
                    <svg width="@SpinnerSize" height="@SpinnerSize" viewBox="0 0 128 128">
                        <g>
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerColor" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(45 64 64)" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(90 64 64)" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(135 64 64)" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(180 64 64)" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(225 64 64)" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(270 64 64)" />
                            <path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="@SpinnerBackgroundColor" transform="rotate(315 64 64)" />
                            <animateTransform attributeName="transform" type="rotate" values="0 64 64;45 64 64;90 64 64;135 64 64;180 64 64;225 64 64;270 64 64;315 64 64" calcMode="discrete" dur="720ms" repeatCount="indefinite" />
                        </g>
                    </svg>
                }
            </div>
        }
    </div>
}
else
{
    @if (LoadingTemplate != null)
    {
        <CascadingValue Value="@this">
            @LoadingTemplate
        </CascadingValue>
    }
    else
    {
        <p>Loading...</p>
    }
}