@namespace Blazorise
@inherits BaseComponent
<div @ref="@ElementRef" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="@IndicatorClassNames" style="@IndicatorStyleNames"></div>
</div>