@namespace Blazorise
@inherits BaseComponent
<div class="@ClassNames" style="@StyleNames" role="progressbar" aria-valuenow="@Value " aria-valuemin="@Min" aria-valuemax="@Max" @attributes="@Attributes">
    @ChildContent
</div>