@namespace Blazorise
@inherits BaseComponent
<div class="@ClassNames" style="@StyleNames" role="progressbar" aria-valuenow="@Percentage" aria-valuemin="@Min" aria-valuemax="@Max" @attributes="@Attributes">
    @if ( ChildContent is not null )
    {
        @ChildContent
    }
    else if ( IsShowValue )
    {
        @Value
    }
</div>