@namespace Blazorise
@inherits BaseComponent<ToastClasses, ToastStyles>
<div @ref="@ElementRef" id="@ElementId" role="alert" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        <CascadingValue Value="@State">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>