@namespace Blazorise.Docs.Docs.Examples

<ContextMenu>
    <ContextMenuToggle>
        <Button Color="Color.Primary">
            Right-click this button
        </Button>
    </ContextMenuToggle>
    <ContextMenuBody MinWidth="12rem">
        <ContextMenuHeader>Button actions</ContextMenuHeader>
        <ContextMenuItem Icon="IconName.Edit" Value="@("Rename")" Clicked="@SetSelectedAction">Rename</ContextMenuItem>
        <ContextMenuItem Icon="IconName.Copy" Value="@("Duplicate")" Clicked="@SetSelectedAction">Duplicate</ContextMenuItem>
        <ContextMenuDivider />
        <ContextMenuItem Icon="IconName.Delete" Value="@("Delete")" Clicked="@SetSelectedAction">Delete</ContextMenuItem>
    </ContextMenuBody>
</ContextMenu>

<Paragraph Margin="Margin.Is2.FromTop">
    Last action: @selectedAction
</Paragraph>

@code {
    private string selectedAction = "None";

    private void SetSelectedAction( object value )
    {
        selectedAction = value?.ToString();
    }
}