@inherits BaseSidebarLink
@if ( To != null )
{
    <LinkBase TagName="a" class="@Classnames" href="@To" title="@Title" Match="@Match">
        @ChildContent
    </LinkBase>
}
else
{
    <a class="@Classnames" @onclick="@ClickHandler" data-toggle="sidebar-collapse" aria-expanded="@IsShow" title="@Title">
        @ChildContent
    </a>
}
