@inherits BaseSidebarLink
@if ( To != null )
{
    <Blazorise.Link Class="@ClassNames" To="@To" Title="@Title" Match="@Match">
        @ChildContent
    </Blazorise.Link>
}
else
{
    <a class="@ClassNames" @onclick="@ClickHandler" data-toggle="sidebar-collapse" aria-expanded="@Visible" title="@Title">
        @ChildContent
    </a>
}
