@inherits Base.BaseSidebarLink
@if ( To != null )
{
    <LinkBase TagName="a" class="@ClassMapper.Class" href="@To" title="@Title" Match="@Match">
        @ChildContent
    </LinkBase>
}
else
{
    <a class="@ClassMapper.Class" @onclick="@ClickHandler" data-toggle="sidebar-collapse" aria-expanded="@IsShow" title="@Title" >
        @ChildContent
    </a>
}
