@namespace Blazorise
@typeparam TItem
@inherits BaseComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" draggable="@(Disabled == false ? "true" : "false")" @ondragstart="@OnDragStartHandler" @ondragend="@OnDragEndHandler" @attributes="@Attributes">
    @ChildContent
</div>