@namespace Blazorise
@typeparam TItem
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @ondragenter="@OnDragEnterHandler" @ondragleave="@OnDragLeaveHandler" @ondrop="@OnDropHandler" @attributes="@Attributes">
        @ChildContent

        @if ( OnlyZone != true )
        {
            int index = 0;
            var transactionIndex = ParentContainer?.GetTransactionIndex() ?? -1;
            var items = GetItems();

            @if ( AllowReorder )
            {
                @if ( items.Any() == false )
                {
                    <div class="@PlaceholderClassBuilder.Class"></div>
                }
                else
                {
                    if ( transactionIndex == -1 )
                    {
                        <div class="@PlaceholderClassBuilder.Class"></div>
                    }

                    <_Draggable @key="@ElementId" TItem="TItem" Item="default" ZoneName="@Name" Disabled="true" HideContent="false" Class="draggable-preview-start" />
                }
            }

            @foreach ( var item in items )
            {
                var indexCopy = index;

                <_Draggable @key="@(item.GetHashCode())" TItem="TItem" Item="@item" ZoneName="@Name" DraggingClass="@GetItemDraggingClass()" Disabled="@GetItemDisabled(item)" DisabledClass="@GetItemDisabledClass()" DragStarted="@OnDragStarted" DragEnded="@OnDragEnded" Index="@indexCopy">
                    @{
                        var renderer = ItemTemplate ?? ParentContainer?.ItemTemplate;
                    }

                    @if ( renderer != null )
                    {
                        @renderer(item)
                    }
                </_Draggable>

                if ( transactionIndex == indexCopy && IsOrigin( indexCopy ) == false )
                {
                    <div class="@PlaceholderClassBuilder.Class"></div>
                }

                index++;
            }
        }
    </div>
</CascadingValue>