@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <CascadingValue Value="@CurrentMode" Name="Mode">
            <nav class="@ClassNames" style="@StyleNames" data-mode="@ModeString" data-collapse="@CollapseModeString" @attributes="@Attributes">
                @ChildContent
            </nav>
        </CascadingValue>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}