@inherits BaseComponent
@if (!HasCustomRegistration)
{
    <CascadingValue Value=this>
        <CascadingValue Value="@Mode" Name="Mode" IsFixed="true">
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        </CascadingValue>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}