@inherits BaseComponent
@if (!HasCustomRegistration)
{
    <CascadingValue Value="@ParentStore">
        <div class="@ContainerClassNames">
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnter" @onmouseleave="@ParentBarDropdown.OnMouseLeave" data-visible="@VisibleString">
                @ChildContent
            </div>
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}