@inherits BaseComponent
<CascadingValue Value=this>
    <CascadingValue Value="@Store">
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes" data-visible="@VisibleString">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>