@inherits Blazorise.BaseBarDropdownToggle
@if ( !HasCustomRegistration )
{
    <a id="@ElementId" class="@ClassNames" role="button" @onclick="@ClickHandler" @attributes="@Attributes">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}