@inherits BaseComponent
@if (!HasCustomRegistration)
{
    <CascadingValue Value="@ParentStore">
        <div style="overflow: hidden">
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}