@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <CascadingValue Value="@Store">
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        </CascadingValue>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}