@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <a id="@ElementId" class="@ClassNames" style="@StyleNames" role="button" @onclick="@ClickHandler" @attributes="@Attributes">
        @if ( ParentStore.IconName != null )
        {
            <BarIcon IconName="ParentStore.IconName" />
        }
        <span>@ChildContent</span>
    </a>
}
else
{
    @RenderCustomComponent()
}