@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <a id="@ElementId" class="@ClassNames" style="@StyleNames" role="button" @onclick="@ClickHandler" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnter" @onmouseleave="@ParentBarDropdown.OnMouseLeave">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}