@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <CascadingValue Value="@Mode" Name="Mode">
            <CascadingValue Value="@IconName" Name="IconName">
                <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                    @ChildContent
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}