@inherits Blazorise.BaseBarLink
@if ( !HasCustomRegistration )
{
    @if ( To != null )
    {
        <LinkBase TagName="a" class="@ClassNames" href="@To" title="@Title" Match="@Match">
            @ChildContent
        </LinkBase>
    }
    else
    {
        <a class="@ClassNames" title="@Title" @onclick="@ClickHandler" @attributes="@Attributes">
            @ChildContent
        </a>
    }
}
else
{
    @RenderCustomComponent()
}