@inherits Base.BaseBarLink
@if ( !ComponentMapper.HasRegistration( this ) )
{
    @if ( To != null )
    {
        <a class="@ClassMapper.Class" href="@To" Match="@Match">
            @ChildContent
        </a>
    }
    else
    {
        <a class="@ClassMapper.Class" onclick="@ClickHandler">
            @ChildContent
        </a>
    }
}
else
{
    @RenderCustomComponent()
}