@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    @if ( To != null )
    {
        <Blazorise.Link Class="@ClassNames" Style="@StyleNames" To="@To" Title="@Title" Match="@Match">
            @if ( ParentStore.IconName != null )
            {
                <Icon Name="@ParentStore.IconName" />
            }
            <span>@ChildContent</span>
        </Blazorise.Link>
    }
    else
    {
        <a class="@ClassNames" style="@StyleNames" title="@Title" @onclick="@ClickHandler" @attributes="@Attributes">
            @if ( ParentStore.IconName != null )
            {
                <Icon Name="@ParentStore.IconName" />
            }
            <span>@ChildContent</span>
        </a>
    }
}
else
{
    @RenderCustomComponent()
}