@inherits Base.BaseBarLink
@if ( To != null )
{
    <a class="@ClassMapper.Class" href="@To" Match="@Match">
        @ChildContent
    </a>
}
else
{
    <a class="@ClassMapper.Class" onclick="@ClickHandler">
        @ChildContent
    </a>
}
