@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    @if ( To != null )
    {
        <Blazorise.Link Class="@ClassNames" To="@To" Title="@Title" Match="@Match">
            @ChildContent
        </Blazorise.Link>
    }
    else
    {
        <a class="@ClassNames" title="@Title" @onclick="@ClickHandler" @attributes="@Attributes">
            @ChildContent
        </a>
    }
}
else
{
    @RenderCustomComponent()
}