@inherits BaseComponent
@if (!HasCustomRegistration)
{
    <CascadingValue Value="@Mode" Name="Mode">
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}