@inherits Blazorise.Base.BaseBreadcrumbLink
@if ( !HasCustomRegistration )
{
    @if ( IsParentBreadcrumbItemActive )
    {
        @ChildContent
    }
    else
    {
        @if ( To != null )
        {
            <LinkBase TagName="a" class="@ClassMapper.Class" href="@To" title="@Title" Match="@Match">
                @ChildContent
            </LinkBase>
        }
        else
        {
            <a class="@ClassMapper.Class" title="@Title" @onclick="@ClickHandler">
                @ChildContent
            </a>
        }
    }
}
else
{
    @RenderCustomComponent()
}