@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <li class="@ClassNames" style="@StyleNames" aria-current="@(Active ? "page" : null)" @attributes="@Attributes">
            @ChildContent
        </li>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}