@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value="this">
        <div class="@ClassNames" style="@StyleNames" role="@(Role== ButtonsRole.Toolbar? "toolbar" : "group")" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}