@inherits Blazorise.BaseButton
@if ( !HasCustomRegistration )
{
    <button @ref="@ElementRef" id="@ElementId" type="@Type.ToButtonTypeString()" class="@ClassNames" style="@StyleNames" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}