@inherits Blazorise.BaseButton
@if ( !HasCustomRegistration )
{
    <button @ref="@ElementRef" @ref:suppressField id="@ElementId" type="@Type.ToButtonTypeString()" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler" data-tooltip="@DataTooltip">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}