@inherits Blazorise.BaseButton
@if ( !HasCustomRegistration )
{
    <button @ref="@ElementRef" @ref:suppressField id="@ElementId" type="@Type.ToButtonTypeString()" class="@Classnames" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}