@inherits BaseTypographyComponent
@if ( Size != null )
{
    <Dynamic TagName="@($"h{Size}")" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </Dynamic>
}
else
{
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
}