@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <a href="@Source" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">@ChildContent</a>
}
else
{
    @RenderCustomComponent()
}