@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <button type="button" class="@ClassNames" style="@StyleNames" aria-label="Close" @onclick="@ClickHandler" @attributes="@Attributes">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}
