@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <div class="@BodyClassNames">
            @ChildContent
        </div>
    </div>
}
else
{
    @RenderCustomComponent()
}