@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <CascadingValue Value="@Visible" Name="Collapse">
            @ChildContent
        </CascadingValue>
    </div>
}
else
{
    @RenderCustomComponent()
}