@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            <CascadingValue Value="@Visible" Name="CollapseVisible">
                @ChildContent
            </CascadingValue>
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}