@inherits Blazorise.Base.BaseDropdownToggle
@if ( !HasCustomRegistration )
{
    <button id="@ElementId" type="button" class="@ClassMapper.Class" style="@StyleMapper.Style" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}