@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <button @ref="@ElementRef" id="@ElementId" type="button" class="@ClassNames" style="@StyleNames" data-toggle="dropdown" @onclick="@ClickHandler" @attributes="@Attributes">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}