@inherits Base.BaseFields
@if ( Label != null && !TagProvider.FieldsLabelIsInside )
{
    <FormLabel>@Label</FormLabel>
}
<div class="@ClassMapper.Class">
    @if ( Label != null && TagProvider.FieldsLabelIsInside )
    {
        <FormLabel>@Label</FormLabel>
    }
    <CascadingValue Value=this>
        @if ( TagProvider.FieldsHasBody )
        {
            <div class="@BodyClassMapper.Class">
                @ChildContent
            </div>
        }
        else
        {
            @ChildContent
        }
    </CascadingValue>
</div>
@if ( Help != null )
{
    <Help>@Help</Help>
}
