@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <section @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <CascadingValue Value=this>
            @if ( Loading )
            {
                <div class="@LoadingClass"></div>
            }
            @ChildContent
        </CascadingValue>
    </section>
}
else
{
    @RenderCustomComponent()
}