@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <CascadingValue Value="@store">
            <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" tabindex="-1" role="dialog" @attributes="@Attributes">
                @ChildContent
            </div>
        </CascadingValue>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}