@inherits Blazorise.BaseModal
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" tabindex="-1" role="dialog" @attributes="@Attributes">
            @if ( IsOpen )
            {
                @ChildContent
            }
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}