@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value="@store" >
        <li class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </li>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}