@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <CascadingValue Value="@Active" Name="PaginationItemActive">
            <li class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </li>
        </CascadingValue>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}