@inherits Blazorise.Base.BaseProgressBar
@if ( !HasCustomRegistration )
{
    <div class="@ClassMapper.Class" style="@StyleMapper.Style" role="progressbar" aria-valuenow="@Value " aria-valuemin="@Min" aria-valuemax="@Max">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}