@typeparam TValue
@inherits BaseInputComponent<TValue>
<CascadingValue Value=this>
    <div class="@ClassNames" style="@StyleNames" @onfocus="@OnFocus" @onfocusin="@FocusIn" @onfocusout="@FocusOut" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>