@typeparam TValue
@inherits Blazorise.Base.BaseSelectItem<TValue>
@if ( !HasCustomRegistration )
{
    <option class="@ClassMapper.Class" value="@Value" selected="@IsSelected" disabled="@IsDisabled">@ChildContent</option>
}
else
{
    @RenderCustomComponent()
}