@typeparam TValue
@inherits Blazorise.BaseSelectItem<TValue>
@if ( !HasCustomRegistration )
{
    <option class="@Classnames" value="@StringValue" selected="@IsSelected" disabled="@IsDisabled">@ChildContent</option>
}
else
{
    @RenderCustomComponent()
}