@inherits Base.BaseSelectItem
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <option class="@ClassMapper.Class" value="@Value" selected="@IsSelected">@ChildContent</option>
}
else
{
    @RenderCustomComponent()
}