@typeparam TValue
@inherits BaseComponent
<option class="@ClassNames" style="@StyleNames" value="@StringValue" selected="@Selected" disabled="@Disabled" @attributes="@Attributes">@ChildContent</option>