@inherits Base.BaseSelect
@if ( TagProvider.SelectInsideContainer )
{
    <div class="@ClassMapper.Class">
        <select disabled="@IsDisabled" readonly="@IsReadonly" onchange="@SelectionChangedHandler">
            @ChildContent
        </select>
    </div>
}
else
{
    <select class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" onchange="@SelectionChangedHandler">
        @ChildContent
    </select>
}
