@inherits Blazorise.Base.BaseButton
@if ( !HasCustomRegistration )
{
    <button type="@Type.ToButtonTypeString()" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}