@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <li class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <a class="@LinkClassNames" @onclick="@ClickHandler">@ChildContent</a>
    </li>
}
else
{
    @RenderCustomComponent()
}