@inherits Blazorise.Base.BaseTab
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <li class="@ClassMapper.Class">
        <a class="@LinkClassMapper.Class" onclick="@ClickHandler">@ChildContent</a>
    </li>
}
else
{
    @RenderCustomComponent()
}