@inherits Blazorise.BaseTab
@if ( !HasCustomRegistration )
{
    <li class="@ClassNames">
        <a class="@LinkClassMapper.Class" @onclick="@ClickHandler">@ChildContent</a>
    </li>
}
else
{
    @RenderCustomComponent()
}