@inherits Blazorise.BaseTableRowCell
@if ( !HasCustomRegistration )
{
    <td class="@Classnames" style="@StyleMapper.Style" @onclick="@HandleClick" colspan="@ColumnSpan" rowspan="@RowSpan">
        @ChildContent
    </td>
}
else
{
    @RenderCustomComponent()
}