@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    @if ( Responsive )
    {
        <div class="@ResponsiveClassNames">
            <table class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </table>
        </div>
    }
    else
    {
        <table class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </table>
    }
}
else
{
    @RenderCustomComponent()
}