@inherits Blazorise.BaseTableRowCell
@if ( !HasCustomRegistration )
{
    <td class="@ClassNames" style="@StyleNames" @onclick="@HandleClick" colspan="@ColumnSpan" rowspan="@RowSpan" @attributes="@Attributes">
        @ChildContent
    </td>
}
else
{
    @RenderCustomComponent()
}