@inherits BaseComponent
<div @ref="@ElementRef" class="@ClassNames" style="@StyleNames" role="tooltip" data-tooltip="@Text" @attributes="@Attributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>