@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <ul class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @if ( HasErrorMessages )
        {
            @Label
        }

        @foreach ( var errorMessage in ErrorMessages )
        {
            <li class="@ErrorClassNames">@errorMessage</li>
        }
        @ChildContent
    </ul>
}
else
{
    @RenderCustomComponent()
}