@namespace Blazorise.PdfViewer
@inherits BaseComponent

<ModalHeader>
    <ModalTitle>
        @Title
    </ModalTitle>
    <CloseButton Clicked="@OnCancelClicked" />
</ModalHeader>
<ModalBody>
    @if ( !string.IsNullOrWhiteSpace( Message ) )
    {
        <Paragraph Margin="Blazorise.Margin.Is2.FromBottom">
            @Message
        </Paragraph>
    }

    <Validations @ref="validations" Mode="ValidationMode.Auto" ValidateOnLoad="false">
        <Validation Validator="@ValidateFileName">
            <TextInput Value="@fileName"
                       ValueChanged="@OnFileNameChanged"
                       Role="TextRole.Text"
                       Placeholder="@FileNamePlaceholder"
                       Autofocus
                       autocomplete="off">
                <Feedback>
                    <ValidationError />
                </Feedback>
            </TextInput>
        </Validation>
    </Validations>
</ModalBody>
<ModalFooter Flex="Blazorise.Flex.JustifyContent.End" Gap="Blazorise.Gap.Is2">
    <Button Color="Color.Secondary" Clicked="@OnCancelClicked">
        @CancelButtonText
    </Button>
    <Button Color="Color.Primary" Clicked="@OnSubmitClicked">
        @ConfirmButtonText
    </Button>
</ModalFooter>