@namespace Blazorise.PdfViewer
@inherits BaseComponent
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        <CascadingValue Value="@state">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>