@namespace Blazorise.PdfViewer
@inherits BaseComponent
<Div Class="@ClassNames" Style="@StyleNames" TextAlignment="Blazorise.TextAlignment.Center" Padding="Blazorise.Padding.Is3.OnY" Overflow="Blazorise.Overflow.Auto" Attributes="@Attributes">
    <div @ref="@ElementRef" id="@ElementId">
    </div>
</Div>