@page "/"
@inject IVersionProvider VersionProvider
<Row>
    <Column>
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Fixed columns</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>Use <code>FixedColumns</code> to lock some columns.</CardText> Try to drag the horizontal scrollbar to see it in action.
                <Field>
                    <FieldLabel>Add/Remove fixed column</FieldLabel>
                    <FieldBody><Check @bind-Checked=show /></FieldBody>
                </Field>
            </CardBody>
            <CardBody>
                <Table Bordered FixedColumns FixedColumnsSync>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell Width="@Width.Px(50)" FixedPosition="TableColumnFixedPosition.Start">#</TableHeaderCell>
                            <TableHeaderCell Width="@Width.Px(200)">Column heading</TableHeaderCell>
                            <TableHeaderCell Width="@Width.Px(150)" FixedPosition="TableColumnFixedPosition.Start">Fixed heading</TableHeaderCell>

                            @if ( show )
                            {
                                <TableHeaderCell Width="@Width.Px(150)" FixedPosition="TableColumnFixedPosition.Start">Fixed DYNAMIC</TableHeaderCell>
                            }

                            <TableHeaderCell Width="@Width.Px(200)">Column heading</TableHeaderCell>
                            <TableHeaderCell Width="@Width.Px(850)">Column heading</TableHeaderCell>
                            <TableHeaderCell Width="@Width.Px(330)">Column heading</TableHeaderCell>
                            <TableHeaderCell Width="@Width.Px(420)" FixedPosition="TableColumnFixedPosition.End">Fixed end heading</TableHeaderCell>
                            @if ( show )
                            {
                                <TableHeaderCell Width="@Width.Px(420)" FixedPosition="TableColumnFixedPosition.End">Fixed end DYNAMIC</TableHeaderCell>
                            }
                            <TableHeaderCell Width="@Width.Px(400)" FixedPosition="TableColumnFixedPosition.End">Fixed end heading</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @for ( int i = 1; i <= 3; ++i )
                        {
                            var index = i.ToString();

                            <TableRow @key="@index">
                                <TableRowCell Width="@Width.Px(50)" FixedPosition="TableColumnFixedPosition.Start">@index</TableRowCell>
                                <TableRowCell Width="@Width.Px(200)">Column content</TableRowCell>
                                <TableRowCell Width="@Width.Px(150)" FixedPosition="TableColumnFixedPosition.Start">Fixed column</TableRowCell>

                                @if ( show )
                                {
                                    <TableRowCell Width="@Width.Px(150)" FixedPosition="TableColumnFixedPosition.Start">Fixed DYNAMIC</TableRowCell>
                                }

                                <TableRowCell Width="@Width.Px(200)">Column content</TableRowCell>
                                <TableRowCell Width="@Width.Px(850)">Column content</TableRowCell>
                                <TableRowCell Width="@Width.Px(330)">Column content</TableRowCell>
                                <TableRowCell Width="@Width.Px(420)" FixedPosition="TableColumnFixedPosition.End">Fixed end content</TableRowCell>

                                @if ( show )
                                {
                                    <TableRowCell Width="@Width.Px(420)" FixedPosition="TableColumnFixedPosition.End">Fixed end DYNAMIC</TableRowCell>
                                }

                                <TableRowCell Width="@Width.Px(400)" FixedPosition="TableColumnFixedPosition.End">Fixed end content</TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    private bool show;
}