@page "/"
@inject IVersionProvider VersionProvider
<Table Draggable Drag="TableDrag" DragOver="TableDragOver">
    <TableHeader Draggable Drag="TableHDrag" DragOver="TableHDragOver">
        <TableRow Draggable Drag="TableRowDrag" DragOver="TableRowDragOver">
            <TableHeaderCell Draggable Drag="TableHeaderCellDrag" DragOver="TableHeaderCellDragOver">#</TableHeaderCell>
            <TableHeaderCell Draggable Drag="TableHeaderCellDrag" DragOver="TableHeaderCellDragOver">First Name</TableHeaderCell>
            <TableHeaderCell Draggable Drag="TableHeaderCellDrag" DragOver="TableHeaderCellDragOver">Last Name</TableHeaderCell>
            <TableHeaderCell Draggable Drag="TableHeaderCellDrag" DragOver="TableHeaderCellDragOver">Username</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody Draggable Drag="TableBodyDrag" DragOver="TableBodyDragOver">
        @foreach ( var user in tableUsers )
        {
            <TableRow @key="@user.Id" Draggable Drag="TableRowDrag" DragOver="TableRowDragOver">
                <TableRowHeader Draggable Drag="TableRowHeaderDrag" DragOver="TableRowHeaderDragOver">@user.Id</TableRowHeader>
                <TableRowCell Draggable Drag="TableRowCellDrag" DragOver="TableRowCellDragOver">@user.FirstName</TableRowCell>
                <TableRowCell Draggable Drag="TableRowCellDrag" DragOver="TableRowCellDragOver">@user.LastName</TableRowCell>
                <TableRowCell Draggable Drag="TableRowCellDrag" DragOver="TableRowCellDragOver">@user.Social</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code{
    private void TableDrag() => Console.WriteLine( nameof( TableDrag ) );
    private void TableDragOver() => Console.WriteLine( nameof( TableDragOver ) );

    private void TableHDrag() => Console.WriteLine(nameof(TableHDrag));
    private void TableHDragOver() => Console.WriteLine( nameof( TableHDragOver ) );

    private void TableRowDrag() => Console.WriteLine( nameof( TableRowDrag ) );
    private void TableRowDragOver() => Console.WriteLine( nameof( TableRowDragOver ) );

    private void TableHeaderCellDrag() => Console.WriteLine( nameof( TableHeaderCellDrag ) );
    private void TableHeaderCellDragOver() => Console.WriteLine( nameof( TableHeaderCellDragOver ) );

    private void TableBodyDrag() => Console.WriteLine( nameof( TableBodyDrag ) );
    private void TableBodyDragOver() => Console.WriteLine( nameof( TableBodyDragOver ) );

    private void TableRowHeaderDrag() => Console.WriteLine( nameof( TableRowHeaderDrag ) );
    private void TableRowHeaderDragOver() => Console.WriteLine( nameof( TableRowHeaderDragOver ) );

    private void TableRowCellDrag() => Console.WriteLine( nameof( TableRowCellDrag ) );
    private void TableRowCellDragOver() => Console.WriteLine( nameof( TableRowCellDragOver ) );

    private List<TableUser> tableUsers = new()
    {
        new( "1", "Mark", "Otto", "@mdo" ),
        new( "2", "Jacob", "Thornton", "@fat" ),
        new( "3", "Larry", "the Bird", "@twitter" ),
    };
    private class TableUser
    {
        public string Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Social { get; set; }

        public TableUser( string id, string firstName, string lastName, string social )
        {
            Id = id;
            FirstName = firstName;
            LastName = lastName;
            Social = social;
        }
    }
}