@namespace Blazorise
@using Blazorise.Extensions
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    @if ( !toastInstances.IsNullOrEmpty() )
    {
        <Toaster Placement="@Placement">
            @foreach ( var toastInstance in toastInstances )
            {
                <Toast @key="@toastInstance.ToastId" @ref="toastInstance.ToastRef" @bind-Visible="@toastInstance.Visible"
                       Opened="@toastInstance.Opened"
                       Closed="@(() => OnToastClosed(toastInstance))">
                    <ToastHeader>
                        <Span>
                            @toastInstance.Title
                        </Span>
                        @if ( ShowCloseButton )
                        {
                            <CloseButton Clicked="@toastInstance.ToastRef.Hide" Margin="Blazorise.Margin.IsAuto.FromStart" />
                        }
                    </ToastHeader>
                    <ToastBody>
                        @toastInstance.Message
                    </ToastBody>
                </Toast>
            }
        </Toaster>
    }
</CascadingValue>