@inherits Blazorise.BarDropdownMenu
@using Blazorise.Utilities
@if ( ParentDropdownState != null && ParentDropdownState.Mode != BarMode.VerticalInline )
{
    <div class="@GetContainerClassNames( ParentDropdownState.Mode == BarMode.Horizontal ? HorizontalMenuClass : VerticalMenuClass )" style="@GetContainerStyleNames()" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler">
        <ul @ref="@ElementRef" id="@SubMenuId" direction="ltr" class="@ClassNames" style="@StyleNames" role="menu" @attributes="@Attributes">
            @ChildContent
        </ul>
    </div>

}
else
{
    <ul @ref="@ElementRef" id="@SubMenuId" direction="ltr" class="@ClassNames" style="@StyleNames" role="menu" @attributes="@Attributes">
        @ChildContent
    </ul>
}
@code{
    string HorizontalMenuClass
        => $"ant-menu-submenu ant-menu-submenu-popup {( ParentDropdownState?.RightAligned == true ? "ant-menu-submenu-placement-bottomRight" : "ant-menu-submenu-placement-bottomLeft" )} {( ParentDropdownState?.Visible == true ? "" : "ant-menu-submenu-hidden" )}";

    string VerticalMenuClass
        => $"ant-menu-submenu ant-menu-submenu-popup {( ParentDropdownState?.RightAligned == true ? "ant-menu-submenu-placement-leftTop" : "ant-menu-submenu-placement-rightTop" )} {( ParentDropdownState?.Visible == true ? "" : "ant-menu-submenu-hidden" )}";

    string GetContainerClassNames( string baseClass )
    {
        var builder = new ClassBuilder( classBuilder =>
        {
            classBuilder.Append( baseClass );
            classBuilder.Append( Classes?.Container );
            AppendWrapperUtilities( classBuilder );
        } );

        return builder.Class;
    }

    string GetContainerStyleNames()
    {
        var builder = new StyleBuilder( styleBuilder =>
        {
            AppendWrapperUtilities( styleBuilder );
            styleBuilder.Append( Styles?.Container );
        } );

        return builder.Styles;
    }

    [CascadingParameter( Name = "SubMenuId" )] string SubMenuId { get; set; }
}