@inherits Blazorise.BarDropdown
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <CascadingValue Value="@SubMenuId" Name="SubMenuId">
            <li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="none" @attributes="@Attributes" @onmouseenter="@RootMouseEnterHandler" @onmouseleave="@RootMouseLeaveHandler">
                @ChildContent
            </li>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
@code {
    string SubMenuId => $"SubMenu_{ElementId}";

    bool UseRootHoverHandlers => State.Mode != BarMode.Horizontal && !State.IsInlineDisplay;

    System.Threading.Tasks.Task RootMouseEnterHandler()
        => UseRootHoverHandlers
            ? OnMouseEnterHandler()
            : System.Threading.Tasks.Task.CompletedTask;

    System.Threading.Tasks.Task RootMouseLeaveHandler()
        => UseRootHoverHandlers
            ? OnMouseLeaveHandler()
            : System.Threading.Tasks.Task.CompletedTask;
}