@inherits Blazorise.BarDropdown
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <CascadingValue Value="@SubMenuId" Name="SubMenuId">
            <li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="menuitem" @attributes="@Attributes">
                @ChildContent
            </li>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
@code{
    string SubMenuId => $"SubMenu_{ElementId}";
}