@inherits Blazorise.BarDropdownToggle

@if ( ParentBarDropdownState?.Mode == BarMode.Horizontal && !HasNavigationTarget )
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="menuitem" tabindex="0" aria-expanded="@ParentBarDropdownState.Visible.ToString().ToLowerInvariant()" aria-haspopup="true" aria-owns="@SubMenuId" @onclick="@ClickHandler" @onkeydown="@KeyDownHandler" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler" @attributes="@Attributes">
        <span class="ant-menu-title-content">@ChildContent</span>
        @if ( IsToggleIconVisible )
        {
            <i class="ant-menu-submenu-arrow"></i>
        }
    </div>
}
else
{
    <a @ref="@ElementRef" id="@ElementId" href="@GetTo()" rel="@GetRel()" class="@ClassNames" style="@StyleNames" role="menuitem" tabindex="0" aria-expanded="@ParentBarDropdownState.Visible.ToString().ToLowerInvariant()" aria-haspopup="true" aria-owns="@SubMenuId" @onclick="@ClickHandler" @onclick:preventDefault="@ShouldPreventDefaultOnToggleClick" @onkeydown="@KeyDownHandler" @attributes="@Attributes" @onmouseenter="@ParentBarDropdown.OnMouseEnterHandler" @onmouseleave="@ParentBarDropdown.OnMouseLeaveHandler">
        <span class="ant-menu-title-content">@ChildContent</span>
        @if ( IsToggleIconVisible )
        {
            <i class="ant-menu-submenu-arrow"></i>
        }
    </a>
}
@code {
    [CascadingParameter( Name = "SubMenuId" )] string SubMenuId { get; set; }
}