@inherits Blazorise.BarItem
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        @if ( HasDropdown )
        {
            @ChildContent
        }
        else
        {
            <li @ref="@ElementRef" id="@ElementId" class="@ItemClassNames" style="@StyleNames" role="menuitem" aria-disabled="@State.Disabled.ToString().ToLowerInvariant()" @attributes="@Attributes">
                @ChildContent
            </li>
        }
    </CascadingValue>
</CascadingValue>
@code {
    [CascadingParameter] protected Blazorise.AntDesign.Components.BarBrand ParentAntDesignBarBrand { get; set; }

    string ItemClassNames => ParentAntDesignBarBrand is not null
        ? $"{ClassNames} b-ant-menu-brand-item"
        : ClassNames;
}