@inherits Blazorise.BarLink
<Anchor ElementId="@ElementId" Class="@ClassNames" Style="@StyleNames" To="@To" Clicked="@ClickHandler" Target="@Target" Title="@Title" Match="@Match" CustomMatch="@CustomMatch" Attributes="@Attributes">
    <span>@ChildContent</span>
</Anchor>