@inherits Blazorise.CardActions
<ul @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <li>
        <span>
            @ChildContent
        </span>
    </li>
</ul>