@inherits Blazorise.DropdownMenu
@if ( ParentDropdown?.IsDropdownSubmenu == true )
{
    <div @ref="@ElementRef" id="@ElementId" class="@SubmenuPopupClassNames" style="@StyleNames" role="presentation" @attributes="@Attributes">
        <ul role="menu" class="@SubmenuMenuClassNames">
            @ChildContent
        </ul>
    </div>
}
else
{
    <div @ref="@ElementRef" id="@ElementId" class="@OverlayClassNames" style="@OverlayStyleNames" @attributes="@Attributes">
        <ul role="menu" class="@RootMenuClassNames">
            @ChildContent
        </ul>
    </div>
}