@inherits Blazorise.DropdownItem
@* Diff from base:
  - last line of params is not present in base (role, aira-disabled)
  - <li> insted of <a> as the wrapping element *@

<li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames"
    @onmousedown:preventDefault @onmousedown="@EventCallback.Empty" @onclick="ClickHandler" @attributes="@Attributes"
    role="menuitem" aria-disabled="@AriaDisabled">
    @Core
</li>