@inherits Blazorise.FieldLabel
<div class="@ContainerClassNames">
    <label @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" for="@For" @attributes="@Attributes">
        @ChildContent
    </label>
</div>