@inherits Blazorise.FieldLabel
@if ( ContainerTagName == "legend" )
{
    <Dynamic TagName="@ContainerTagName" @bind-ElementRef="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" for="@ResolvedFor" @attributes="@Attributes">
        @ChildContent
    </Dynamic>
}
else
{
    <div class="@ContainerClassNames" style="@ContainerStyleNames">
        <Dynamic TagName="@ContainerTagName" @bind-ElementRef="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" for="@ResolvedFor" @attributes="@Attributes">
            @ChildContent
        </Dynamic>
    </div>
}