@inherits Blazorise.FigureImage
<div class="ant-image">
    <img @ref="@ElementRef" id="@ElementId" src="@Source" class="@ClassNames" style="@StyleNames" alt="@AlternateText" onerror="@OnError" @attributes="@Attributes" />
</div>