@inherits Blazorise.ModalContent
<CascadingValue Value="@this" IsFixed>
    <div id="@WrapperElementId" class="@WrapperClassNames" style="@(ParentModal?.IsVisible == true ? "" : "display: none;")">
        <div @ref="@ElementRef" class="@DialogClassNames" style="@DialogStyleNames" role="document" tabindex="-1">
            <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                <FocusTrap @ref="@FocusTrapRef" Active="@IsFocusTrap">
                    @ChildContent
                </FocusTrap>
            </div>
        </div>
    </div>
</CascadingValue>