@inherits Blazorise.SkeletonItem
<span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <ul class="ant-skeleton-paragraph">
        <li>@ChildContent</li>
    </ul>
</span>