@inherits Blazorise.Tab
<div @ref="@ElementRef" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <button id="@ElementId" type="button" role="tab" class="@LinkClassNames" style="@Styles?.Link" tabindex="@(Disabled ? "-1" : "0")" aria-selected="@AriaSelected" aria-disabled="@AriaDisabled" disabled="@Disabled" @onclick="@ClickHandler">
        @ChildContent
    </button>
</div>
@code {
    string AriaSelected => Active ? "true" : "false";

    string AriaDisabled => Disabled ? "true" : "false";
}