@inherits Blazorise.Tab
<div @ref="@ElementRef" id="@ElementId" role="tab" class="@ClassNames" style="@StyleNames" tabindex="@(Disabled ? "-1" : "0")" aria-selected="@AriaSelected" aria-disabled="@AriaDisabled" @onclick="@ClickHandler" @attributes="@Attributes">
    <span class="@LinkClassNames" style="@Styles?.Link">
        @ChildContent
    </span>
</div>
@code {
    string AriaSelected => Active ? "true" : "false";

    string AriaDisabled => Disabled ? "true" : "false";
}