@inherits Blazorise.TableRowHeader
<td @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler"
    draggable="@DraggableString"
    @ondragend="@OnDragEndHandler"
    @ondragend:preventDefault="@DragEndPreventDefault"
    @ondragenter="@OnDragEnterHandler"
    @ondragenter:preventDefault="@DragEnterPreventDefault"
    @ondragleave="@OnDragLeaveHandler"
    @ondragleave:preventDefault="@DragLeavePreventDefault"
    @ondragstart="@OnDragStartHandler"
    @ondragstart:preventDefault="@DragStartPreventDefault"
    @ondrop="@OnDropHandler"
    @ondrop:preventDefault="@DropPreventDefault"
    data-caption="@MobileModeCaption"
    @attributes="@Attributes">
    @ChildContent
</td>