@inherits Blazorise.TabPanel
<div @ref="@ElementRef" id="@ElementId" role="tabpanel" tabindex="@TabIndex" class="@ClassNames" style="@StyleNames" aria-hidden="@AriaHidden" @attributes="@Attributes">
    @ChildContent
</div>
@code {
    int TabIndex => Active ? 0 : -1;
}