@inherits Blazorise.Tabs
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <div @ref="@ElementRef" id="@ElementId" class="@RootClassNames" style="@StyleNames" @attributes="@Attributes">
            @if ( Items != null )
            {
                <div role="tablist" aria-orientation="@AriaOrientation" class="@TabsNavClassNames">
                    <div class="ant-tabs-nav-wrap">
                        <div class="ant-tabs-nav-list">
                            @Items
                        </div>
                    </div>
                </div>
            }
            @if ( Content != null )
            {
                <div class="ant-tabs-content-holder">
                    <div class="@ContentClassNames" style="@Styles?.Content">
                        @Content
                    </div>
                </div>
            }
        </div>
    </CascadingValue>
</CascadingValue>