@using System.Text
@inherits Blazorise.Toast
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="ant-notification-notice-content">
        <div role="alert" aria-live="assertive">
            <CascadingValue Value="@this" IsFixed>
                <CascadingValue Value="@State">
                    @ChildContent
                </CascadingValue>
            </CascadingValue>
        </div>
    </div>
</div>