@inherits Blazorise.BarBrand
@if ( ParentBarState?.Mode == BarMode.Horizontal )
{
    <h6 id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </h6>
}
else
{
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
        @if ( ParentBarState?.Mode != BarMode.Horizontal )
        {
            <Blazorise.BarToggler Class="b-bar-mobile-toggle" />
        }
    </div>
}