@inherits Blazorise.BarDropdownToggle
@if ( ParentStore.Mode == BarMode.Horizontal )
{
    @ChildContent
    <i class="fas fa-angle-down"></i>
}
else
{
    <a id="@ElementId" class="@ClassNames" style="@StyleNames" role="button" @onclick="@ClickHandler"  @onmouseenter="@ParentBarDropdown.OnMouseEnter" @onmouseleave="@ParentBarDropdown.OnMouseLeave" @attributes="@Attributes">
        <span>@ChildContent</span>
    </a>
}