@inherits Blazorise.BarEnd
@if ( ParentStore.Mode == BarMode.Horizontal )
{
    <i id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes"></i>
    @ChildContent
}
else
{
    <CascadingValue Value="@ParentStore">
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
}