@inherits Blazorise.BarEnd
@if ( ParentBarState?.Mode == BarMode.Horizontal )
{
    <i id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes"></i>
    @ChildContent
}
else
{
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
}