@inherits Blazorise.BarEnd
@if ( ParentBarState?.Mode == BarMode.Horizontal )
{
    <i id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes"></i>
    @ChildContent
}
else
{
    <CascadingValue Value="@ParentBarState">
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
}