@inherits Blazorise.BarItem
<CascadingValue Value="@this" IsFixed="true">
    @if ( Store.Mode == BarMode.Horizontal )
    {
        @ChildContent
    }
    else
    {
        <CascadingValue Value="@Store">
            <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        </CascadingValue>
    }
</CascadingValue>