@inherits BaseButton
<button @ref="@ElementRef" id="@ElementId" type="@Type.ToButtonTypeString()" class="@ClassNames" style="@StyleNames" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler" @attributes="@Attributes">
    @if ( IsLoading )
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    @ChildContent
</button>
@code{
    protected override void OnInitialized()
    {
        ParentAddon?.Hook( this );

        base.OnInitialized();
    }

    [CascadingParameter] protected Addon ParentAddon { get; set; }
}