@inherits Blazorise.CardTitle
@if ( Size != null )
{
    <Dynamic TagName="@($"h{Size}")" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </Dynamic>
}
else
{
    <h3 id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </h3>
}