@typeparam TValue
@inherits Blazorise.CheckEdit<TValue>
<Label Type="LabelType.Check" For="@ElementId" Style="@Style" Cursor="@Cursor">
    <input @ref="@ElementRef" id="@ElementId" type="@Type" class="@ClassNames" style="@StyleNames" disabled="@Disabled" readonly="@ReadOnly" checked="@CurrentValue" @onchange="@OnChangeHandler" name="@RadioGroup" @attributes="@Attributes" />
    @ChildContent
</Label>
@Feedback