@inherits BaseCheckEdit
<Label IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">
    <input @ref="@ElementRef" id="@ElementId" type="@Type" class="@Classnames" style="@StyleMapper.Style" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" @onchange="@HandleCheckedChanged" name="@RadioGroup" />
    @ChildContent
</Label>
@Feedback