@inherits BaseCheckEdit
<Label IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">
    <input @ref="@ElementRef" @ref:suppressField id="@ElementId" type="@Type" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" @onchange="@HandleCheckedChanged" name="@RadioGroup" />
    @ChildContent
</Label>
@Feedback