@inherits Blazorise.Dropdown
<CascadingValue Value="@this" IsFixed="true">
    <CascadingValue Value="@State">
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>
@code{
    protected override void OnInitialized()
    {
        ParentAddon?.Hook( this );

        base.OnInitialized();
    }

    [CascadingParameter] protected Addon ParentAddon { get; set; }
}