@inherits Blazorise.Field
@using Blazorise.Utilities
<CascadingValue Value="@this" IsFixed="true">
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>
@code{
    protected override void BuildClasses( ClassBuilder builder )
    {
        if ( IsFields && ColumnSize != null )
            builder.Append( ClassProvider.FieldColumn() );

        if ( !IsFields && ColumnSize != null )
            builder.Append( ColumnSize.Class( ClassProvider ) );

        base.BuildClasses( builder );
    }
}