@inherits Blazorise.Steps
<CascadingValue Value=this>
    <CascadingValue Value="Store">
        @if ( Items != null && Content != null )
        {
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @Items
                <div class="@ContentClassNames" @attributes="@Attributes">
                    @Content
                </div>
            </div>
        }
        else
        {
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        }
    </CascadingValue>
</CascadingValue>