@namespace Blazorise
@inherits BaseComponent<OffcanvasClasses, OffcanvasStyles>
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="dialog" @attributes="@Attributes">
            @ChildContent
        </div>
        @if ( ShowBackdrop && BackdropVisible )
        {
            <_OffcanvasBackdrop />
        }
    </CascadingValue>
</CascadingValue>