@namespace Blazorise.Video
@inherits BaseComponent
@if ( YoutubeVideoSource != null )
{
    <div class="plyr__video-embed" id="player">
        <iframe src="https://www.youtube.com/embed/@YoutubeVideoID;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                allow="autoplay"
                @ref="@ElementRef"
                id="@ElementId" 
                class="@ClassNames" 
                style="@StyleNames" 
                poster="@Poster" 
                data-poster="@Poster"
                role="video" 
                controls="@Controls" 
                autoplay="@AutoPlay" 
                muted="@Muted" 
                @attributes="@Attributes"></iframe>
    </div>
}
else
{
    <video @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" poster="@Poster" data-poster="@Poster" role="video" controls="@Controls" autoplay="@AutoPlay" muted="@Muted" @attributes="@Attributes">
        @foreach (var media in Source?.Medias ?? Enumerable.Empty<VideoMedia>())
        {
            <source src="@media.Source" type="@media.Type" size="@media.Size" />
        }
        @ChildContent
    </video>
}
