@namespace Blazorise
@inherits BaseComponent
@if ( Link != null )
{
    <a id="@ElementId" href="@Link" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
        @if ( Closable )
        {
            <a href="#" class="@CloseClassBuilder.Class" aria-label="Close" @onclick="@OnCloseClickedHandler" @onclick:preventDefault>
                <span aria-hidden="true">&times;</span>
            </a>
        }
    </a>
}
else
{
    <span id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
        @if ( Closable )
        {
            <a href="#" class="@CloseClassBuilder.Class" aria-label="Close" @onclick="@OnCloseClickedHandler" @onclick:preventDefault>
                <span aria-hidden="true">&times;</span>
            </a>
        }
    </span>
}