@using System.Globalization;
<Paragraph Margin="Margin.Is5.FromTop.Is4.FromBottom">
    <Row Margin="Margin.Is3.OnY" TextAlignment="TextAlignment.Center">
        <Column>
            <Heading Size="HeadingSize.Is2" TextSize="TextSize.Heading1" TextAlignment="TextAlignment.Center" Margin="Margin.Is4.OnY">
                <Span Class="gradient-commercial">Flexible</Span> plans
            </Heading>
            <Lead>
                Our commercial plans build on the free Blazorise core, adding tools, components, and support to lower your total project cost—backed by up to 15 years of maintenance.
            </Lead>
        </Column>
    </Row>
    <Row Margin="Margin.Is4.FromBottom" TextAlignment="TextAlignment.Center">
        <Column Flex="Flex.JustifyContent.Center.AlignItems.Center">
            <PlanSwitch SelectedValue="@Plan" SelectedValueChanged="@PlanChanged" />
        </Column>
    </Row>
    <Row Margin="Margin.Is4.FromBottom" TextAlignment="TextAlignment.Center">
        <Column Flex="Flex.Column.AlignItems.Center">
            <DevelopersPicker Value="@Quantity" ValueChanged="@QuantityChanged" />
            <Span Padding="Padding.Is3.FromTop">@DevLabel</Span>
        </Column>
    </Row>

    <Row Margin="Margin.Is3.FromBottom" Gutter="Gutter.Is3">
        <Column ColumnSize="ColumnSize.Is3.OnWidescreen.Is6.OnDesktop">
            <PricingCard PlanName="Community" PlanPrice="0" ShowPlan ShowHigherPlan TextAccentColor="@("price-color-community")">
                <ButtonContent>
                    <Button Type="ButtonType.Link" To="https://blazorise.com/account/login" Color="Color.Light" Size="Size.Large" Block>
                        Claim license
                    </Button>
                </ButtonContent>
                <IncludesContent>
                    Includes
                </IncludesContent>
                <ChildContent>
                    <UnorderedList Unstyled Margin="Margin.Is0.FromBottom">
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Secondary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            <Anchor To="https://github.com/Megabit/Blazorise" Title="Link to GitHub">80+ Core UI Components</Anchor>
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Secondary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Free for <Anchor To="community" Title="Learn more">individuals</Anchor>
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Secondary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            <Anchor To="https://github.com/Megabit/Blazorise/issues" Title="Link to GitHub">Community support</Anchor>
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Secondary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Regular updates
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Secondary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Unlimited applications
                        </UnorderedListItem>
                    </UnorderedList>
                </ChildContent>
            </PricingCard>
        </Column>

        <Column ColumnSize="ColumnSize.Is3.OnWidescreen.Is6.OnDesktop">
            <PricingCard PlanName="Professional" Quantity="@Quantity" PlanPrice="@ProfessionalPrices[Plan].Price" PlanUnit="@ProfessionalPrices[Plan].Unit" ShowPlan ShowHigherPlan="@(Plan == "annually")" CurrencySymbol="@ProfessionalPrices[Plan].CurrencySymbol" CurrencyCode="@ProfessionalPrices[Plan].CurrencyCode" ShowDiscount TextAccentColor="TextColor.Info">
                <ButtonContent>
                    <PurchaseButton Color="Color.Info" ProductId="@ProfessionalPrices[Plan].ProductId" Quantity="@Quantity" ProductName="Blazorise Professional">
                        Buy now
                    </PurchaseButton>
                </ButtonContent>
                <IncludesContent>
                    <Icon Name="IconName.Add" /> Everything in Community
                </IncludesContent>
                <ChildContent>
                    <UnorderedList Unstyled Margin="Margin.Is0.FromBottom">
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Info" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Premium forum support
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Info" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Dedicated customer support
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Info" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            24-hour response time
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Info" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            License management dashboard for teams
                        </UnorderedListItem>
                    </UnorderedList>
                </ChildContent>
            </PricingCard>
        </Column>

        <Column ColumnSize="ColumnSize.Is3.OnWidescreen.Is6.OnDesktop">
            <PricingCard PlanName="Enterprise" Quantity="@Quantity" PlanPrice="@EnterprisePrices[Plan].Price" PlanUnit="@EnterprisePrices[Plan].Unit" ShowPlan ShowHigherPlan="@(Plan == "annually")" CurrencySymbol="@EnterprisePrices[Plan].CurrencySymbol" CurrencyCode="@EnterprisePrices[Plan].CurrencyCode" ShowDiscount TextAccentColor="TextColor.Primary">
                <ButtonContent>
                    <PurchaseButton Color="Color.Primary" ProductId="@EnterprisePrices[Plan].ProductId" Quantity="@Quantity" ProductName="Blazorise Enterprise">
                        Buy now
                    </PurchaseButton>
                </ButtonContent>
                <IncludesContent>
                    <Icon Name="IconName.Add" /> Everything in Professional
                </IncludesContent>
                <ChildContent>
                    <UnorderedList Unstyled Margin="Margin.Is0.FromBottom">
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Primary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            <Span>Access to</Span>
                            <Anchor To="themes" Title="Link to themes page">
                                Premium Themes
                            </Anchor>
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Primary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            <Span>Access to</Span>
                            <Anchor To="blocks" Title="Link to blocks page">
                                Blazorise Blocks
                            </Anchor>
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Primary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Priority customer support
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Primary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            16-hour response time
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Primary" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Bug-fix prioritization
                        </UnorderedListItem>
                    </UnorderedList>
                </ChildContent>
            </PricingCard>
        </Column>

        <Column ColumnSize="ColumnSize.Is3.OnWidescreen.Is6.OnDesktop">
            <PricingCard PlanName="Enterprise Plus" PlanPrice="decimal.MinusOne" ShowPlan>
                <ButtonContent>
                    <Button Type="ButtonType.Link" To="contact" Color="Color.Dark" Size="Size.Large" Block>
                        Contact sales
                    </Button>
                </ButtonContent>
                <IncludesContent>
                    <Icon Name="IconName.Add" /> Everything in Enterprise
                </IncludesContent>
                <ChildContent>
                    <UnorderedList Unstyled Margin="Margin.Is0.FromBottom">
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Dark" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Unlimited Support Tickets
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Dark" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            <Anchor To="enterprise-plus" Title="Link to enterprise plus page">Expert on Demand</Anchor> – the Blazorise team helping you hands-on (30 hours)
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Dark" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Priority scheduling for new features
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Dark" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Legal indemnification
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Dark" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Escrow
                        </UnorderedListItem>
                        <UnorderedListItem Padding="Padding.Is2.OnY">
                            <Icon TextColor="TextColor.Dark" Padding="Padding.Is2.FromEnd" Name="IconName.Circle" IconSize="IconSize.ExtraSmall" />
                            Customized agreement
                        </UnorderedListItem>
                    </UnorderedList>
                </ChildContent>
            </PricingCard>
        </Column>
    </Row>

    <Row Margin="Margin.Is4.OnDesktop">
        <Column TextAlignment="TextAlignment.Center">
            <Paragraph TextColor="TextColor.Muted">
                * All prices are in EUR, billed per developer on a royalty-free subscription basis. Local taxes may apply depending on your location.
            </Paragraph>
        </Column>
    </Row>

    <Row Margin="Margin.Is3.OnY" TextAlignment="TextAlignment.Center">
        <Column>
            <Heading Size="HeadingSize.Is2" TextSize="TextSize.Heading1" TextAlignment="TextAlignment.Center" Margin="Margin.Is4.OnY">
                <Span Class="gradient-commercial">Other Ways</Span> to Make a Purchase?
            </Heading>
            <Lead>
                We offer a variety of ways to purchase Blazorise commercial licenses. If you have any questions, please <Anchor To="contact" Title="Contact us" TextColor="TextColor.Primary" Unstyled>contact us</Anchor>.
            </Lead>
        </Column>
    </Row>

    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardBody>
                    <Row Flex="Flex.AlignItems.Center">
                        <Column ColumnSize="ColumnSize.Is12.OnTablet.Is9.OnDesktop">
                            <Paragraph Margin="Margin.Is0" TextAlignment="TextAlignment.Start" TextColor="TextColor.Muted">
                                As a certified Microsoft Partner, we provide an option for you to purchase a license directly from the Azure Marketplace.
                            </Paragraph>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is12.OnTablet.Is3.OnDesktop" Flex="Flex.AlignItems.End.OnDesktop">
                            <Button Type="ButtonType.Link" To="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/11987636635.blazorise" Target="Target.Blank" Color="Color.Primary" Size="Size.Large" Outline Margin="Margin.IsAuto.OnDesktop.FromStart" Gap="Gap.Is2" Flex="Flex.InlineFlex">
                                <Image Source="img/logos/microsoft-icon.svg" Text="Microsoft logo" Width="Width.Rem( 2 )" Height="Height.Rem( 2 )" />
                                <Span>Purchase on Azure</Span>
                            </Button>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
        </Column>
    </Row>

    <Row>
        <Column>
            <Heading Size="HeadingSize.Is4" Margin="Margin.Is4.FromBottom">or</Heading>
        </Column>
    </Row>

    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardBody>
                    <Row Flex="Flex.AlignItems.Center">
                        <Column ColumnSize="ColumnSize.Is12.OnTablet.Is9.OnDesktop">
                            <Paragraph Margin="Margin.Is0" TextAlignment="TextAlignment.Start" TextColor="TextColor.Muted">
                                Enter your information, and you'll receive a quote or estimate to sign. We will activate your licenses and send you an invoice with NET 30 payment terms once it has been signed and returned.
                            </Paragraph>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is12.OnTablet.Is3.OnDesktop" Flex="Flex.AlignItems.End.OnDesktop">
                            <Button Clicked="@OnProductOrderClicked" Color="Color.Primary" Size="Size.Large" Outline Margin="Margin.IsAuto.OnDesktop.FromStart" Gap="Gap.Is2" Flex="Flex.InlineFlex">
                                <Span>Send a Purchase Order</Span>
                            </Button>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Paragraph>