@namespace Blazorise
@inherits BaseRowComponent
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        <CascadingValue Value="@GutterState">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>