@namespace Blazorise
@inherits BaseRowableComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        <CascadingValue Value="@RowableContext" IsFixed>
            <CascadingValue Value="@GutterState">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>