@namespace Blazorise
@inherits BaseComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <CascadingValue Value="@GutterState">
        @ChildContent
    </CascadingValue>
</div>