@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @foreach ( TreeNode node in Nodes ?? Enumerable.Empty<TreeNode>() )
        {
            bool hasChildren = HasChildNodes( node );

            <div>
                @if ( hasChildren )
                {
                    <span class="tree-view-icon" @onclick="@(() => OnToggleNode(node))">
                        @if ( node.IsExpanded )
                        {
                            <Icon Name="@CollapseIconName" IconStyle="@CollapseIconStyle" IconSize="@CollapseIconSize" />
                        }
                        else
                        {
                            <Icon Name="@ExpandIconName" IconStyle="@ExpandIconStyle" IconSize="@ExpandIconSize" />
                        }
                    </span>
                }

                <_TreeViewNodeContent TNode="TNode" Node="@node"
                                      NodeStyling="@(ResolveNodeStylingAction(NodeStyling))"
                                      SelectedNodeStyling="@(ResolveNodeStylingAction(SelectedNodeStyling))">
                    @NodeContent( node )
                </_TreeViewNodeContent>

                @if ( node.IsExpanded && hasChildren )
                {
                    <_TreeViewNode Nodes="GetChildNodes(node)"
                                   NodeContent="NodeContent"
                                   GetChildNodes="GetChildNodes"
                                   IsExpanded="node.IsExpanded"
                                   HasChildNodes="HasChildNodes"
                                   NodeStyling="@(ResolveNodeStylingAction(NodeStyling))"
                                   SelectedNodeStyling="@(ResolveNodeStylingAction(SelectedNodeStyling))"
                                   ExpandIconName="@ExpandIconName"
                                   ExpandIconStyle="@ExpandIconStyle"
                                   CollapseIconName="@CollapseIconName"
                                   CollapseIconStyle="@CollapseIconStyle" />
                }
            </div>
        }
    </div>
</CascadingValue>