@typeparam TNode
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @foreach ( TNode node in Nodes ?? Enumerable.Empty<TNode>() )
        {
            //bool nodeExpanded = ParentNode == null || Expanded;
            bool nodeExpanded = ExpandedNodes.Contains( node );
            bool hasChildren = HasChildNodes( node );

            <div>
                @if ( hasChildren )
                {
                    <span class="tree-view-icon" @onclick="@(() => OnToggleNode(node, !nodeExpanded))">
                        @if ( nodeExpanded )
                        {
                            <Icon Name="@CollapseIconName" IconStyle="@CollapseIconStyle" />
                        }
                        else
                        {
                            <Icon Name="@ExpandIconName" IconStyle="@ExpandIconStyle" />
                        }
                    </span>
                }

                <_TreeViewNodeContent TNode="TNode" Node="@node"
                                      NodeStyling="@(ResolveNodeStylingAction(NodeStyling))"
                                      SelectedNodeStyling="@(ResolveNodeStylingAction(SelectedNodeStyling))">
                    @NodeContent( node )
                </_TreeViewNodeContent>

                @if ( nodeExpanded && hasChildren )
                {
                    <_TreeViewNode Nodes="GetChildNodes(node)"
                                   NodeContent="NodeContent"
                                   GetChildNodes="GetChildNodes"
                                   ExpandedNodes="ExpandedNodes"
                                   ExpandedNodesChanged="ExpandedNodesChanged"
                                   Expanded="nodeExpanded"
                                   HasChildNodes="HasChildNodes"
                                   NodeStyling="@(ResolveNodeStylingAction(NodeStyling))"
                                   SelectedNodeStyling="@(ResolveNodeStylingAction(SelectedNodeStyling))"
                                   ExpandIconName="@ExpandIconName"
                                   ExpandIconStyle="@ExpandIconStyle"
                                   CollapseIconName="@CollapseIconName"
                                   CollapseIconStyle="@CollapseIconStyle" />
                }
            </div>
        }
    </div>
</CascadingValue>