@typeparam TNode
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@treeViewState">
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            <_TreeViewNode @ref="@treeViewNodeRef"
                           NodeStates="@treeViewNodeStates"
                           NodeContent="@NodeContent"
                           GetChildNodes="@GetChildNodes"
                           GetChildNodesAsync="@GetChildNodesAsync"
                           ExpandedNodes="@ExpandedNodes"
                           ExpandedNodesChanged="@ExpandedNodesChanged"
                           Expanded
                           AutoExpandAll="@AutoExpandAll"
                           HasChildNodes="@HasChildNodes"
                           IsDisabled="@IsDisabled"
                           HasChildNodesAsync="@HasChildNodesAsync"
                           NodeStyling="@NodeStyling"
                           SelectedNodeStyling="@SelectedNodeStyling"
                           DisabledNodeStyling="@DisabledNodeStyling"
                           SelectionMode="@SelectionMode"
                           Class="@Class"
                           Style="@Style"
                           Float="@Float"
                           Clearfix="@Clearfix"
                           Visibility="@Visibility"
                           Width="@Width"
                           Height="@Height"
                           Margin="@Margin"
                           Padding="@Padding"
                           Display="@Display"
                           Border="@Border"
                           Flex="@Flex"
                           Position="@Position"
                           Overflow="@Overflow"
                           Casing="@Casing"
                           TextColor="@TextColor"
                           TextAlignment="@TextAlignment"
                           TextTransform="@TextTransform"
                           TextWeight="@TextWeight"
                           TextOverflow="@TextOverflow"
                           VerticalAlignment="@VerticalAlignment"
                           Background="@Background"
                           Shadow="@Shadow"
                           Attributes="@Attributes"
                           ExpandIconName="@ExpandIconName"
                           ExpandIconStyle="@ExpandIconStyle"
                           ExpandIconSize="@ExpandIconSize"
                           CollapseIconName="@CollapseIconName"
                           CollapseIconStyle="@CollapseIconStyle"
                           CollapseIconSize="@CollapseIconSize"
                           ContextMenu="@NodeContextMenu"
                           ContextMenuPreventDefault="@NodeContextMenuPreventDefault">
            </_TreeViewNode>
        </div>
    </CascadingValue>
</CascadingValue>