@inherits BaseComponent
@typeparam TItem
<Div Class="@ClassNames" Style="@StyleNames" Flex="FlexColumnWrap" Border="BorderIs1">
    <CascadingValue Value="@this" IsFixed>
        <CascadingValue Value="@State">
            @if ( schedulerToolbar is not null && ShowToolbar )
            {
                <_SchedulerToolbar TItem="TItem"
                                   SelectedDate="@state.SelectedDate"
                                   SelectedView="@SelectedView"
                                   FirstDayOfWeek="@(schedulerWeekView?.FirstDayOfWeek ?? DayOfWeek.Sunday)"
                                   FirstDayOfWorkWeek="@(schedulerWorkWeekView?.FirstDayOfWorkWeek ?? DayOfWeek.Monday)"
                                   ShowDayViewButton="@(schedulerDayView is not null)"
                                   ShowWeekViewButton="@(schedulerWeekView is not null)"
                                   ShowWorkWeekViewButton="@(schedulerWorkWeekView is not null)"
                                   ShowMonthViewButton="@(schedulerMonthView is not null)" />
            }

            <_SchedulerViews TItem="TItem">
                @if ( ShowingDayView )
                {
                    <_SchedulerDayView TItem="TItem"
                                       StartTime="@schedulerDayView.StartTime"
                                       EndTime="@schedulerDayView.EndTime"
                                       WorkDayStart="@schedulerDayView.WorkDayStart"
                                       WorkDayEnd="@schedulerDayView.WorkDayEnd"
                                       SlotsPerCell="@schedulerDayView.SlotsPerCell"
                                       SelectedDate="@state.SelectedDate"
                                       HeaderCellHeight="@schedulerWorkWeekView.HeaderCellHeight"
                                       ItemCellHeight="@schedulerWorkWeekView.ItemCellHeight" />
                }
                else if ( ShowingWeekView )
                {
                    <_SchedulerWeekView TItem="TItem"
                                        StartTime="@schedulerWeekView.StartTime"
                                        EndTime="@schedulerWeekView.EndTime"
                                        WorkDayStart="@schedulerWeekView.WorkDayStart"
                                        WorkDayEnd="@schedulerWeekView.WorkDayEnd"
                                        SlotsPerCell="@schedulerWeekView.SlotsPerCell"
                                        FirstDayOfWeek="@schedulerWeekView.FirstDayOfWeek"
                                        SelectedDate="@state.SelectedDate"
                                        HeaderCellHeight="@schedulerWorkWeekView.HeaderCellHeight"
                                        ItemCellHeight="@schedulerWorkWeekView.ItemCellHeight" />
                }
                else if ( ShowingWorkWeekView )
                {
                    <_SchedulerWorkWeekView TItem="TItem"
                                            StartTime="@schedulerWorkWeekView.StartTime"
                                            EndTime="@schedulerWorkWeekView.EndTime"
                                            WorkDayStart="@schedulerWorkWeekView.WorkDayStart"
                                            WorkDayEnd="@schedulerWorkWeekView.WorkDayEnd"
                                            SlotsPerCell="@schedulerWorkWeekView.SlotsPerCell"
                                            FirstDayOfWorkWeek="@schedulerWorkWeekView.FirstDayOfWorkWeek"
                                            SelectedDate="@state.SelectedDate"
                                            HeaderCellHeight="@schedulerWorkWeekView.HeaderCellHeight"
                                            ItemCellHeight="@schedulerWorkWeekView.ItemCellHeight" />
                }
                else if ( ShowingMonthView )
                {
                    <_SchedulerMonthView TItem="TItem"
                                         StartTime="@schedulerDayView.StartTime"
                                         EndTime="@schedulerDayView.EndTime"
                                         WorkDayStart="@schedulerDayView.WorkDayStart"
                                         WorkDayEnd="@schedulerDayView.WorkDayEnd"
                                         SelectedDate="@state.SelectedDate"
                                         FirstDayOfWeek="@schedulerMonthView.FirstDayOfWeek"
                                         HeaderCellHeight="@schedulerMonthView.HeaderCellHeight"
                                         ItemCellHeight="@schedulerMonthView.ItemCellHeight" />
                }
            </_SchedulerViews>
            <_SchedulerIItemModal TItem="TItem" @ref="@schedulerItemModalRef"
                                  FirstDayOfWeek="@FirstDayOfWeek"
                                  SaveRequested="@SaveImpl"
                                  DeleteRequested="@DeleteItemImpl" />
                                  
            <_SchedulerIItemOccurrenceModal TItem="TItem" @ref="@schedulerItemOccurrenceModalRef"
                                            FirstDayOfWeek="@FirstDayOfWeek"
                                            SaveOccurrenceRequested="@SaveOccurrenceImpl"
                                            DeleteOccurrenceRequested="@DeleteOccurrenceImpl" />
        </CascadingValue>
    </CascadingValue>
</Div>

@* This one is to hold information about the scheduler *@
<CascadingValue Value="@this" IsFixed>
    @ChildContent
</CascadingValue>