@inherits Blazorise.AccordionToggle
<button @ref="@ElementRef" id="@ElementId" type="button" class="@ClassNames" style="@StyleNames" aria-expanded="@((!CollapseVisible).ToString().ToLowerInvariant())" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</button>