@inherits Blazorise.Modal
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="dialog" @attributes="@Attributes">
            @if ( ShouldRenderContent )
            {
                <FocusTrap Active>
                    @ChildContent
                </FocusTrap>
            }
        </div>
        @if ( ShowBackdrop && BackdropVisible )
        {
            <_ModalBackdrop />
        }
    </CascadingValue>
</CascadingValue>