@inherits Blazorise.ModalContent
<CascadingValue Value="@this" IsFixed>
    <div class="@DialogClassNames" role="document">
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </div>
</CascadingValue>
