@namespace Blazorise.Reporting
@typeparam TItem
@inject System.IServiceProvider ServiceProvider

<CascadingValue Value="@context" IsFixed="true">
    <Div Display="Display.None">
        @ChildContent
    </Div>
</CascadingValue>

<Div Flex="Flex.Column" Gap="Gap.Is3">
    @if ( ShowToolbar )
    {
        <Div Class="b-report-toolbar" Flex="Flex.AlignItems.Center" Gap="Gap.Is2" Padding="Padding.Is3" Border="Border.Is1" Background="Background.White">
            <CascadingValue @key="@ToolbarStateKey" Value="@toolbarContext" IsFixed="true">
                @if ( context.ToolbarContent is not null )
                {
                    @context.ToolbarContent
                }
                else
                {
                    <ReportToolbarGroup>
                        <ReportToolbarItem Command="ReportCommand.Cut" Caption="Cut" />
                        <ReportToolbarItem Command="ReportCommand.Copy" Caption="Copy" />
                        <ReportToolbarItem Command="ReportCommand.Paste" Caption="Paste" />
                        <ReportToolbarItem Command="ReportCommand.Delete" Caption="Delete" />
                    </ReportToolbarGroup>
                    <ReportToolbarGroup>
                        <ReportToolbarItem Command="ReportCommand.Undo" Caption="Undo" />
                        <ReportToolbarItem Command="ReportCommand.Redo" Caption="Redo" />
                        <ReportToolbarItem Command="ReportCommand.Reset" Caption="Reset" />
                    </ReportToolbarGroup>
                    <Div Margin="Margin.IsAuto.FromStart">
                        <ReportToolbarGroup>
                            @if ( IsDesignerEnabled )
                            {
                                <ReportToolbarItem Command="ReportCommand.Design" Caption="Design" ShowCaption />
                            }
                            <ReportToolbarItem Command="ReportCommand.Preview" Caption="Preview" ShowCaption />
                        </ReportToolbarGroup>
                    </Div>
                }
            </CascadingValue>
        </Div>
    }

    @if ( CurrentMode == ReportStudioMode.Design && IsDesignerEnabled )
    {
        @RenderDesigner()
    }
    else
    {
        @RenderViewer()
    }
</Div>