@namespace Blazorise.Reporting
@inject System.IServiceProvider ServiceProvider
@using System
@using System.Linq
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blazorise.Reporting.Internal

<CascadingValue Value="@context" IsFixed="true">
    <Div Display="Display.None">
        @ChildContent
    </Div>
</CascadingValue>

<Div Flex="Flex.Column" Gap="Gap.Is3">
    @if ( ShowToolbar )
    {
        <Div Class="b-report-toolbar" Flex="Flex.AlignItems.Center" Gap="Gap.Is2" Padding="Padding.Is3" Border="Border.Is1" Background="Background.White">
            <CascadingValue @key="@ToolbarStateKey" Value="@toolbarContext" IsFixed="true">
                @if ( context.ToolbarContent is not null )
                {
                    @context.ToolbarContent
                }
                else
                {
                    <ReportToolbarGroup>
                        <ReportToolbarItem Command="ReportCommand.Cut" Caption="Cut" />
                        <ReportToolbarItem Command="ReportCommand.Copy" Caption="Copy" />
                        <ReportToolbarItem Command="ReportCommand.Paste" Caption="Paste" />
                        <ReportToolbarItem Command="ReportCommand.Delete" Caption="Delete" />
                    </ReportToolbarGroup>
                    <ReportToolbarGroup>
                        <ReportToolbarItem Command="ReportCommand.Undo" Caption="Undo" />
                        <ReportToolbarItem Command="ReportCommand.Redo" Caption="Redo" />
                        <ReportToolbarItem Command="ReportCommand.Reset" Caption="Reset" />
                    </ReportToolbarGroup>
                    <ReportToolbarGroup>
                        <ReportToolbarItem Command="ReportCommand.ConnectDataSource" Caption="Data sources" />
                    </ReportToolbarGroup>
                    <Div Margin="Margin.IsAuto.FromStart">
                        <ReportToolbarGroup>
                            @if ( IsDesignerEnabled )
                            {
                                <ReportToolbarItem Command="ReportCommand.Design" Caption="Design" ShowCaption />
                            }
                            <ReportToolbarItem Command="ReportCommand.Preview" Caption="Preview" ShowCaption />
                        </ReportToolbarGroup>
                    </Div>
                }
            </CascadingValue>
        </Div>
    }

    @if ( CurrentMode == ReportStudioMode.Design && IsDesignerEnabled )
    {
        var definition = EffectiveDefinition;

        <_ReportDesignerLayout Shortcut="@HandleDesignerShortcutAsync">
            <ToolboxPanel>
                <_ReportDesignerToolboxPanel Definition="@definition"
                                             Data="@Data"
                                             DataSourceName="@DataSourceName"
                                             ToolboxNodeDragStarted="@OnToolboxTreeNodeDragStarted"
                                             FieldsNodeDragStarted="@OnFieldsTreeNodeDragStarted"
                                             NodeDragEnded="@((ReportTreeNode _) => ClearDesignerDragAsync())"
                                             FormulaFieldConfirmed="@OnFormulaFieldConfirmedAsync"
                                             FormulaFieldRenamed="@OnFormulaFieldRenamedAsync"
                                             FormulaFieldDeleted="@OnFormulaFieldDeletedAsync"
                                             FormulaFieldInserted="@OnFormulaFieldInsertedAsync" />
            </ToolboxPanel>
            <Surface>
                <_ReportDesignerPage PageKey="@($"{definition.Id}:{designerSurfaceVersion}")"
                                     Width="@GetReportPageWidth( definition )"
                                     WidthOffset="@GetReportPageWidthOffset()"
                                     MinHeight="@definition.Page.Height"
                                     DesignMode
                                     PointerMove="@((Func<PointerEventArgs, Task>)PreviewPageSelectionBoxAsync)"
                                     PointerUp="@CompletePageSelectionBoxAsync"
                                     PointerCancel="@((PointerEventArgs _) => CancelPageSelectionBoxAsync())"
                                     ShowSelectionBox="@(selectionBox is not null)"
                                     SelectionBoxX="@(selectionBox?.X ?? 0)"
                                     SelectionBoxY="@(selectionBox?.Y ?? 0)"
                                     SelectionBoxWidth="@(selectionBox?.Width ?? 0)"
                                     SelectionBoxHeight="@(selectionBox?.Height ?? 0)"
                                     SelectionBoxLeftOffset="@GetSelectionBoxLeftOffset()">
                    @for ( var sectionIndex = 0; sectionIndex < definition.Sections.Count; sectionIndex++ )
                    {
                        var capturedSectionIndex = sectionIndex;
                        var section = definition.Sections[capturedSectionIndex];

                        @foreach ( var sectionItem in ResolveSectionRenderItems( definition, section, designMode: true ).Select( ( item, index ) => new { Item = item, Index = index } ) )
                        {
                            var collapsed = IsSectionCollapsedForRender( section );
                            var editable = !section.Suppressed;
                            var railVisible = IsDesignerBandRailVisible();
                            var sectionHeight = GetSectionRenderHeight( capturedSectionIndex, section );
                            var dragPreviewVisible = editable && dragPreview?.SectionIndex == capturedSectionIndex;

                            <_ReportDesignerSection SectionKey="@section.Id"
                                                    Section="@section"
                                                    Height="@sectionHeight"
                                                    BodyLeft="@DesignerBandRailWidth"
                                                    BodyWidth="@definition.Page.Width"
                                                    DesignMode
                                                    Active="@IsSectionSelected( capturedSectionIndex )"
                                                    Collapsed="@collapsed"
                                                    RailVisible="@railVisible"
                                                    Editable="@editable"
                                                    ExternalDragActive="@IsExternalDesignerDragActive()"
                                                    AllowBandCollapse="@AllowBandCollapse"
                                                    ShowBandDataSource="@ShowBandDataSource"
                                                    ShowDragPreview="@dragPreviewVisible"
                                                    DragPreviewElementType="@(dragPreview?.ElementType ?? ReportElementType.Text)"
                                                    DragPreviewText="@dragPreview?.Text"
                                                    DragPreviewX="@(dragPreview?.X ?? 0)"
                                                    DragPreviewY="@(dragPreview?.Y ?? 0)"
                                                    DragPreviewWidth="@(dragPreview?.Width ?? 0)"
                                                    DragPreviewHeight="@(dragPreview?.Height ?? 0)"
                                                    RailClicked="@((MouseEventArgs _) => SelectSection( capturedSectionIndex ))"
                                                    ToggleClicked="@((MouseEventArgs _) => ToggleSectionCollapsed( section ))"
                                                    RailContextMenu="@((MouseEventArgs eventArgs) => OpenSectionContextMenu( capturedSectionIndex, eventArgs ))"
                                                    BodyContextMenu="@((MouseEventArgs eventArgs) => OpenSectionContextMenu( capturedSectionIndex, eventArgs ))"
                                                    BodyPointerDown="@(editable ? EventCallback.Factory.Create<PointerEventArgs>( this, eventArgs => BeginSelectionBox( capturedSectionIndex, eventArgs ) ) : default)"
                                                    DragOver="@(editable ? (Func<ElementReference, DragEventArgs, Task>)( ( elementReference, eventArgs ) => PreviewDesignerDragAsync( capturedSectionIndex, elementReference, eventArgs ) ) : null)"
                                                    Drop="@(editable ? (Func<ElementReference, DragEventArgs, Task>)( ( elementReference, eventArgs ) => DropDesignerItemAsync( capturedSectionIndex, elementReference, eventArgs ) ) : null)"
                                                    PointerMove="@(editable ? (Func<PointerEventArgs, Task>)( eventArgs => PreviewElementPointerInteractionAsync( capturedSectionIndex, eventArgs ) ) : null)"
                                                    PointerUp="@(editable ? EventCallback.Factory.Create<PointerEventArgs>( this, eventArgs => CompleteElementPointerInteractionAsync( capturedSectionIndex, eventArgs ) ) : default)"
                                                    PointerCancel="@(editable ? EventCallback.Factory.Create<PointerEventArgs>( this, _ => CancelElementPointerInteractionAsync() ) : default)"
                                                    BodyClicked="@((MouseEventArgs _) => HandleSectionClick( capturedSectionIndex ))"
                                                    ResizePointerDown="@(editable ? EventCallback.Factory.Create<PointerEventArgs>( this, eventArgs => BeginSectionPointerResizeAsync( capturedSectionIndex, eventArgs ) ) : default)">
                                @foreach ( var element in section.Elements )
                                {
                                    var elementKey = ReportDefinitionHelper.EnsureElementId( element );
                                    var capturedElementKey = elementKey;

                                    <_ReportDesignerElement Data="@Data"
                                                            Definition="@definition"
                                                            Section="@section"
                                                            Item="@sectionItem.Item"
                                                            Element="@element"
                                                            ElementKey="@capturedElementKey"
                                                            DesignMode
                                                            Editable="@editable"
                                                            Selected="@selectionManager.IsElementSelected( capturedElementKey )"
                                                            Editing="@IsElementTextEditing( capturedElementKey )"
                                                            TextEditingActive="@IsElementTextEditing()"
                                                            Clicked="@(editable ? EventCallback.Factory.Create<MouseEventArgs>( this, eventArgs => HandleElementClick( capturedElementKey, eventArgs ) ) : default)"
                                                            DoubleClicked="@(editable ? EventCallback.Factory.Create<MouseEventArgs>( this, eventArgs => BeginElementTextEdit( capturedElementKey ) ) : default)"
                                                            ContextMenu="@(editable ? EventCallback.Factory.Create<MouseEventArgs>( this, eventArgs => OpenElementContextMenu( capturedElementKey, eventArgs ) ) : default)"
                                                            TextEditCommitted="@(editable ? EventCallback.Factory.Create<string>( this, text => CommitElementTextEditAsync( capturedElementKey, text ) ) : default)"
                                                            TextEditCancelled="@(editable ? EventCallback.Factory.Create( this, () => CancelElementTextEdit( capturedElementKey ) ) : default)"
                                                            PointerDown="@(editable ? EventCallback.Factory.Create<PointerEventArgs>( this, eventArgs => BeginElementPointerDrag( capturedElementKey, eventArgs ) ) : default)"
                                                            NorthWestResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.NorthWest, eventArgs ))"
                                                            NorthResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.North, eventArgs ))"
                                                            NorthEastResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.NorthEast, eventArgs ))"
                                                            EastResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.East, eventArgs ))"
                                                            SouthEastResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.SouthEast, eventArgs ))"
                                                            SouthResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.South, eventArgs ))"
                                                            SouthWestResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.SouthWest, eventArgs ))"
                                                            WestResizeStarted="@((PointerEventArgs eventArgs) => BeginElementPointerResize( capturedElementKey, ReportElementResizeHandle.West, eventArgs ))" />
                                }
                            </_ReportDesignerSection>
                        }
                    }
                </_ReportDesignerPage>
            </Surface>
            <Panel>
                <_ReportDesignerPanel SelectedTab="@SelectedDesignerPanelTabName"
                                      SelectedTabChanged="@SelectDesignerPanelTab">
                    <Properties>
                        <_ReportDesignerPropertiesPanel Definition="@definition"
                                                        Data="@Data"
                                                        ReportSelected="@selectionManager.ReportSelected"
                                                        SelectedSection="@GetSelectedPropertiesSection( definition )"
                                                        FormulaSection="@GetSelectedFormulaSection( definition )"
                                                        SelectedElement="@selectionManager.FindSelectedElement( definition )"
                                                        SelectedElementSuppressed="@selectionManager.IsSelectedElementSuppressed( definition )"
                                                        SnapToGrid="@snapToGrid"
                                                        SnapToGridChanged="@OnSnapToGridChanged"
                                                        UpdateReportPage="@UpdateReportPageAsync"
                                                        UpdateSelectedSection="@UpdateSelectedSectionAsync"
                                                        UpdateSelectedSectionSuppression="@UpdateSelectedSectionSuppressionAsync"
                                                        GetMinimumSectionHeight="@GetMinimumSectionHeight"
                                                        CanInsertSection="@CanSelectedSectionInsertSection( definition )"
                                                        InsertSection="@InsertSectionAsync"
                                                        CanInsertGroup="@CanSelectedSectionInsertGroup( definition )"
                                                        InsertGroup="@OpenSelectedDetailGroupDialogAsync"
                                                        DeleteSelectedSection="@DeleteSelectedSectionAsync"
                                                        UpdateSelectedElement="@UpdateSelectedElementAsync"
                                                        MoveSelectedElement="@MoveSelectedElementAsync" />
                    </Properties>
                    <Explorer>
                        <_ReportDesignerReportExplorer Definition="@definition"
                                                       ReportSelected="@selectionManager.ReportSelected"
                                                       SelectedSectionIndex="@selectionManager.SelectedSectionIndex"
                                                       SelectedElementKey="@selectionManager.SelectedElementKey"
                                                       IsElementSelected="@selectionManager.IsElementSelected"
                                                       NodeClicked="@OnReportTreeNodeClicked"
                                                       NodeContextMenu="@OnReportTreeNodeContextMenu" />
                    </Explorer>
                </_ReportDesignerPanel>
            </Panel>
            <ContextMenu>
                <_ReportDesignerContextMenu Visible="@(contextMenu?.Visible == true)"
                                            X="@(contextMenu?.ClientX ?? 0)"
                                            Y="@(contextMenu?.ClientY ?? 0)">
                    @if ( IsSectionContextMenuVisible( definition ) )
                    {
                        var contextSection = GetContextMenuSection( definition );

                        @if ( !contextSection.Suppressed )
                        {
                            @if ( CanContextSectionInsertSection( definition, contextMenu.SectionIndex ) )
                            {
                                <_ReportDesignerContextMenuButton Text="Insert band before" Clicked="@(( MouseEventArgs _ ) => InsertSectionAsync( insertAfter: false ))" />
                                <_ReportDesignerContextMenuButton Text="Insert band after" Clicked="@(( MouseEventArgs _ ) => InsertSectionAsync( insertAfter: true ))" />
                            }
                            @if ( CanContextSectionInsertGroup( contextSection ) )
                            {
                                <_ReportDesignerContextMenuButton Text="Insert group..." Clicked="@(( MouseEventArgs _ ) => OpenSelectedDetailGroupDialogAsync())" />
                            }
                            <_ReportDesignerContextMenuButton Text="Suppress" Clicked="@(( MouseEventArgs _ ) => ToggleSelectedSectionSuppressionAsync())" />

                            @if ( ReportDefinitionHelper.CanDeleteSection( contextSection ) )
                            {
                                <_ReportDesignerContextMenuButton Text="Delete band" Clicked="@(( MouseEventArgs _ ) => DeleteSelectedSectionAsync())" />
                            }
                        }
                        else
                        {
                            <_ReportDesignerContextMenuButton Text="Don't suppress" Clicked="@(( MouseEventArgs _ ) => ToggleSelectedSectionSuppressionAsync())" />
                        }
                    }
                    else if ( IsElementContextMenuVisible() )
                    {
                        <_ReportDesignerContextMenuButton Text="Cut" Clicked="@(( MouseEventArgs _ ) => CutSelectedElementAsync())" />
                        <_ReportDesignerContextMenuButton Text="Copy" Clicked="@(( MouseEventArgs _ ) => CopySelectedElementAsync())" />
                        <_ReportDesignerContextMenuButton Text="Paste" Clicked="@(( MouseEventArgs _ ) => PasteElementAsync())" />

                        @if ( CanContextElementInsertAggregate( definition ) )
                        {
                            <_ReportDesignerContextMenuButton Text="Insert aggregate" Clicked="@(( MouseEventArgs _ ) => OpenContextElementAggregateDialogAsync())" />
                        }

                        @if ( CanContextElementEditText( definition ) )
                        {
                            <_ReportDesignerContextMenuButton Text="Edit Text" Clicked="@(( MouseEventArgs _ ) => BeginContextElementTextEdit())" />
                        }

                        @if ( CanContextElementEditFormula( definition ) )
                        {
                            <_ReportDesignerContextMenuButton Text="Edit Formula" Clicked="@(( MouseEventArgs _ ) => OpenContextElementFormulaDialogAsync())" />
                        }

                        <_ReportDesignerContextMenuButton Text="Delete element" Clicked="@(( MouseEventArgs _ ) => DeleteSelectedElementAsync())" />
                    }

                    <_ReportDesignerContextMenuButton Text="Close" Clicked="@(( MouseEventArgs _ ) => CloseContextMenuAsync())" />
                </_ReportDesignerContextMenu>
            </ContextMenu>
        </_ReportDesignerLayout>

        <_ReportDesignerAggregateDialog @ref="aggregateDialogRef"
                                        ResolveSupportedFunctions="@ResolveAggregateDialogSupportedFunctions"
                                        Confirmed="@OnAggregateDialogConfirmedAsync" />
        <_ReportDesignerGroupDialog @ref="groupDialogRef"
                                    Confirmed="@OnGroupDialogConfirmedAsync" />
        <_ReportDesignerDataSourceConnectionDialog @ref="dataSourceConnectionDialogRef"
                                                   Confirmed="@OnDataSourceConnectionConfirmedAsync" />
        <_ReportDesignerFormulaDialog @ref="formulaDialogRef"
                                      Definition="@definition"
                                      Data="@Data"
                                      Section="@GetSelectedFormulaSection( definition )"
                                      Confirmed="@OnFormulaDialogConfirmedAsync" />
    }
    else
    {
        var definition = EffectiveDefinition;

        <Div Class="b-report-viewer"
             Padding="Padding.Is3"
             Background="Background.Light"
             Border="Border.Is1"
             Overflow="Overflow.Auto">
            @if ( CurrentPreviewFormat == ReportPreviewFormat.Pdf )
            {
                <Div Padding="Padding.Is5"
                     Border="Border.Is1"
                     Background="Background.White"
                     TextAlignment="TextAlignment.Center">
                    PDF preview is configured for this report. A PDF renderer can feed Blazorise.PdfViewer in the next implementation step.
                </Div>
            }
            else
            {
                var renderPages = ReportPreviewRenderPlanner.BuildRenderPages( definition, Data );

                <Div Class="b-report-viewer-pages">
                    @foreach ( var renderPage in renderPages )
                    {
                        <_ReportDesignerPage PageKey="@($"{definition.Id}:{renderPage.PageNumber}")"
                                             Width="@definition.Page.Width"
                                             MinHeight="@definition.Page.Height"
                                             Height="@definition.Page.Height">
                            <Div Class="b-report-page-content" Style="@GetPreviewPageContentStyle( definition )">
                                @foreach ( var renderSection in renderPage.HeaderSections )
                                {
                                    var section = renderSection.Section;

                                    <_ReportDesignerSection SectionKey="@($"{section.Id}:{renderPage.PageNumber}:{renderSection.InstanceIndex}:header")"
                                                            Section="@section"
                                                            Height="@GetDesignerSectionHeight( renderSection.SectionIndex, section )"
                                                            BodyWidth="@GetReportPageContentWidth( definition )">
                                        @if ( renderSection.RenderElements )
                                        {
                                            @foreach ( var element in section.Elements.Where( element => ShouldRenderElement( definition, section, element, renderSection.Item ) ) )
                                            {
                                                <_ReportDesignerElement Data="@Data"
                                                                        Definition="@definition"
                                                                        Section="@section"
                                                                        Item="@renderSection.Item"
                                                                        Element="@element"
                                                                        ElementKey="@ReportDefinitionHelper.EnsureElementId( element )" />
                                            }
                                        }
                                    </_ReportDesignerSection>
                                }
                                @foreach ( var renderSection in renderPage.BodySections )
                                {
                                    var section = renderSection.Section;

                                    <_ReportDesignerSection SectionKey="@($"{section.Id}:{renderPage.PageNumber}:{renderSection.InstanceIndex}:body")"
                                                            Section="@section"
                                                            Height="@GetDesignerSectionHeight( renderSection.SectionIndex, section )"
                                                            BodyWidth="@GetReportPageContentWidth( definition )">
                                        @if ( renderSection.RenderElements )
                                        {
                                            @foreach ( var element in section.Elements.Where( element => ShouldRenderElement( definition, section, element, renderSection.Item ) ) )
                                            {
                                                <_ReportDesignerElement Data="@Data"
                                                                        Definition="@definition"
                                                                        Section="@section"
                                                                        Item="@renderSection.Item"
                                                                        Element="@element"
                                                                        ElementKey="@ReportDefinitionHelper.EnsureElementId( element )" />
                                            }
                                        }
                                    </_ReportDesignerSection>
                                }
                            </Div>
                            @if ( renderPage.FooterSections.Count > 0 )
                            {
                                <Div Class="b-report-page-footer-content" Style="@GetPreviewPageFooterStyle( definition, renderPage )">
                                    @foreach ( var renderSection in renderPage.FooterSections )
                                    {
                                        var section = renderSection.Section;

                                        <_ReportDesignerSection SectionKey="@($"{section.Id}:{renderPage.PageNumber}:{renderSection.InstanceIndex}:footer")"
                                                                Section="@section"
                                                                Height="@GetDesignerSectionHeight( renderSection.SectionIndex, section )"
                                                                BodyWidth="@GetReportPageContentWidth( definition )">
                                            @if ( renderSection.RenderElements )
                                            {
                                                @foreach ( var element in section.Elements.Where( element => ShouldRenderElement( definition, section, element, renderSection.Item ) ) )
                                                {
                                                    <_ReportDesignerElement Data="@Data"
                                                                            Definition="@definition"
                                                                            Section="@section"
                                                                            Item="@renderSection.Item"
                                                                            Element="@element"
                                                                            ElementKey="@ReportDefinitionHelper.EnsureElementId( element )" />
                                                }
                                            }
                                        </_ReportDesignerSection>
                                    }
                                </Div>
                            }
                        </_ReportDesignerPage>
                    }
                </Div>
            }
        </Div>
    }
</Div>