@namespace Blazorise.Reporting
@inject System.IServiceProvider ServiceProvider
@using System
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blazorise.Reporting.Internal

<CascadingValue Value="@context" IsFixed="true">
    <Div Display="DisplayNone">
        @ChildContent
    </Div>
</CascadingValue>

<Div Class="b-report" Flex="FlexColumn" Gap="GapIs3">
    <CascadingValue Value="@modalProviderName" Name="ReportModalProviderName" IsFixed="true">
        @if ( ShowToolbar && !( CurrentMode == ReportMode.Design && IsDesignerEnabled ) )
        {
            <Div Class="b-report-toolbar" Flex="FlexAlignItemsCenter" Gap="GapIs2" Padding="PaddingIs3" Border="BorderIs1" Background="BackgroundWhite">
                <CascadingValue @key="@ToolbarStateKey" Value="@toolbarContext" IsFixed="true">
                    @if ( context.ToolbarContent is not null )
                    {
                        @context.ToolbarContent
                    }
                    else
                    {
                        <ReportToolbarGroup>
                            <ReportToolbarItem Command="ReportCommand.Cut" Caption="Cut" />
                            <ReportToolbarItem Command="ReportCommand.Copy" Caption="Copy" />
                            <ReportToolbarItem Command="ReportCommand.Paste" Caption="Paste" />
                            <ReportToolbarItem Command="ReportCommand.Delete" Caption="Delete" />
                        </ReportToolbarGroup>
                        <ReportToolbarGroup>
                            <ReportToolbarItem Command="ReportCommand.Undo" Caption="Undo" />
                            <ReportToolbarItem Command="ReportCommand.Redo" Caption="Redo" />
                            <ReportToolbarItem Command="ReportCommand.Reset" Caption="Reset" />
                        </ReportToolbarGroup>
                        <ReportToolbarGroup>
                            <ReportToolbarItem Command="ReportCommand.ConnectDataSource" Caption="Data sources" />
                            <ReportToolbarItem Command="ReportCommand.DownloadPdf" Caption="Download PDF" />
                        </ReportToolbarGroup>
                        <Div Margin="MarginIsAutoFromStart">
                            <ReportToolbarGroup>
                                @if ( IsDesignerEnabled )
                                {
                                    <ReportToolbarItem Command="ReportCommand.Design" Caption="Design" ShowCaption />
                                }
                                <ReportToolbarItem Command="ReportCommand.Preview" Caption="Preview" ShowCaption />
                            </ReportToolbarGroup>
                        </Div>
                    }
                </CascadingValue>
            </Div>
        }

        @if ( CurrentMode == ReportMode.Design && IsDesignerEnabled )
        {
            var definition = EffectiveDefinition;

            <_ReportDesignerLayout @ref="@designerLayoutRef"
                                   Shortcut="@HandleDesignerShortcut"
                                   ShowToolbar="@ShowToolbar"
                                   ShowRulers="@ShowRulers"
                                   PaneScrollPositions="@designerPaneScrollPositions"
                                   PaneScrollRestoreVersion="@designerPaneScrollRestoreVersion"
                                   SelectedPanelTab="@SelectedDesignerPanelTabName"
                                   SelectedPanelTabChanged="@SelectDesignerPanelTab">
                <Toolbar>
                    @if ( ShowToolbar )
                    {
                        <CascadingValue @key="@ToolbarStateKey" Value="@toolbarContext" IsFixed="true">
                            @if ( context.ToolbarContent is not null )
                            {
                                @context.ToolbarContent
                            }
                            else
                            {
                                <ReportToolbarGroup>
                                    <ReportToolbarPanesMenu />
                                </ReportToolbarGroup>
                                <ReportToolbarGroup>
                                    <ReportToolbarItem Command="ReportCommand.Cut" Caption="Cut" />
                                    <ReportToolbarItem Command="ReportCommand.Copy" Caption="Copy" />
                                    <ReportToolbarItem Command="ReportCommand.Paste" Caption="Paste" />
                                    <ReportToolbarItem Command="ReportCommand.Delete" Caption="Delete" />
                                </ReportToolbarGroup>
                                <ReportToolbarGroup>
                                    <ReportToolbarItem Command="ReportCommand.Undo" Caption="Undo" />
                                    <ReportToolbarItem Command="ReportCommand.Redo" Caption="Redo" />
                                    <ReportToolbarItem Command="ReportCommand.Reset" Caption="Reset" />
                                </ReportToolbarGroup>
                                <ReportToolbarGroup>
                                    <ReportToolbarItem Command="ReportCommand.ConnectDataSource" Caption="Data sources" />
                                    <ReportToolbarItem Command="ReportCommand.DownloadPdf" Caption="Download PDF" />
                                </ReportToolbarGroup>
                                <Div Margin="MarginIsAutoFromStart">
                                    <ReportToolbarGroup>
                                        @if ( IsDesignerEnabled )
                                        {
                                            <ReportToolbarItem Command="ReportCommand.Design" Caption="Design" ShowCaption />
                                        }
                                        <ReportToolbarItem Command="ReportCommand.Preview" Caption="Preview" ShowCaption />
                                    </ReportToolbarGroup>
                                </Div>
                            }
                        </CascadingValue>
                    }
                </Toolbar>
                <ToolboxPanel>
                    <_ReportDesignerToolboxPanel ToolboxNodeDragStarted="@OnToolboxTreeNodeDragStarted"
                                                 NodeDragEnded="@OnDesignerNodeDragEnded" />
                </ToolboxPanel>
                <FieldsExplorerPanel>
                    <_ReportDesignerFieldsExplorerPanel Definition="@definition"
                                                        Data="@Data"
                                                        DataSourceName="@DataSourceName"
                                                        FieldsNodeDragStarted="@OnFieldsTreeNodeDragStarted"
                                                        NodeDragEnded="@OnDesignerNodeDragEnded"
                                                        FormulaFieldConfirmed="@OnFormulaFieldConfirmed"
                                                        FormulaFieldRenamed="@OnFormulaFieldRenamed"
                                                        FormulaFieldDeleted="@OnFormulaFieldDeleted"
                                                        FormulaFieldInserted="@OnFormulaFieldInserted"
                                                        FieldInserted="@OnFieldInserted"
                                                        RunningTotalConfirmed="@OnRunningTotalConfirmed"
                                                        RunningTotalRenamed="@OnRunningTotalRenamed"
                                                        RunningTotalDeleted="@OnRunningTotalDeleted"
                                                        RunningTotalInserted="@OnRunningTotalInserted"
                                                        DataSourceRefreshed="@OnDataSourceRefreshed"
                                                        DataSourceDeleted="@OnDataSourceDeleted" />
                </FieldsExplorerPanel>
                <Surface>
                    <_ReportDesignerRulerLayout Visible="@ShowRulers"
                                                Unit="@definition.Page.MeasurementUnit"
                                                PageWidth="@GetReportPageWidth( definition )"
                                                PageHeight="@GetDesignerRulerHeight( definition )"
                                                WidthOffset="@GetReportPageWidthOffset()"
                                                ShowFineTicks="@ShowFineRulerTicks"
                                                ReportSelected="@OnReportSelected"
                                                Marker="@GetDesignerRulerMarker( definition )">
                        <_ReportDesignerPage @ref="designerPageRef"
                                             PageKey="@definition.Id"
                                             Width="@GetReportPageWidth( definition )"
                                             WidthOffset="@GetReportPageWidthOffset()"
                                             MinHeight="@GetDesignerRulerHeight( definition )"
                                             Height="@GetReportPageHeight( definition )"
                                             MarginLeft="@GetReportPageMarginLeft( definition )"
                                             MarginTop="@GetReportPageMarginTop( definition )"
                                             MarginRight="@GetReportPageMarginRight( definition )"
                                             MarginBottom="@GetReportPageMarginBottom( definition )"
                                             DesignMode
                                             PointerMove="@PreviewPageSelectionBox"
                                             PointerUp="@CompletePageSelectionBox"
                                             PointerCancel="@OnPageSelectionPointerCancel"
                                             ShowSelectionBox="false"
                                             SelectionBoxX="@(designerState.SelectionBox?.X ?? 0)"
                                             SelectionBoxY="@(designerState.SelectionBox?.Y ?? 0)"
                                             SelectionBoxWidth="@(designerState.SelectionBox?.Width ?? 0)"
                                             SelectionBoxHeight="@(designerState.SelectionBox?.Height ?? 0)"
                                             SelectionBoxLeftOffset="@GetSelectionBoxLeftOffset()">
                            @for ( var sectionIndex = 0; sectionIndex < definition.Sections.Count; sectionIndex++ )
                            {
                                var capturedSectionIndex = sectionIndex;
                                var section = definition.Sections[capturedSectionIndex];

                                @foreach ( var sectionItem in ResolveSectionRenderItems( definition, section, designMode: true ) )
                                {
                                    var collapsed = IsSectionCollapsedForRender( section );
                                    var editable = !section.Suppressed;
                                    var railVisible = IsDesignerBandRailVisible();
                                    var sectionHeight = GetSectionRenderHeight( capturedSectionIndex, section );
                                    var dragPreviewVisible = false;

                                    <_ReportDesignerSection SectionKey="@section.Id"
                                                            SectionIndex="@capturedSectionIndex"
                                                            Section="@section"
                                                            Height="@sectionHeight"
                                                            BodyLeft="@GetDesignerSectionBodyLeft( definition )"
                                                            BodyWidth="@GetReportPageContentWidth( definition )"
                                                            DesignMode
                                                            Active="@IsSectionSelected( capturedSectionIndex )"
                                                            Collapsed="@collapsed"
                                                            BandMode="@BandMode"
                                                            RailVisible="@railVisible"
                                                            Editable="@editable"
                                                            ExternalDragActive="@IsExternalDesignerDragActive()"
                                                            AllowBandCollapse="@AllowBandCollapse"
                                                            ShowBandDataSource="@ShowBandDataSource"
                                                            ShowDragPreview="@dragPreviewVisible"
                                                            DragPreviewElementType="@(designerState.DragPreview?.ElementType ?? ReportElementType.Text)"
                                                            DragPreviewText="@designerState.DragPreview?.Text"
                                                            DragPreviewX="@(designerState.DragPreview?.X ?? 0)"
                                                            DragPreviewY="@(designerState.DragPreview?.Y ?? 0)"
                                                            DragPreviewWidth="@(designerState.DragPreview?.Width ?? 0)"
                                                            DragPreviewHeight="@(designerState.DragPreview?.Height ?? 0)"
                                                            RailClicked="@SelectSection"
                                                            ToggleClicked="@ToggleSectionCollapsed"
                                                            RailContextMenu="@OpenSectionContextMenu"
                                                            BodyContextMenu="@OpenSectionBodyContextMenu"
                                                            BodyPointerDown="@(editable ? (Func<int, PointerEventArgs, Task>)BeginSelectionBox : null)"
                                                            DragOver="@(editable ? (Func<int, ElementReference, DragEventArgs, Task>)PreviewDesignerDrag : null)"
                                                            Drop="@(editable ? (Func<int, ElementReference, DragEventArgs, Task>)DropDesignerItem : null)"
                                                            PointerMove="@(editable ? (Func<int, PointerEventArgs, Task>)PreviewElementPointerInteraction : null)"
                                                            PointerUp="@(editable ? (Func<int, PointerEventArgs, Task>)CompleteElementPointerInteraction : null)"
                                                            PointerCancel="@(editable ? (Func<PointerEventArgs, Task>)OnElementPointerCancel : null)"
                                                            BodyClicked="@HandleSectionClick"
                                                            ResizePointerDown="@(editable ? (Func<int, PointerEventArgs, Task>)BeginSectionPointerResize : null)">
                                        @foreach ( var element in section.Elements )
                                        {
                                            var elementKey = ReportDefinitionHelper.EnsureElementId( element );
                                            var capturedElementKey = elementKey;

                                            <_ReportDesignerElement Data="@Data"
                                                                    Definition="@definition"
                                                                    Section="@section"
                                                                    SectionIndex="@capturedSectionIndex"
                                                                    Item="@sectionItem"
                                                                    Element="@element"
                                                                    ElementKey="@capturedElementKey"
                                                                    DesignMode
                                                                    Editable="@editable"
                                                                    Selected="@selectionManager.IsElementSelected( capturedElementKey )"
                                                                    SelectionVersion="@designerState.SelectionVersion"
                                                                    Editing="@IsElementTextEditing( capturedElementKey )"
                                                                    TextEditingActive="@IsElementTextEditing()"
                                                                    ChildEditingElementKey="@designerState.EditingElementKey"
                                                                    SelectedCellKey="@selectionManager.SelectedCellKey"
                                                                    Clicked="@(editable ? (Func<string, MouseEventArgs, Task>)HandleElementClick : null)"
                                                                    DoubleClicked="@(editable ? (Func<string, MouseEventArgs, Task>)HandleElementDoubleClick : null)"
                                                                    ContextMenu="@(editable ? (Func<string, MouseEventArgs, Task>)OpenElementContextMenu : null)"
                                                                    TableCellClicked="@(editable ? (Func<string, MouseEventArgs, Task>)HandleTableCellClick : null)"
                                                                    TableCellContextMenu="@(editable ? (Func<int, string, MouseEventArgs, Task>)OpenTableCellContextMenu : null)"
                                                                    IsChildElementSelected="@selectionManager.IsElementSelected"
                                                                    ChildElementClicked="@(editable ? (Func<string, MouseEventArgs, Task>)HandleElementClick : null)"
                                                                    ChildElementDoubleClicked="@(editable ? (Func<string, MouseEventArgs, Task>)HandleElementDoubleClick : null)"
                                                                    ChildElementTextEditCommitted="@(editable ? (Func<string, string, Task>)CommitElementTextEdit : null)"
                                                                    ChildElementTextEditCancelled="@(editable ? (Func<string, Task>)CancelElementTextEdit : null)"
                                                                    TableResizeStarted="@(editable ? (Func<string, string, ReportTableResizeKind, int, PointerEventArgs, Task>)BeginTablePointerResize : null)"
                                                                    TextEditCommitted="@(editable ? (Func<string, string, Task>)CommitElementTextEdit : null)"
                                                                    TextEditCancelled="@(editable ? (Func<string, Task>)CancelElementTextEdit : null)"
                                                                    PointerDown="@(editable ? (Func<string, PointerEventArgs, Task>)BeginElementPointerDrag : null)"
                                                                    ResizeStarted="@((Func<string, int, PointerEventArgs, Task>)BeginElementPointerResize)" />
                                        }
                                    </_ReportDesignerSection>
                                }
                            }
                        </_ReportDesignerPage>
                    </_ReportDesignerRulerLayout>
                </Surface>
                <PropertiesPanel>
                    <_ReportDesignerPropertiesPanel Definition="@definition"
                                                    Data="@Data"
                                                    ReportSelected="@selectionManager.ReportSelected"
                                                    SelectedSection="@GetSelectedPropertiesSection( definition )"
                                                    FormulaSection="@GetSelectedFormulaSection( definition )"
                                                    SelectedElement="@selectionManager.FindSelectedElement( definition )"
                                                    SelectedCell="@selectionManager.FindSelectedCell( definition )"
                                                    SelectedElementSuppressed="@selectionManager.IsSelectedElementSuppressed( definition )"
                                                    SnapToGrid="@designerState.SnapToGrid"
                                                    SnapToGridChanged="@OnSnapToGridChanged"
                                                    ShowRulers="@ShowRulers"
                                                    ShowRulersChanged="@OnShowRulersChanged"
                                                    ShowFineRulerTicks="@ShowFineRulerTicks"
                                                    ShowFineRulerTicksChanged="@OnShowFineRulerTicksChanged"
                                                    BandMode="@BandMode"
                                                    BandModeChanged="@OnBandModeChanged"
                                                    UpdateReportPage="@UpdateReportPage"
                                                    UpdateSelectedSection="@UpdateSelectedSection"
                                                    UpdateSelectedSectionSuppression="@UpdateSelectedSectionSuppression"
                                                    GetMinimumSectionHeight="@GetMinimumSectionHeight"
                                                    CanInsertSection="@CanSelectedSectionInsertSection( definition )"
                                                    InsertSection="@InsertSection"
                                                    CanInsertGroup="@CanSelectedSectionInsertGroup( definition )"
                                                    InsertGroup="@OpenSelectedDetailGroupDialog"
                                                    DeleteSelectedSection="@DeleteSelectedSection"
                                                    UpdateSelectedElement="@UpdateSelectedElementsFromProperties"
                                                    MoveSelectedElement="@MoveSelectedElement"
                                                    UploadImage="@UploadImage"
                                                    ImageAccept="@ImageAccept"
                                                    ImageMaxSize="@ImageMaxSize"
                                                    MaxUploadImageChunkSize="@MaxUploadImageChunkSize"
                                                    ImageUploadSegmentFetchTimeout="@ImageUploadSegmentFetchTimeout"
                                                    DisableImageUploadProgressReport="@DisableImageUploadProgressReport"
                                                    ImageUploadChanged="@ImageUploadChanged"
                                                    ImageUploadStarted="@ImageUploadStarted"
                                                    ImageUploadEnded="@ImageUploadEnded"
                                                    ImageUploadWritten="@ImageUploadWritten"
                                                    ImageUploadProgressed="@ImageUploadProgressed"
                                                    ImageUpload="@ImageUpload" />
                </PropertiesPanel>
                <ReportExplorerPanel>
                    <_ReportDesignerReportExplorer Definition="@definition"
                                                   ReportSelected="@selectionManager.ReportSelected"
                                                   SelectedSectionIndex="@selectionManager.SelectedSectionIndex"
                                                   SelectedElementKey="@selectionManager.SelectedElementKey"
                                                   SelectedCellKey="@selectionManager.SelectedCellKey"
                                                   IsElementSelected="@selectionManager.IsElementSelected"
                                                   NodeClicked="@OnReportTreeNodeClicked"
                                                   NodeContextMenu="@OnReportTreeNodeContextMenu" />
                </ReportExplorerPanel>
                <ContextMenu>
                    <_ReportDesignerContextMenuHost @ref="contextMenuHost"
                                                    CutElement="@OnContextMenuCutElement"
                                                    CopyElement="@OnContextMenuCopyElement"
                                                    PasteElement="@OnContextMenuPasteElement"
                                                    SelectAllSectionElements="@OnContextMenuSelectAllSectionElements"
                                                    ShowProperties="@OnContextMenuShowProperties"
                                                    InsertSectionBefore="@OnContextMenuInsertSectionBefore"
                                                    InsertSectionAfter="@OnContextMenuInsertSectionAfter"
                                                    InsertGroup="@OnContextMenuInsertGroup"
                                                    ToggleSectionSuppression="@OnContextMenuToggleSectionSuppression"
                                                    ToggleSectionKeepTogether="@OnContextMenuToggleSectionKeepTogether"
                                                    ToggleSectionNewPageBefore="@OnContextMenuToggleSectionNewPageBefore"
                                                    ToggleSectionNewPageAfter="@OnContextMenuToggleSectionNewPageAfter"
                                                    DeleteSection="@OnContextMenuDeleteSection"
                                                    AlignTops="@OnContextMenuAlignTops"
                                                    AlignMiddles="@OnContextMenuAlignMiddles"
                                                    AlignBottoms="@OnContextMenuAlignBottoms"
                                                    AlignBaseline="@OnContextMenuAlignBaseline"
                                                    AlignLefts="@OnContextMenuAlignLefts"
                                                    AlignCenters="@OnContextMenuAlignCenters"
                                                    AlignRights="@OnContextMenuAlignRights"
                                                    AlignToGrid="@OnContextMenuAlignToGrid"
                                                    SizeSameWidth="@OnContextMenuSizeSameWidth"
                                                    SizeSameHeight="@OnContextMenuSizeSameHeight"
                                                    SizeSameSize="@OnContextMenuSizeSameSize"
                                                    BringToFront="@OnContextMenuBringToFront"
                                                    SendToBack="@OnContextMenuSendToBack"
                                                    MoveForward="@OnContextMenuMoveForward"
                                                    MoveBackward="@OnContextMenuMoveBackward"
                                                    InsertAggregate="@OnContextMenuInsertAggregate"
                                                    EditText="@OnContextMenuEditText"
                                                    EditFormula="@OnContextMenuEditFormula"
                                                    EditRunningTotal="@OnContextMenuEditRunningTotal"
                                                    DeleteElement="@OnContextMenuDeleteElement"
                                                    ToggleElementCanGrow="@OnContextMenuToggleElementCanGrow"
                                                    ToggleElementSuppression="@OnContextMenuToggleElementSuppression"
                                                    MergeCellRight="@OnContextMenuMergeCellRight"
                                                    MergeCellDown="@OnContextMenuMergeCellDown"
                                                    UnmergeCell="@OnContextMenuUnmergeCell"
                                                    InsertTableRowAbove="@OnContextMenuInsertTableRowAbove"
                                                    InsertTableRowBelow="@OnContextMenuInsertTableRowBelow"
                                                    InsertTableColumnLeft="@OnContextMenuInsertTableColumnLeft"
                                                    InsertTableColumnRight="@OnContextMenuInsertTableColumnRight"
                                                    InsertTableCell="@OnContextMenuInsertTableCell"
                                                    DeleteTableRow="@OnContextMenuDeleteTableRow"
                                                    DeleteTableColumn="@OnContextMenuDeleteTableColumn"
                                                    DeleteTableCell="@OnContextMenuDeleteTableCell"
                                                    Close="@OnContextMenuClose" />
                </ContextMenu>
            </_ReportDesignerLayout>

            <Div Display="DisplayNone">
                <_ReportDesignerAggregateDialog @ref="aggregateDialogRef"
                                                ResolveSupportedFunctions="@ResolveAggregateDialogSupportedFunctions"
                                                Confirmed="@OnAggregateDialogConfirmed" />
                <_ReportDesignerRunningTotalDialog @ref="runningTotalDialogRef"
                                                   Definition="@definition"
                                                   Data="@Data"
                                                   Confirmed="@OnRunningTotalConfirmed" />
                <_ReportDesignerGroupDialog @ref="groupDialogRef"
                                            Confirmed="@OnGroupDialogConfirmed" />
                <_ReportDesignerDataSourceConnectionDialog @ref="dataSourceConnectionDialogRef"
                                                           Confirmed="@OnDataSourceConnectionConfirmed" />
                <_ReportDesignerFormulaDialog @ref="formulaDialogRef"
                                              Definition="@definition"
                                              Data="@Data"
                                              Section="@GetSelectedFormulaSection( definition )"
                                              Confirmed="@OnFormulaDialogConfirmed" />
            </Div>
        }
        else
        {
            var definition = EffectiveDefinition;

            <Div Class="b-report-viewer"
                 Padding="PaddingIs3"
                 Background="BackgroundLight"
                 Border="BorderIs1"
                 Overflow="OverflowAuto">
                @if ( CurrentPreviewFormat == ReportPreviewFormat.Pdf )
                {
                    <Div Padding="PaddingIs5"
                         Border="BorderIs1"
                         Background="BackgroundWhite"
                         TextAlignment="TextAlignmentCenter">
                        <Div Margin="MarginIs3FromBottom">
                            PDF preview is available for download.
                        </Div>
                        @if ( context.ViewerOptions.AllowDownload )
                        {
                            <Button Color="Color.Primary" Clicked="@DownloadPdf">
                                <Icon Name="IconName.FileDownload" Margin="MarginIs2FromEnd" />
                                Download PDF
                            </Button>
                        }
                    </Div>
                }
                else
                {
                    var renderPages = ReportPreviewRenderPlanner.BuildRenderPages( definition, Data );

                    <Div Class="b-report-viewer-pages">
                        @foreach ( var renderPage in renderPages )
                        {
                            var renderPageKey = $"{definition.Id}:{renderPage.PageNumber}";
                            var previewPageContentStyle = GetPreviewPageContentStyle( definition );

                            <_ReportDesignerPage PageKey="@renderPageKey"
                                                 Width="@definition.Page.Width"
                                                 MinHeight="@definition.Page.Height"
                                                 Height="@definition.Page.Height">
                                <Div Class="b-report-page-content" Style="@previewPageContentStyle">
                                    @foreach ( var renderSection in renderPage.HeaderSections )
                                    {
                                        var section = renderSection.Section;
                                        var sectionKey = $"{section.Id}:{renderPage.PageNumber}:{renderSection.InstanceIndex}:header";

                                        <_ReportDesignerSection SectionKey="@sectionKey"
                                                                Section="@section"
                                                                Height="@section.Height"
                                                                BodyWidth="@GetReportPageContentWidth( definition )">
                                            @if ( renderSection.RenderElements )
                                            {
                                                @foreach ( var element in section.Elements )
                                                {
                                                    if ( !ShouldRenderElement( definition, section, element, renderSection.Item ) )
                                                        continue;

                                                    <_ReportDesignerElement Data="@Data"
                                                                            Definition="@definition"
                                                                            Section="@section"
                                                                            Item="@renderSection.Item"
                                                                            RunningTotals="@renderSection.RunningTotals"
                                                                            Element="@element"
                                                                            ElementKey="@ReportDefinitionHelper.EnsureElementId( element )" />
                                                }
                                            }
                                        </_ReportDesignerSection>
                                    }
                                    @foreach ( var renderSection in renderPage.BodySections )
                                    {
                                        var section = renderSection.Section;
                                        var sectionKey = $"{section.Id}:{renderPage.PageNumber}:{renderSection.InstanceIndex}:body";

                                        <_ReportDesignerSection SectionKey="@sectionKey"
                                                                Section="@section"
                                                                Height="@section.Height"
                                                                BodyWidth="@GetReportPageContentWidth( definition )">
                                            @if ( renderSection.RenderElements )
                                            {
                                                @foreach ( var element in section.Elements )
                                                {
                                                    if ( !ShouldRenderElement( definition, section, element, renderSection.Item ) )
                                                        continue;

                                                    <_ReportDesignerElement Data="@Data"
                                                                            Definition="@definition"
                                                                            Section="@section"
                                                                            Item="@renderSection.Item"
                                                                            RunningTotals="@renderSection.RunningTotals"
                                                                            Element="@element"
                                                                            ElementKey="@ReportDefinitionHelper.EnsureElementId( element )" />
                                                }
                                            }
                                        </_ReportDesignerSection>
                                    }
                                </Div>
                                @if ( renderPage.FooterSections.Count > 0 )
                                {
                                    var previewPageFooterStyle = GetPreviewPageFooterStyle( definition, renderPage );

                                    <Div Class="b-report-page-footer-content" Style="@previewPageFooterStyle">
                                        @foreach ( var renderSection in renderPage.FooterSections )
                                        {
                                            var section = renderSection.Section;
                                            var sectionKey = $"{section.Id}:{renderPage.PageNumber}:{renderSection.InstanceIndex}:footer";

                                            <_ReportDesignerSection SectionKey="@sectionKey"
                                                                    Section="@section"
                                                                    Height="@section.Height"
                                                                    BodyWidth="@GetReportPageContentWidth( definition )">
                                                @if ( renderSection.RenderElements )
                                                {
                                                    @foreach ( var element in section.Elements )
                                                    {
                                                        if ( !ShouldRenderElement( definition, section, element, renderSection.Item ) )
                                                            continue;

                                                        <_ReportDesignerElement Data="@Data"
                                                                                Definition="@definition"
                                                                                Section="@section"
                                                                                Item="@renderSection.Item"
                                                                                RunningTotals="@renderSection.RunningTotals"
                                                                                Element="@element"
                                                                                ElementKey="@ReportDefinitionHelper.EnsureElementId( element )" />
                                                    }
                                                }
                                            </_ReportDesignerSection>
                                        }
                                    </Div>
                                }
                            </_ReportDesignerPage>
                        }
                    </Div>
                }
            </Div>
        }
    </CascadingValue>

    <_ReportModalProvider ProviderName="@modalProviderName" />
</Div>