@using System.Text
@using System.IO
@using Blazorise.Docs.Models

<Paragraph>
    <Div Class="blog-page-section-source">
        <Div Class="blog-page-section-source-toolbar">
            <Tooltip Text="@(ShowCode ? "Hide code example" : "Show code example")" Inline>
                <Button Clicked="@OnToggleCode">
                    <Icon Name="IconName.Code" />
                </Button>
            </Tooltip>
            <Tooltip Text="Copy code" Inline>
                <Button Clicked="@OnCopyCode">
                    <Icon Name="@("fas fa-copy")" />
                </Button>
            </Tooltip>
        </Div>
        <Div Class="@SourceCodeClassNames">
            @if ( ChildContent != null )
            {
                @ChildContent
            }
            else
            {
                @CodeComponent( CurrentCode )
            }
        </Div>
    </Div>
</Paragraph>

@code {
    protected override void OnInitialized() => CurrentCode = Code;

    private Task OnToggleCode()
    {
        ShowCode = !ShowCode;
        return Task.CompletedTask;
    }

    private async Task OnCopyCode()
    {
        await JSRuntime.InvokeVoidAsync( "blazoriseDocs.code.copyToClipboard", CurrentCode );
        await NotificationService.Info( $"Copied code example!" );
    }

    private RenderFragment CodeComponent( string code ) => builder =>
    {
        try
        {
            var key = typeof( DocsPageSectionSource ).Assembly
                .GetManifestResourceNames()
                .FirstOrDefault( x => x.Contains( $".{code}Code.html" ) );

            if ( key != null )
            {
                using var stream = typeof( DocsPageSectionSource ).Assembly.GetManifestResourceStream( key );
                using var reader = new StreamReader( stream );
                builder.AddMarkupContent( 0, reader.ReadToEnd() );
            }
        }
        catch { }
    };

    private string SourceCodeClassNames
        => $"blog-page-section-source-code{( ShowCode ? " blog-page-section-source-code-show" : " blog-page-section-source-code-hide" )}";

    private string CurrentCode { get; set; }

    [Inject] public INotificationService NotificationService { get; set; } = default!;

    [Inject] public IJSRuntime JSRuntime { get; set; } = default!;

    [Parameter] public string Code { get; set; } = string.Empty;

    [Parameter] public bool ShowCode { get; set; } = true;

    [Parameter] public RenderFragment ChildContent { get; set; }
}
