<Div Position="Position.Relative" Height="Height.Is100">
    <Div Position="Position.Absolute.Top.Is0.End.Is0">
        <Tooltip Text="@(ShowCode ? "Hide code example" : "Show code example")" Inline>
            <Button TextColor="TextColor.Secondary" Clicked="@OnToggleCode">
                <Icon Name="IconName.Code" />
            </Button>
        </Tooltip>
        <Tooltip Text="Copy code" Inline>
            <Button TextColor="TextColor.Secondary" Clicked="@OnCopyCode">
                <Icon Name="IconName.Copy" />
            </Button>
        </Tooltip>
    </Div>
    <Div Height="Height.Is100" Display="@SourceCodeDisplay">
        @if ( HasMultipleCodeSources )
        {
            <Tabs @bind-SelectedTab="@CurrentCode" Pills>
                <Items>
                    @foreach ( DocsCodeSource source in CodeSources )
                    {
                        <Tab Name="@source.Code">
                            @source.Title
                        </Tab>
                    }
                </Items>
                <Content>
                    @foreach ( DocsCodeSource source in CodeSources )
                    {
                        <TabPanel Name="@source.Code">
                            @CodeComponent( source.Code )
                        </TabPanel>
                    }
                </Content>
            </Tabs>
        }
        else
        {
            @CodeComponent( CurrentCode )
        }
    </Div>
</Div>