@if ( !string.IsNullOrWhiteSpace( FrameUrl ) )
{
    <Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Gap="Gap.Is3" Padding="Padding.Is3" Border="Border.Is0.OnBottom.Is1.OnTop.Is1.RoundedTop.OnStart.Is1.OnEnd">
        <Tooltip Text="Desktop View" Inline>
            <Button Clicked="@OnDesktopViewClicked">
                <Icon Name="IconName.Laptop" />
            </Button>
        </Tooltip>
        <Tooltip Text="Tablet View" Inline>
            <Button Clicked="@OnTabletViewClicked">
                <Icon Name="IconName.Tablet" />
            </Button>
        </Tooltip>
        <Tooltip Text="Mobile View" Inline>
            <Button Clicked="@OnMobileViewClicked">
                <Icon Name="IconName.Smartphone" />
            </Button>
        </Tooltip>
    </Div>
}
<Div Padding="@ContentPadding" Display="Display.Flex" Flex="Flex.JustifyContent.Start" Position="Position.Relative" Border="@ContentBorder">
    <Div Width="@ContentWidth" Position="Position.Relative">
        @if ( FrameView == "desktop" )
        {
            @ChildContent
        }
        else
        {
            <Div Height="Height.Px(500)" Background="Background.Light" Flex="Flex.JustifyContent.Center" Width="Width.Is100">
                <Div Height="Height.Is100" Width="@FrameWidth">
                    <iframe src="@FrameUrl" width="100%" height="100%"></iframe>
                </Div>
            </Div>
        }
    </Div>
</Div>

@if ( !string.IsNullOrWhiteSpace( Code ) )
{
    <DocsPageSectionSource Code="@Code" CodeTitle="@CodeTitle" AdditionalCodes="@AdditionalCodes" ShowCode="@ShowCode" />
}