@using Blazorise.Docs.Services
<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
            <Image Display="Display.Block" Margin="Margin.Is2.FromBottom" Source="/img/logos/blazorise-small.svg" Text="Blazorise logo" Style="width: 42px; height: 42px;" />
            <Div Flex="Flex.Column" Margin="Margin.Is3.FromTop">
                <Div Flex="Flex.AlignItems.Center">
                    <Icon Name="IconName.Sun" Margin="Margin.Is2.FromEnd" />
                    <Paragraph Margin="Margin.Is2.OnY">Blazorise</Paragraph>
                </Div>
                <Div Flex="Flex.AlignItems.Center">
                    <Icon Name="IconName.Building" Margin="Margin.Is2.FromEnd" />
                    <Paragraph Margin="Margin.Is2.OnY">Megabit Ltd</Paragraph>
                </Div>
                <Div Flex="Flex.AlignItems.Center">
                    <Icon Name="IconName.LocationArrow" Margin="Margin.Is2.FromEnd" />
                    <Paragraph Margin="Margin.Is2.OnY">Croatia</Paragraph>
                </Div>
            </Div>
            <Div Flex="Flex._" Margin="Margin.Is3.FromTop">
                <Anchor TextColor="@IconTextColor" Margin="Margin.Is3.Is0.FromStart" To="https://github.com/Megabit/Blazorise" Title="GitHub" Target="Target.Blank" Display="Display.InlineBlock">
                    <Icon Name="@("fab fa-github")" IconSize="IconSize.Large" />
                </Anchor>
                <Anchor TextColor="@IconTextColor" Margin="Margin.Is3" To="https://twitter.com/Blazorise" Title="Twitter" Target="Target.Blank" Display="Display.InlineBlock">
                    <Icon Name="@("fab fa-twitter")" IconSize="IconSize.Large" />
                </Anchor>
                <Anchor TextColor="@IconTextColor" Margin="Margin.Is3" To="https://www.reddit.com/r/Blazorise/" Title="Reddit" Target="Target.Blank" Display="Display.InlineBlock">
                    <Icon Name="@("fab fa-reddit")" IconSize="IconSize.Large" />
                </Anchor>
            </Div>
            <Paragraph Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Span>
                    Copyright © 2018-@DateTime.Today.Year Megabit
                </Span>
            </Paragraph>
            <Paragraph Margin="Margin.Is3.FromBottom">
                Powered by <Blazorise.Link TextColor="TextColor.Primary" To="https://blazorise.com/" Title="Blazorise">Blazorise</Blazorise.Link>.
            </Paragraph>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
            <Heading Size="HeadingSize.Is5">Product</Heading>
            <UnorderedList Unstyled>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="community" Title="Community">Community</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="commercial" Title="Commercial">Commercial</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="features" Title="Features">Features</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="pricing" Title="Pricing">Pricing</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="custom-work" Title="Custom work">Custom work</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="customers" Title="Success stories">Success stories</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="resellers" Title="resellers">Resellers</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="credits" Title="Credits">Credits</Anchor>
                </UnorderedListItem>
            </UnorderedList>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
            <Heading Size="HeadingSize.Is5">Company</Heading>
            <UnorderedList Unstyled>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="about" Title="About">About</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="news" Title="News">News</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="privacy" Title="Privacy">Privacy</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="terms" Title="Terms">Terms</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="help-us-improve" Title="Help us improve">Help us Improve</Anchor>
                </UnorderedListItem>
            </UnorderedList>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
            <Heading Size="HeadingSize.Is5">Resources</Heading>
            <UnorderedList Unstyled>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="https://bootstrapdemo.blazorise.com/" Title="Online Demos">Online Demos</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="docs" Title="Documentation">Documentation</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="https://github.com/Megabit/Blazorise/issues" Title="Cummunity">Community</Anchor>
                </UnorderedListItem>
                <UnorderedListItem Margin="Margin.Is1.FromBottom">
                    <Anchor TextColor="TextColor.Primary" To="docs/faq" Title="FAQ">FAQ</Anchor>
                </UnorderedListItem>
            </UnorderedList>
        </Column>
    </Row>
</Container>
@code{
    [Inject] private ThemeService ThemeService { get; set; }

    private TextColor IconTextColor => ThemeService.ShouldDark ? TextColor.Light : TextColor.Dark;
    
    protected override void OnInitialized()
    {
        ThemeService.ThemeChanged += OnThemeChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        ThemeService.ThemeChanged -= OnThemeChanged;
    }

    void OnThemeChanged( object sender, string theme )
    {
        InvokeAsync(StateHasChanged);
    }
}
