@using Blazorise.Docs.Services
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Logging
@using System.Text.Json
<Card Border="Border.Rounded" Background="Background.Primary.Subtle" TextColor="TextColor.Primary.Emphasis" Shadow="Shadow.Small">
    <CardBody Padding="Padding.Is5">
        <Row>
            <Column ColumnSize="ColumnSize.Is12.Is5.OnWidescreen">
                @if ( ShowHeading )
                {
                    <Heading Size="HeadingSize.Is3">Subscribe to the Newsletter</Heading>
                }
                <Paragraph Margin="Margin.Is0.FromBottom">
                    Get information about happenings in Blazorise like new releases, free sources, posts, and more.
                </Paragraph>
            </Column>
            <Column ColumnSize="ColumnSize.Is12.Is7.OnWidescreen">
                <Validations @ref="@validationsRef" Mode="ValidationMode.Manual" ValidateOnLoad>
                    @if ( emailSent )
                    {
                        <Alert Color="Color.Success" Visible>
                            <AlertDescription>
                                Thank you for subscribing.
                            </AlertDescription>
                        </Alert>
                    }
                    else
                    {
                        <Row Margin="Margin.Is3.FromBottom">
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Validation Validator="ValidationRule.IsEmail">
                                    <Field>
                                        <TextInput Role="TextRole.Email" Placeholder="Email Address" @bind-Value="@email" aria-label="Subscription email">
                                            <Feedback>
                                                <ValidationError Style="font-size: .85rem;" TextColor="TextColor.Danger">Please complete this required field.</ValidationError>
                                            </Feedback>
                                        </TextInput>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <Button Color="Color.Primary" Clicked="@OnSubscribeClicked" Width="Width.Is100">Subscribe</Button>
                            </Column>
                        </Row>
                        <Validation Validator="ValidationRule.IsChecked">
                            <Field Margin="Margin.Is1.FromBottom">
                                <Check @bind-Value="@termsAgreed">
                                    <ChildContent>
                                        I agree to the <Anchor To="terms">Terms &amp; Conditions</Anchor> and <Anchor To="privacy">Privacy Policy</Anchor>.
                                    </ChildContent>
                                    <Feedback>
                                        <ValidationError Style="font-size: .85rem;" TextColor="TextColor.Danger">You must agree to our terms and privacy policy.</ValidationError>
                                    </Feedback>
                                </Check>
                            </Field>
                        </Validation>
                        <Field Margin="Margin.Is0.FromBottom">
                            <Check TValue="bool" @bind-Value="@marketingAgreed">
                                I would like to receive marketing materials like product deals &amp; special offers.
                            </Check>
                        </Field>
                    }
                </Validations>
            </Column>
        </Row>
    </CardBody>
</Card>

@code {
    Validations validationsRef;
    string email;
    bool termsAgreed;
    bool marketingAgreed;
    bool emailSent;

    [Parameter] public bool ShowHeading { get; set; } = true;

    [Parameter] public bool Small { get; set; }

    [Inject] public ILogger<NewsletterWidget> Logger { get; set; }

    [Inject] public IBrevoApiClient BrevoApiClient { get; set; }

    class CustomFieldsResult
    {
        public List<CustomField> custom_fields { get; set; }

        public class CustomField
        {
            public string id { get; set; }
            public string name { get; set; }
            public string type { get; set; }
        }
    }

    async Task OnSubscribeClicked()
    {
        emailSent = false;

        try
        {
            if ( await validationsRef.ValidateAll() )
            {
                var response = await BrevoApiClient.CreateContactAsync( email, null, [2] );

                if ( response != null )
                {
                    email = null;
                    emailSent = true;
                }

                await validationsRef.ClearAll();
            }
        }
        catch ( Exception exc )
        {
            Logger.LogError( exc.Message );
        }
    }
}