@typeparam TNode
@inherits BaseComponent
<div class="@NodeTitleClassNames" style="@NodeTitleStyleNames">
    @if ( ParentTreeViewState.SelectionMode == TreeViewSelectionMode.Multiple )
    {
        <div class="@NodeCheckClassNames" style="@NodeCheckStyleNames">
            <Check TValue="bool" Value="@Checked" ValueChanged="@OnCheckedChanged" Disabled="@NodeState.Disabled" />
        </div>
    }
    <span class="@ClassNames" style="@NodeContentStyleNames" @onclick="@OnClick">
        @ChildContent
    </span>
</div>