@typeparam TNode
@inherits BaseComponent
<div class="@NodeTitleClassNames" style="@NodeTitleStyleNames"
     @ondragover="@(( e ) => ParentTreeView.DragDrop.OnDragOver( NodeState, e ))"
     @ondragover:preventDefault="@ParentTreeView.DragDrop.CanDropOnNode( NodeState )"
     @ondrop="@(( e ) => ParentTreeView.DragDrop.OnDrop( NodeState, e ))"
     @ondrop:preventDefault="@ParentTreeView.DragDrop.CanDropOnNode( NodeState )">
    @if ( ParentTreeViewState.SelectionMode == TreeViewSelectionMode.Multiple )
    {
        <div class="@NodeCheckClassNames" style="@NodeCheckStyleNames">
            <Check TValue="bool" Value="@Checked" ValueChanged="@OnCheckedChanged" Disabled="@NodeState.Disabled" />
        </div>
    }
    <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@NodeContentStyleNames" @onclick="@OnClick"
          draggable="@(ParentTreeView.DragDrop.IsNodeDraggable( NodeState ) ? "true" : null)"
          @ondragstart="@(() => ParentTreeView.DragDrop.OnDragStart( NodeState ))"
          @ondragend="@ParentTreeView.DragDrop.OnDragEnd">
        @ChildContent
    </span>
</div>