@typeparam TNode
@inherits BaseComponent
<div class="@NodeTitleClassNames" style="@NodeTitleStyleNames">
    @if ( ParentTreeViewState.SelectionMode == TreeViewSelectionMode.Multiple )
    {
        <div class="@NodeCheckClassNames" style="@NodeCheckStyleNames">
            <Check TValue="bool" Value="@Checked" ValueChanged="@OnCheckedChanged" Disabled="@NodeState.Disabled" />
        </div>
    }
    <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@NodeContentStyleNames" @onclick="@OnClick"
          draggable="@(Draggable ? "true" : null)"
          @ondragstart="@OnDragStart"
          @ondragstart:preventDefault="@DragStartPreventDefault"
          @ondragover="@OnDragOver"
          @ondragover:preventDefault="@DragOverPreventDefault"
          @ondrop="@OnDrop"
          @ondrop:preventDefault="@DropPreventDefault"
          @ondragend="@OnDragEnd">
        @ChildContent
    </span>
</div>
