@typeparam TNode
@inherits BaseComponent
<div class="@NodeTitleClassNames" style="@NodeTitleStyleNames">
    @if ( ParentTreeViewState.SelectionMode == TreeViewSelectionMode.Multiple )
    {
        <div class="@NodeCheckClassNames" style="@NodeCheckStyleNames">
            <Check TValue="bool" Value="@Checked" ValueChanged="@OnCheckedChanged" Disabled="@NodeState.Disabled" />
        </div>
    }
    <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@NodeContentStyleNames" @onclick="@OnClick"
          draggable="@(ParentTreeView.Draggable ? "true" : null)"
          @ondragstart="@((e) => ParentTreeView.DragDropHelper.OnDragStart( NodeState, e))"
          @ondragstart:preventDefault="@ParentTreeView.DragDropHelper.IsNodeDraggable( NodeState )"
          @ondragover="@((e) => ParentTreeView.DragDropHelper.OnDragOver( NodeState, e ))"
          @ondragover:preventDefault="@ParentTreeView.DragDropHelper.IsDropAllowed( NodeState )"
          @ondrop="@((e) => ParentTreeView.DragDropHelper.OnDrop(NodeState, e))"
          @ondrop:preventDefault="@ParentTreeView.DragDropHelper.IsDropAllowed(NodeState)"
          @ondragend="@((e) => ParentTreeView.DragDropHelper.OnDragEnd(NodeState, e))">
        @ChildContent
    </span>
</div>
