@inherits Blazorise.Icon
@inject AntDesignIconProvider AntDesignIconProvider
@using Microsoft.AspNetCore.Components

<span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@OnClickHandler" @onmouseover="@OnMouseOverHandler" @onmouseout="@OnMouseOutHandler" @attributes="@Attributes">
    @((MarkupString)AntDesignIconProvider.GetSvg( Name, GetIconStyle() ))
</span>