@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed="true">
    <li id="@ElementId" class="@ClassNames" style="@StyleNames" aria-current="@(Active ? "page" : null)" @attributes="@Attributes">
        @ChildContent
    </li>
</CascadingValue>