@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed="true">
    <nav aria-label="breadcrumb">
        <ol id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </ol>
    </nav>
</CascadingValue>