@typeparam TItem
@inherits _BaseDataGridRow<TItem>
@{
    var styling = new DataGridRowStyling();
    var selectedStyling = new DataGridRowStyling { Color = Blazorise.Color.Primary };

    @if ( IsSelected )
    {
        ParentDataGrid.SelectedRowStyling?.Invoke( Item, selectedStyling );
    }
    else
    {
        ParentDataGrid.RowStyling?.Invoke( Item, styling );
    }

    <TableRow @ref="TableRowRef"
              Clicked="@HandleClick"
              MouseOver="BindMouseOver() ? HandleMouseOver : null"
              MouseLeave="BindMouseLeave() ? HandleMouseLeave : null"
              DoubleClicked="@HandleDoubleClick"
              ContextMenu="@HandleContextMenu"
              ContextMenuPreventDefault="@ParentDataGrid.RowContextMenuPreventDefault"
              Background="@GetBackground(styling, selectedStyling)"
              Color="@GetColor(styling, selectedStyling)"
              Class="@GetClass(styling, selectedStyling)"
              Style="@GetStyle(styling, selectedStyling)"
              HoverCursor="@GetHoverCursor()"
              @onkeydown="@(ParentDataGrid.Navigable ? HandleKeyDown : null)"
              tabindex="@(ParentDataGrid.Navigable ? 0 : null)">

        @ParentDataGrid.groupIndentationFragment

        @foreach ( var column in Columns )
        {
            @if ( column.ColumnType == DataGridColumnType.Command )
            {
                @if ( ParentDataGrid.IsCommandVisible )
                {
                    <_DataGridRowCommand TItem="TItem" Item="@Item" EditState="DataGridEditState.None" Column="column" />
                }
            }
            else if ( column.ColumnType == DataGridColumnType.MultiSelect )
            {
                @if ( ParentDataGrid.MultiSelect )
                {
                    <_DataGridRowMultiSelect @ref="multiSelect" TItem="TItem" Item="Item" Checked="@IsSelected" CheckedClicked="@OnMultiSelectCheckClicked" Column="column" />
                }
            }
            else
            {
                <TableRowCell @onclick:stopPropagation="column.PreventRowClick" Class="@column.CellClass?.Invoke(Item)" Style="@column.BuildCellStyle(Item)" TextAlignment="@column.TextAlignment" VerticalAlignment="@column.VerticalAlignment" Display="@column.Display" Flex="@column.Flex" Gap="@column.Gap">
                    @if ( column.DisplayTemplate != null )
                    {
                        @column.DisplayTemplate( Item )
                    }
                    else if ( ParentDataGrid.EmptyCellTemplate != null && column.GetValue( Item ) == null )
                    {
                        @ParentDataGrid.EmptyCellTemplate( Item )
                    }
                    else
                    {
                        var displayValue = column.FormatDisplayValue( Item );

                        @if ( column.ColumnType == DataGridColumnType.Check )
                        {
                            <Check TValue="bool" ReadOnly Disabled Checked="@(displayValue == bool.TrueString)" />
                        }
                        else
                        {
                            @displayValue
                        }
                    }
                </TableRowCell>
            }
        }
        @if ( ParentDataGrid.RowOverlayTemplate is not null && mouseIsOver )
        {
            var rowOverlayPosition = ParentDataGrid.RowOverlayPosition == DataGridRowOverlayPosition.Start
            ? Position.Absolute.Start
            : Position.Absolute.End;

            <Div Class="b-table-row-overlay" Background="@ParentDataGrid.RowOverlayBackground" Position="@rowOverlayPosition" Style="z-index:1;" @onclick:stopPropagation>
                @ParentDataGrid.RowOverlayTemplate( new( Item ) )
            </Div>
        }
    </TableRow>
}