@using Blazorise.Extensions;
@typeparam TItem

<Dropdown @bind-Visible="@Column.DropdownFilterVisible">
    <DropdownToggle @onclick:stopPropagation>
        <Icon Name="@IconName.Filter" Margin="@Blazorise.Margin.Is1.FromStart" Clicked="() => {}" />
    </DropdownToggle>
    <DropdownMenu>
        <Row Padding="@Blazorise.Padding.Is3" Style="cursor:default" @onclick:stopPropagation @onmouseup:stopPropagation>
            @if ( ParentDataGrid.FilterMenuTemplate is null )
            {
                <Column ColumnSize="ColumnSize.Is12">
                    <Field>
                        <Select TValue="DataGridFilterMethod" SelectedValue="Column.GetFilterMethod() ?? ParentDataGrid.FilterMethod" SelectedValueChanged="e => { Column.SetFilterMethod(e); ParentDataGrid.OnFilterChanged(Column, Column.Filter.SearchValue); }">
                            <SelectItem TValue="DataGridFilterMethod" Value="@DataGridFilterMethod.Contains">@Localizer.Localize( ParentDataGrid.Localizers?.FilterMethodContainsLocalizer, "Contains" )</SelectItem>
                            <SelectItem TValue="DataGridFilterMethod" Value="@DataGridFilterMethod.StartsWith">@Localizer.Localize( ParentDataGrid.Localizers?.FilterMethodStartsWithLocalizer, "Starts With" )</SelectItem>
                            <SelectItem TValue="DataGridFilterMethod" Value="@DataGridFilterMethod.EndsWith">@Localizer.Localize( ParentDataGrid.Localizers?.FilterMethodEndsWithLocalizer, "Ends With" )</SelectItem>
                            <SelectItem TValue="DataGridFilterMethod" Value="@DataGridFilterMethod.Equals">@Localizer.Localize( ParentDataGrid.Localizers?.FilterMethodEqualsLocalizer, "Equals" )</SelectItem>
                            <SelectItem TValue="DataGridFilterMethod" Value="@DataGridFilterMethod.NotEquals">@Localizer.Localize( ParentDataGrid.Localizers?.FilterMethodNotEqualsLocalizer, "Not Equals" )</SelectItem>
                        </Select>
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is12">
                    <Field>
                        <TextEdit Text="@Column.Filter.SearchValue?.ToString()" TextChanged="@((newValue) => ParentDataGrid.OnFilterChanged(Column, newValue))" />
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is12">
                    <Buttons Float="Blazorise.Float.End" Margin="Blazorise.Margin.Is1.FromTop">
                        <Button Clicked="ParentDataGrid.FilterData" Color="Color.Primary">Filter</Button>
                        <Button Clicked="() => ParentDataGrid.ClearFilter(Column.Field)" Color="Color.Light">Clear</Button>
                    </Buttons>
                </Column>
            }
            else
            {
                @ParentDataGrid.FilterMenuTemplate( new( Column,
                    () => Column.GetFilterMethod() ?? ParentDataGrid.FilterMethod,
                    () => Column.Filter.SearchValue,
                    EventCallback.Factory.Create<object>( this, async ( newFilterValue ) => await ParentDataGrid.OnFilterChanged( Column, newFilterValue ) ),
                    EventCallback.Factory.Create<DataGridFilterMethod?>( this, Column.SetFilterMethod ),
                    EventCallback.Factory.Create( this, ParentDataGrid.FilterData),
                    EventCallback.Factory.Create( this, async () => await ParentDataGrid.ClearFilter(Column.Field))))
            }
        </Row>
    </DropdownMenu>
</Dropdown>