@inherits Blazorise.Badge
@if ( Link != null )
{
    <a id="@ElementId" href="@Link" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <span>@ChildContent</span>
        @if ( Closable )
        {
            <a href="#" class="@CloseClassBuilder.Class" @onclick="@OnCloseClickedHandler" @onclick:preventDefault></a>
        }
    </a>
}
else
{
    <span id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <span>@ChildContent</span>
        @if ( Closable )
        {
            <a href="#" class="@CloseClassBuilder.Class" @onclick="@OnCloseClickedHandler" @onclick:preventDefault></a>
        }
    </span>
}