@inherits Blazorise.Badge
@if ( Link != null )
{
    <a id="@ElementId" href="@Link" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <span>@ChildContent</span>
        @if ( Closable )
        {
            <span class="@CloseClassBuilder.Class" @onclick="@OnCloseClickedHandler" @onclick:preventDefault="true"></span>
        }
    </a>
}
else
{
    <span id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <span>@ChildContent</span>
        @if ( Closable )
        {
            <span class="@CloseClassBuilder.Class" @onclick="@OnCloseClickedHandler"></span>
        }
    </span>
}