@inherits Base.BaseBarToggler
<a role="button" class="@ClassMapper.Class" aria-label="Toggle navigation" @onclick="@ClickHandler">
    <span class="@ClassProvider.BarTogglerIcon()" aria-hidden="true"></span>
    <span class="@ClassProvider.BarTogglerIcon()" aria-hidden="true"></span>
    <span class="@ClassProvider.BarTogglerIcon()" aria-hidden="true"></span>
    @ChildContent
</a>
