@inherits BaseBarToggler
<a role="button" class="@ClassNames" aria-label="Toggle navigation" @onclick="@ClickHandler">
    <span class="@ClassProvider.BarTogglerIcon()" aria-hidden="true"></span>
    <span class="@ClassProvider.BarTogglerIcon()" aria-hidden="true"></span>
    <span class="@ClassProvider.BarTogglerIcon()" aria-hidden="true"></span>
    @ChildContent
</a>
