@inherits BaseButton
@if ( IsAddons )
{
    <div class="@AddonContainerClassMapper.Class">
        <button @ref="@ElementRef" id="@ElementId" type="@Type.ToButtonTypeString()" class="@Classnames" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler">
            @ChildContent
        </button>
    </div>
}
else
{
    @if ( ParentIsField )
    {
        <div class="control">
            <button @ref="@ElementRef" id="@ElementId" type="@Type.ToButtonTypeString()" class="@Classnames" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler">
                @ChildContent
            </button>
        </div>
    }
    else
    {
        <button @ref="@ElementRef" id="@ElementId" type="@Type.ToButtonTypeString()" class="@Classnames" style="@StyleMapper.Style" disabled="@IsDisabled" aria-pressed="@IsActive" @onclick="@ClickHandler">
            @ChildContent
        </button>
    }
}
