@inherits Blazorise.CardImage
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <figure class="image">
        <img src="@Source" alt="@Alt">
    </figure>
</div>