@inherits Base.BaseCheckEdit
@if ( ParentIsFieldBody )
{
    <div class="field">
        <Control Role="@Role" IsInline="@IsInline">
            <FormLabel IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">
                <input type="@Type" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" @onchange="@HandleCheckedChanged" name="@RadioGroup" id="@ElementId" />
                @ChildContent
            </FormLabel>
        </Control>
        @Feedback
    </div>
}
else
{
    <Control Role="@Role" IsInline="@IsInline">
        <FormLabel IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">
            <input type="@Type" class="@ClassMapper.Class" style="@StyleMapper.Style" disabled="@IsDisabled" readonly="@IsReadonly" checked="@Checked" @onchange="@HandleCheckedChanged" name="@RadioGroup" id="@ElementId" />
            @ChildContent
        </FormLabel>
    </Control>
    @Feedback
}