@inherits BaseCheckEdit
@if ( ParentIsFieldBody )
{
    <div class="field">
        <Control Role="@Role" IsInline="@IsInline">
            <Label IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">
                <input @ref="@ElementRef" id="@ElementId" type="@Type" class="@ClassNames" style="@StyleNames" disabled="@IsDisabled" readonly="@IsReadonly" checked="@CurrentValue" @onchange="@OnChangeHandler" name="@RadioGroup" @attributes="@Attributes" />
                @ChildContent
            </Label>
        </Control>
        @Feedback
    </div>
}
else
{
    <Control Role="@Role" IsInline="@IsInline">
        <Label IsCheck="true" For="@ElementId" Style="@Style" Cursor="@Cursor">
            <input @ref="@ElementRef" id="@ElementId" type="@Type" class="@ClassNames" style="@StyleNames" disabled="@IsDisabled" readonly="@IsReadonly" checked="@CurrentValue" @onchange="@OnChangeHandler" name="@RadioGroup" @attributes="@Attributes" />
            @ChildContent
        </Label>
    </Control>
    @Feedback
}