@inherits Base.BaseDateEdit
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <input type="date" class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" pattern="@Pattern" value="@internalDate" @onchange="@InternalDateHandler" @onclick="@ClickHandler" id="@ElementId" @ref="ElementRef" placeholder="@Placeholder" min="@Min?.ToString(Utils.Parsers.InternalDateFormat)" max="@Max?.ToString(Utils.Parsers.InternalDateFormat)" />
            @ChildContent
        </div>
        @Feedback
    </div>
}
else
{
    <div class="control">
        <input type="date" class="@ClassMapper.Class" disabled="@IsDisabled" readonly="@IsReadonly" pattern="@Pattern" value="@internalDate" @onchange="@InternalDateHandler" @onclick="@ClickHandler" id="@ElementId" @ref="ElementRef" placeholder="@Placeholder" min="@Min?.ToString(Utils.Parsers.InternalDateFormat)" max="@Max?.ToString(Utils.Parsers.InternalDateFormat)" />
        @ChildContent
    </div>
    @Feedback
}