@inherits Blazorise.Fields
<div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if ( Label != null )
    {
        <Label>@Label</Label>
    }
    <CascadingValue Value=this>
        <div class="field-body">
            @ChildContent
        </div>
    </CascadingValue>
</div>
@if ( Help != null )
{
    <Help>@Help</Help>
}
