@inherits BaseFileEdit
<Control Role="ControlRole.File">
    <Label IsFile="true" For="@ElementId">
        <input id="@ElementId" type="file" class="@ClassNames" disabled="@IsDisabled" readonly="@IsReadonly" multiple="@IsMultiple" accept="@Filter" @onchange="@OnChangeHandler" @attributes="@Attributes" />
        @ChildContent
        <span class="file-cta">
            <span class="file-label">
                Browse
            </span>
        </span>
        <span class="file-name">
            @* TODO *@
        </span>
    </Label>
</Control>
