@inherits Blazorise.Jumbotron
<section @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="hero-body">
        <div class="container">
            @ChildContent
        </div>
    </div>
</section>