@typeparam TValue
@inherits BaseNumericEdit<TValue>
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <input @ref="ElementRef" @ref:suppressField id="@ElementId" inputmode="numeric" class="@ClassMapper.Class" style="@StyleMapper.Style" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" step="@Step" pattern="@Pattern" value="@Value" @onchange="@HandleOnChange" @oninput="@HandleOnInput" />
            @ChildContent
        </div>
        @Feedback
    </div>
}
else
{
    <div class="control">
        <input @ref="ElementRef" @ref:suppressField id="@ElementId" inputmode="numeric" class="@ClassMapper.Class" style="@StyleMapper.Style" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" step="@Step" pattern="@Pattern" value="@Value" @onchange="@HandleOnChange" @oninput="@HandleOnInput" />
        @ChildContent
    </div>
    @Feedback
}