@inherits Blazorise.Progress
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        @if ( HasProgressBar )
        {
            <div class="progress-bars-wrapper">
                @ChildContent
            </div>
        }
        else
        {
            <div class="progress-wrapper">
                <progress @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" value="@Percentage" min="@Min" max="@Max" @attributes="@Attributes">
                    @ChildContent
                </progress>
            </div>
        }
    </CascadingValue>
</CascadingValue>