@inherits Blazorise.ProgressBar
<div class="@ClassNames" style="@StyleNames" role="progressbar" aria-valuenow="@Percentage" aria-valuemin="@Min" aria-valuemax="@Max" @attributes="@Attributes">
    <p class="progress-value">
        @if ( ChildContent != null )
        {
            @ChildContent
        }
        else
        {
            @Value
        }
    </p>
</div>