@inherits Base.BaseSelect
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <div class="@ClassMapper.Class">
                <select disabled="@IsDisabled" readonly="@IsReadonly" onchange="@SelectionChangedHandler">
                    @ChildContent
                </select>
            </div>
        </div>
    </div>
}
else
{
    <div class="control">
        <div class="@ClassMapper.Class">
            <select disabled="@IsDisabled" readonly="@IsReadonly" onchange="@SelectionChangedHandler">
                @ChildContent
            </select>
        </div>
    </div>
}
