@typeparam TValue
@inherits Base.BaseSelect<TValue>
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <div class="@ClassMapper.Class">
                <select id="@ElementId" disabled="@IsDisabled" readonly="@IsReadonly" multiple="@IsMultiple" @onchange="@HandleOnChanged">
                    <CascadingValue Value=this>
                        @ChildContent
                    </CascadingValue>
                </select>
            </div>
        </div>
        @Feedback
    </div>
}
else
{
    <div class="control">
        <div class="@ClassMapper.Class">
            <select id="@ElementId" disabled="@IsDisabled" readonly="@IsReadonly" multiple="@IsMultiple" @onchange="@HandleOnChanged">
                <CascadingValue Value=this>
                    @ChildContent
                </CascadingValue>
            </select>
        </div>
    </div>
    @Feedback
}