@inherits Base.BaseSelect
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="@ClassMapper.Class">
            <select disabled="@IsDisabled" readonly="@IsReadonly" onchange="@SelectionChangedHandler">
                @ChildContent
            </select>
        </div>
    </div>
}
else
{
    <div class="@ClassMapper.Class">
        <select disabled="@IsDisabled" readonly="@IsReadonly" onchange="@SelectionChangedHandler">
            @ChildContent
        </select>
    </div>
}
