@inherits Blazorise.Table
<CascadingValue Value="@this" IsFixed="true">
    @if ( Responsive )
    {
        <div style="display: grid;">
            <div class="@ResponsiveClassNames">
                <table id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                    @ChildContent
                </table>
            </div>
        </div>
    }
    else
    {
        <table id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </table>
    }
</CascadingValue>