@inherits Blazorise.Tabs
<CascadingValue Value="@this" IsFixed="true">
    <CascadingValue Value="@State">
        @if ( TabPosition == TabPosition.Top )
        {
            @if ( Items != null )
            {
                <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                    <ul>
                        @Items
                    </ul>
                </div>
            }
            @if ( Content != null )
            {
                <div class="@ContentClassNames" @attributes="@Attributes">
                    @Content
                </div>
            }
        }
        else if ( TabPosition == TabPosition.Left )
        {
            <Row>
                <Column ColumnSize="ColumnSize.Is2">
                    @if ( Items != null )
                    {
                        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                            <ul>
                                @Items
                            </ul>
                        </div>
                    }
                </Column>
                <Column ColumnSize="ColumnSize.Is10">
                    @if ( Content != null )
                    {
                        <div class="@ContentClassNames" @attributes="@Attributes">
                            @Content
                        </div>
                    }
                </Column>
            </Row>
        }
        else if ( TabPosition == TabPosition.Right )
        {
            <Row>
                <Column ColumnSize="ColumnSize.Is10">
                    @if ( Content != null )
                    {
                        <div class="@ContentClassNames" @attributes="@Attributes">
                            @Content
                        </div>
                    }
                </Column>
                <Column ColumnSize="ColumnSize.Is2">
                    @if ( Items != null )
                    {
                        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                            <ul>
                                @Items
                            </ul>
                        </div>
                    }
                </Column>
            </Row>
        }
    </CascadingValue>
</CascadingValue>