@inherits Base.BaseText
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <input type="@Type" class="@ClassMapper.Class" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" value="@Text" maxlength="@MaxLength" onchange="@HandleTextChange" />
            @ChildContent
        </div>
    </div>
}
else
{
    <div class="control">
        <input type="@Type" class="@ClassMapper.Class" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" value="@Text" maxlength="@MaxLength" onchange="@HandleTextChange" />
        @ChildContent
    </div>
}