@inherits BaseTextEdit
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <input @ref="ElementRef" id="@ElementId" type="@Type" inputmode="@Mode" class="@Classnames" style="@Stylenames" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" maxlength="@MaxLength" pattern="@Pattern" value="@Text" @onchange="@HandleOnChange" @oninput="@HandleOnInput" @onkeydown="@KeyDown" @onkeypress="@KeyPress" @onkeyup="KeyUp" />
            @ChildContent
        </div>
        @Feedback
    </div>
}
else
{
    <div class="control">
        <input @ref="ElementRef" id="@ElementId" type="@Type" inputmode="@Mode" class="@Classnames" style="@Stylenames" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" maxlength="@MaxLength" pattern="@Pattern" value="@Text" @onchange="@HandleOnChange" @oninput="@HandleOnInput" @onkeydown="@KeyDown" @onkeypress="@KeyPress" @onkeyup="KeyUp" />
        @ChildContent
    </div>
    @Feedback
}