@inherits Base.BaseTextEdit
@if ( ParentIsFieldBody )
{
    <div class="field">
        <div class="control">
            <input type="@Type" inputmode="@Mode" class="@ClassMapper.Class" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" maxlength="@MaxLength" pattern="@Pattern" value="@Text" @onchange="@HandleOnChange" @oninput="@HandleOnInput" />
            @ChildContent
        </div>
        @Feedback
    </div>
}
else
{
    <div class="control">
        <input type="@Type" inputmode="@Mode" class="@ClassMapper.Class" placeholder="@Placeholder" disabled="@IsDisabled" readonly="@IsReadonly" maxlength="@MaxLength" pattern="@Pattern" value="@Text" @onchange="@HandleOnChange" @oninput="@HandleOnInput" />
        @ChildContent
    </div>
    @Feedback
}