@namespace Blazorise
@inherits BaseFocusableContainerComponent
<CascadingValue Value="@this" IsFixed="true">
    <div @ref="@containerRef" @onkeydown="@OnKeyPressedHandler" @onkeyup="@OnKeyPressedHandler">
        <div tabindex="@FocusableTabIndex" @ref="@startSecondRef" @onfocus="@OnFocusEndHandler"></div>
        <div tabindex="@FocusableTabIndex" @ref="@startFirstRef" @onfocus="@OnFocusEndHandler"></div>
        @ChildContent
        <div tabindex="@FocusableTabIndex" @ref="@endFirstRef" @onfocus="@OnFocusStartHandler"></div>
        <div tabindex="@FocusableTabIndex" @ref="@endSecondRef" @onfocus="@OnFocusStartHandler"></div>
    </div>
</CascadingValue>