@namespace Blazorise
@inherits BaseComponent
<div @ref="@containerRef" @onkeydown="@HandleKeyPresses" @onkeyup="@HandleKeyPresses">
    <div tabindex="@FocusableTabIndex" @ref="@startSecondRef" @onfocus="@FocusEndAsync"></div>
    <div tabindex="@FocusableTabIndex" @ref="@startFirstRef" @onfocus="@FocusEndAsync"></div>
    @ChildContent
    <div tabindex="@FocusableTabIndex" @ref="@endFirstRef" @onfocus="@FocusStartAsync"></div>
    <div tabindex="@FocusableTabIndex" @ref="@endSecondRef" @onfocus="@FocusStartAsync"></div>
</div>