@inherits Blazorise.Addons
<CascadingValue Value="@this" IsFixed="true">
    <span id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <span class="ant-input-wrapper ant-input-group">
            @ChildContent
        </span>
    </span>
</CascadingValue>