@inherits Blazorise.BarBrand
<CascadingValue Value="@ParentBarState">
    <span id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </span>
</CascadingValue>