@inherits Blazorise.BarDropdownItem
<li id="@ElementId" class="@ClassNames" role="menuitem" @attributes="@Attributes">
    <Blazorise.Link Style="@StyleNames" To="@To" Target="@Target" Title="@Title" Match="@Match" Clicked="@ClickHandler" Attributes="@Attributes">
        @ChildContent
    </Blazorise.Link>
</li>