@inherits Blazorise.BarDropdown
<CascadingValue Value=this>
    <CascadingValue Value="@SubMenuId" Name="SubMenuId">
        <CascadingValue Value="@Mode" Name="Mode">
            <CascadingValue Value="@IconName" Name="IconName">
                <li class="@ClassNames" style="@StyleNames" role="menuitem" @attributes="@Attributes">
                    @ChildContent
                </li>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
@code{
    string SubMenuId => $"SubMenu_{ElementId}";
}