@inherits Blazorise.BarDropdownItem
<li class="@ClassNames" style="@StyleNames" role="menuitem" @attributes="@Attributes">
    @if ( To != null )
    {
        <Blazorise.Link To="@To" Title="@Title" Match="@Match">
            @ChildContent
        </Blazorise.Link>
    }
    else
    {
        <a title="@Title" @onclick="@ClickHandler" @attributes="@Attributes">
            @ChildContent
        </a>
    }
</li>