@inherits Blazorise.BarDropdown
<CascadingValue Value=this>
    <CascadingValue Value="@Store">
        <CascadingValue Value="@SubMenuId" Name="SubMenuId">
            <li class="@ClassNames" style="@StyleNames" role="menuitem" @attributes="@Attributes">
                @ChildContent
            </li>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
@code{
    string SubMenuId => $"SubMenu_{ElementId}";
}