@inherits Blazorise.BarEnd
@if ( ParentBarState?.Mode == BarMode.Horizontal )
{
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
}
else
{
    @ChildContent
}