@inherits Blazorise.BarIcon
<span class="anticon">
    @if ( IconName is RenderFragment )
    {
        @( IconName as RenderFragment )
    }
    else
    {
        <Icon @bind-ElementRef="@ElementRef" ElementId="@ElementId" Class="@ClassNames" Style="@StyleNames" Name="@IconName" IconStyle="@IconStyle" IconSize="@IconSize" Attributes="@Attributes" />
    }
</span>