@inherits Blazorise.BarItem
<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        @if ( HasDropdown && State.Mode != BarMode.Horizontal )
        {
            @ChildContent
        }
        else
        {
            <li @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="menuitem" aria-disabled="@State.Disabled.ToString().ToLowerInvariant()" @attributes="@Attributes">
                @ChildContent
            </li>
        }
    </CascadingValue>
</CascadingValue>