@inherits Blazorise.BarItem
<CascadingValue Value=this>
    <CascadingValue Value="@Mode" Name="Mode" IsFixed="true">
        <CascadingValue Value="@IconName" Name="IconName">
            @if (HasDropdown && Mode != BarMode.Horizontal)
            {
                @ChildContent
            }
            else
            {
                <li class="@ClassNames" style="@StyleNames" role="menuitem" aria-disabled="@Disabled.ToString().ToLowerInvariant()" @attributes="@Attributes">
                    @if (IconName != null)
                    {
                        <span class="anticon">
                            <Icon Name="@IconName" />
                        </span>
                    }
                    <span>@ChildContent</span>
                </li>
            }
        </CascadingValue>
    </CascadingValue>
</CascadingValue>