@inherits Blazorise.BarLink
<Anchor ElementRef="@ElementRef" ElementId="@ElementId" Class="@ClassNames" Style="@StyleNames" To="@To" Clicked="@ClickHandler" Target="@Target" Title="@Title" Match="@Match" Attributes="@Attributes">
    <span>@ChildContent</span>
</Anchor>