@inherits Blazorise.BarLink
@if ( To != null )
{
    <Blazorise.Link Class="@ClassNames" Style="@StyleNames" To="@To" Title="@Title" Match="@Match">
        <span>@ChildContent</span>
    </Blazorise.Link>
}
else
{
    <a class="@ClassNames" style="@StyleNames" title="@Title" @onclick="@ClickHandler" @attributes="@Attributes">
        <span>@ChildContent</span>
    </a>
}