@inherits Blazorise.BreadcrumbItem
<CascadingValue Value="@this" IsFixed>
    <span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames">
        @ChildContent
    </span>
</CascadingValue>