@inherits Blazorise.BreadcrumbLink
<span class="@ClassNames">
    @if ( ParentBreadcrumbItem?.Active == true )
    {
        @ChildContent
    }
    else
    {
        <Anchor @bind-ElementRef="@ElementRef" ElementId="@ElementId" Class="@ClassNames" Style="@StyleNames" To="@To" Target="@Target" Title="@Title" Match="@Match" Clicked="@ClickHandler" Attributes="@Attributes">
            @ChildContent
        </Anchor>
    }
</span>
<span class="ant-breadcrumb-separator">/</span>