@inherits Blazorise.DropdownMenu
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@MenuStyleNames" @attributes="@Attributes">
    <ul role="menu" direction="ltr" tabindex="0" class="ant-dropdown-menu ant-dropdown-menu-light ant-dropdown-menu-root ant-dropdown-menu-vertical">
        @ChildContent
    </ul>
</div>