@inherits Blazorise.DropdownItem
<li id="@ElementId" role="menuitem" class="@ClassNames" style="@StyleNames" aria-disabled="@(Disabled.ToString().ToLowerInvariant())" @onclick="@ClickHandler" @attributes="@Attributes">
    @ChildContent
</li>