@inherits Blazorise.FieldLabel
<div class="@ContainerClassNames">
    <label id="@ElementId" class="@ClassNames" style="@StyleNames" for="@For" @attributes="@Attributes">
        @ChildContent
    </label>
</div>