@inherits Blazorise.ModalContent
<CascadingValue Value="@this" IsFixed>
    <div id="@WrapperElementId" class="ant-modal-wrap" role="dialog" style="@(ParentModal?.IsVisible == true ? "" : "display: none;")">
        <div class="@DialogClassNames" role="document">
            <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        </div>
    </div>
</CascadingValue>