@inherits Blazorise.OffcanvasHeader
<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="ant-drawer-header-title">@ChildContent</div>
    <div class="ant-drawer-extra"></div>
</div>
