@inherits Blazorise.Tab
<div role="tab" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" aria-selected="@Active" aria-disabled="false" @attributes="@Attributes">
    @ChildContent
</div>