@inherits Blazorise.TableRowHeader
<td id="@ElementId" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler"
    draggable="@DraggableString"
    @ondrag="@OnDragHandler"
    @ondrag:preventDefault="@DragPreventDefault"
    @ondragend="@OnDragEndHandler"
    @ondragend:preventDefault="@DragEndPreventDefault"
    @ondragenter="@OnDragEnterHandler"
    @ondragenter:preventDefault="@DragEnterPreventDefault"
    @ondragleave="@OnDragLeaveHandler"
    @ondragleave:preventDefault="@DragLeavePreventDefault"
    @ondragover="@OnDragOverHandler"
    @ondragover:preventDefault="@DragOverPreventDefault"
    @ondragstart="@OnDragStartHandler"
    @ondragstart:preventDefault="@DragStartPreventDefault"
    @ondrop="@OnDropHandler"
    @ondrop:preventDefault="@DropPreventDefault"
    @attributes="@Attributes">
    @ChildContent
</td>