@inherits Blazorise.TabPanel
<div @ref="@ElementRef" id="@ElementId" role="tabpanel" class="@ClassNames" style="@StyleNames" aria-hidden="@(Active ? "false" : "true")" @attributes="@Attributes">
    @ChildContent
</div>