@inherits Blazorise.TabsContent
<CascadingValue Value="@this" IsFixed="true">
    <CascadingValue Value="@State">
        <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>