@namespace ThemeApp

<Row>
    <Column ColumnSize="ColumnSize.IsHalf">
        <Card>
            <CardHeader>
                <Paragraph Margin="Margin.IsAuto" Color="TextColor.Black50">
                    <CardTitle>Snackbar Settings</CardTitle>
                </Paragraph>
            </CardHeader>
            <CardBody>
                <ColorTransparencyEdit Label="Background Color" Color="@Theme.SnackbarOptions.BackgroundColor"
                                       ColorChanged="@( x => { Theme.SnackbarOptions.BackgroundColor = x; Theme.ThemeHasChanged(); })" />
                <ColorTransparencyEdit Label="Button Color" Color="@Theme.SnackbarOptions.ButtonColor"
                                       ColorChanged="@( x => { Theme.SnackbarOptions.ButtonColor = x; Theme.ThemeHasChanged(); })" />
                <ColorTransparencyEdit Label="Button Hover Color" Color="@Theme.SnackbarOptions.ButtonHoverColor"
                                       ColorChanged="@( x => { Theme.SnackbarOptions.ButtonHoverColor = x; Theme.ThemeHasChanged(); })" />
                <ColorTransparencyEdit Label="Text Color" Color="@Theme.SnackbarOptions.TextColor"
                                       ColorChanged="@( x => { Theme.SnackbarOptions.TextColor = x; Theme.ThemeHasChanged(); })" />
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.IsHalf">Variant Background Color Level</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsHalf">
                        <Slider TValue="int" Min="-10" Max="10" Step="1"
                                Value="@Theme.SnackbarOptions.VariantBackgroundColorLevel"
                                ValueChanged="@(x=>{ Theme.SnackbarOptions.VariantBackgroundColorLevel = x; Theme.ThemeHasChanged(); })" />
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.IsHalf">
        <Card>
            <CardHeader>
                <Paragraph Margin="Margin.IsAuto" Color="TextColor.Black50">
                    <CardTitle>Preview</CardTitle>
                </Paragraph>
            </CardHeader>
            <CardBody>
                <Button Color="Color.None" Clicked="@(()=>SnackbarPreview.Show())">Normal</Button>
                <Button Color="Color.Primary" Clicked="@(()=>SnackbarPreviewPrimary.Show())">Primary</Button>
                <Button Color="Color.Secondary" Clicked="@(()=>SnackbarPreviewSecondary.Show())">Secondary</Button>
                <Button Color="Color.Success" Clicked="@(()=>SnackbarPreviewSuccess.Show())">Success</Button>
                <Button Color="Color.Danger" Clicked="@(()=>SnackbarPreviewDanger.Show())">Danger</Button>
                <Button Color="Color.Warning" Clicked="@(()=>SnackbarPreviewWarning.Show())">Warning</Button>
                <Button Color="Color.Info" Clicked="@(()=>SnackbarPreviewInfo.Show())">Information</Button>
                <Button Color="Color.Light" Clicked="@(()=>SnackbarPreviewLight.Show())">Light</Button>
                <Button Color="Color.Dark" Clicked="@(()=>SnackbarPreviewDark.Show())">Dark</Button>
                <Snackbar @ref="SnackbarPreview" Color="SnackbarColor.None">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreview.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewPrimary" Color="SnackbarColor.Primary">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewPrimary.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewSecondary" Color="SnackbarColor.Secondary">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewSecondary.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewSuccess" Color="SnackbarColor.Success">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewSuccess.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewDanger" Color="SnackbarColor.Danger">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewDanger.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewWarning" Color="SnackbarColor.Warning">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewWarning.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewInfo" Color="SnackbarColor.Info">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewInfo.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewLight" Color="SnackbarColor.Light">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewLight.Hide())">Action</SnackbarAction>
                </Snackbar>
                <Snackbar @ref="SnackbarPreviewDark" Color="SnackbarColor.Dark">
                    <SnackbarBody>Snackbar Example</SnackbarBody>
                    <SnackbarAction Clicked="@(()=>SnackbarPreviewDark.Hide())">Action</SnackbarAction>
                </Snackbar>
            </CardBody>
        </Card>
    </Column>
</Row>
